<%= form_for @problem_category, :html => { :class => "form-horizontal problem_category" } do |f| %>

  <% if @problem_category.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@problem_category.errors.count, "error") %> prohibited this problem_category from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @problem_category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :descriptions, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :descriptions, :class => 'form-control' %>
    </div>
    <%=f.error_span(:descriptions) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                problem_categories_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
