<%- model_class = ProblemCategory -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:descriptions) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @problem_categories.each do |problem_category| %>
      <tr>
        <td><%= link_to problem_category.id, problem_category_path(problem_category) %></td>
        <td><%= problem_category.name %></td>
        <td><%= problem_category.descriptions %></td>
        <td><%= problem_category.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      problem_category_path(problem_category), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_problem_category_path(problem_category), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      problem_category_path(problem_category),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_problem_category_path,
            :class => 'btn btn-primary' %>
