<%- model_class = ProblemCategory -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @problem_category.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:descriptions) %>:</strong></dt>
  <dd><%= @problem_category.descriptions %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              problem_categories_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_problem_category_path(@problem_category), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              problem_category_path(@problem_category),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
