<section class="d-none d-md-block" style="min-height:67vh">
  <div class="container">
    <div class="row">
      <div class="col-md-3">

        <% if current_user.messeage_boxs_client.count == 0 %>
        <a href="<%= init_box_path %>">
          <div class="text-center">
            <img src="<%= asset_url('box.png') %>" alt="" class="w-100 mb-3 hvr-grow">
            <h3 class="text-blue-dark">Box Uneg Uneg</h3>
            </div >
          </a>
        <% else %>
        <% if current_user.messeage_boxs_client.last.status.to_s == "finish" || current_user.messeage_boxs_client.last.status.to_s == "init" %>
        <a href="<%= list_box_path %>">
        <div class="text-center">
          <img src="<%= asset_url('box.png') %>" alt="" class="w-100 mb-3 hvr-grow">
          <h3 class="text-blue-dark">Box Uneg Uneg</h3>
        </div>
        </a>
        <% else %>
        <% if current_user.messeage_boxs_client.last.status == "rated" %>
        <a href="<%= init_box_path %>">
          <div class="text-center">
            <img src="<%= asset_url('box.png') %>" alt="" class="w-100 mb-3 hvr-grow">
            <h3 class="text-blue-dark">Box Uneg Uneg</h3>
            </div >
          </a>
        <% else %>

        <a href="<%= before_box_path(:question_1) %>">
          <div class="text-center">
            <img src="<%= asset_url('box.png') %>" alt="" class="w-100 mb-3 hvr-grow">
            <h3 class="text-blue-dark">Box Uneg Uneg</h3>
          </div>
        </a>
        <% end %>
        <% end %>
        <% end %>
      </div>
      <div class="col-md-3">
        <% if current_user.conversations.count == 0 %>
        <a href="<%= init_conversation_path %>">
          <div class="text-center">
            <img src="<%= asset_url('chat.png') %>" alt="" class="w-100 mb-3 hvr-grow">
            <h3 class="text-blue-dark">Chat</h3>
          </div>
        </a>
        <% else %>
        <% if current_user.conversations.last.status == "finish"  || current_user.conversations.last.status == "client-reply" || current_user.conversations.last.status == "motivator-reply" %>
        <a href="<%= messages_path %>">
          <div class="text-center">
            <img src="<%= asset_url('chat.png') %>" alt="" class="w-100 mb-3 hvr-grow">
            <h3 class="text-blue-dark">Chat</h3>
          </div>
        </a>
          <% else %>
          <a href="<%= init_conversation_path %>">
            <div class="text-center">
              <img src="<%= asset_url('chat.png') %>" alt="" class="w-100 mb-3 hvr-grow">
              <h3 class="text-blue-dark">Chat</h3>
            </div>
          </a>
        <% end %>


        <% end %>
        </div>
      <div class="col-md-3">
        <a href="<%= mtv_info_path %>">
          <div class="text-center">
            <img src="<%= asset_url('info-motivator.png') %>" alt="" class="w-100 mb-3 hvr-grow">
            <h3 class="text-blue-dark">Info Motivator</h3>
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="<%= history_path %>">
          <div class="text-center">
            <img src="<%= asset_url('history.png') %>" alt="" class="w-100 mb-3 hvr-grow">
            <h3 class="text-blue-dark">History</h3>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="d-block d-sm-none">
  <div class="container">
    <div class="owl-carousel dashboard-slider owl-theme">
    <div class="col-md-12">
              <% if current_user.messeage_boxs_client.count == 0 %>
              <a href="<%= init_box_path %>">
                <div class="text-center">
                  <img src="<%= asset_url('box.png') %>" alt="" class="w-100 mb-3 hvr-grow">
                  <h3 class="text-blue-dark">Box Uneg Uneg</h3>
                  </div >
                </a>
              <% else %>
              <% if current_user.messeage_boxs_client.last.status.to_s == "finish" || current_user.messeage_boxs_client.last.status.to_s == "init" %>
              <a href="<%= list_box_path %>">
              <div class="text-center">
                <img src="<%= asset_url('box.png') %>" alt="" class="w-100 mb-3 hvr-grow">
                <h3 class="text-blue-dark">Box Uneg Uneg</h3>
              </div>
              </a>
              <% else %>
              <% if current_user.messeage_boxs_client.last.status == "rated" %>
              <a href="<%= init_box_path %>">
                <div class="text-center">
                  <img src="<%= asset_url('box.png') %>" alt="" class="w-100 mb-3 hvr-grow">
                  <h3 class="text-blue-dark">Box Uneg Uneg</h3>
                  </div >
                </a>
              <% else %>

              <a href="<%= before_box_path(:question_1) %>">
                <div class="text-center">
                  <img src="<%= asset_url('box.png') %>" alt="" class="w-100 mb-3 hvr-grow">
                  <h3 class="text-blue-dark">Box Uneg Uneg</h3>
                </div>
              </a>
              <% end %>
              <% end %>
              <% end %>
            </div>
      <div class="col-md-12">
        <% if  current_user.conversations.count ==0 %>
        <a href="<%= init_conversation_path %>">
          <div class="text-center">
            <img src="<%= asset_url('chat.png') %>" alt="" class="w-100 mb-3 hvr-grow">
            <h3 class="text-blue-dark">Chat</h3>
          </div>
        </a>
          <% else %>
          <% if current_user.conversations.last.status == "finish" || current_user.conversations.last.status == "rated" || current_user.conversations.last.status == "client-reply" || current_user.conversations.last.status == "motivator-reply" %>
          <a href="<%= init_conversation_path %>">
            <div class="text-center">
              <img src="<%= asset_url('chat.png') %>" alt="" class="w-100 mb-3 hvr-grow">
              <h3 class="text-blue-dark">Chat</h3>
            </div>
          </a>
            <% else %>

          <a href="<%= messages_path %>">
            <div class="text-center">
              <img src="<%= asset_url('chat.png') %>" alt="" class="w-100 mb-3 hvr-grow">
              <h3 class="text-blue-dark">Chat</h3>
            </div>
          </a>
        <% end %>


        <% end %>

      </div>
      <div class="col-md-12">
        <a href="<%= mtv_info_path %>">
          <div class="text-center">
            <img src="<%= asset_url('info-motivator.png') %>" alt="" class="w-100 mb-3 hvr-grow">
            <h3 class="text-blue-dark">Info Motivator</h3>
          </div>
        </a>
      </div>
      <div class="col-md-12">
        <a href="<%= history_path %>">
          <div class="text-center">
            <img src="<%= asset_url('history.png') %>" alt="" class="w-100 mb-3 hvr-grow">
            <h3 class="text-blue-dark">History</h3>
          </div>
        </a>
      </div>
    </div>

  </div>
</section>
