<section class="d-none d-md-block">
  <div class="container">
    <div class="row">
      <div class="col-md-3 position-relative">
        <% unless @notif_msg_box == 0 %>
        <div class="position-absolute d-flex align-items-center justify-content-center" style="height:50px;width:50px;background-color:#65c8d0;padding:5px;color:white;border-radius:50%;z-index:2;">
          <span><strong><%= @notif_msg_box.to_i %></strong></span>
        </div>
        <% end %>

        <a href="<%= list_box_path %>">
          <div class="text-center">
            <img src="<%= asset_url('box.png') %>" alt="" class="w-100 mb-3 hvr-grow">
            <h3 class="text-blue-dark">Box Uneg Uneg</h3>
          </div>
        </a>
      </div>
      <div class="col-md-3 position-relative">
        <% unless @notif_lv_chat == 0 %>
        <div class="position-absolute d-flex align-items-center justify-content-center" style="height:50px;width:50px;background-color:#65c8d0;padding:5px;color:white;border-radius:50%;z-index:2;">
          <span><strong><%= @notif_lv_chat.to_i %></strong></span>
        </div>
        <% end %>
        <a href="<%= list_chat_path %>">
          <div class="text-center">
            <img src="<%= asset_url('chat.png') %>" alt="" class="w-100 mb-3 hvr-grow">
            <h3 class="text-blue-dark">Chat</h3>
          </div>
        </a>
      </div>

      <div class="col-md-3">
        <a href="<%= mtv_info_path %>">
          <div class="text-center">
            <img src="<%= asset_url('info-motivator.png') %>" alt="" class="w-100 mb-3 hvr-grow">
            <h3 class="text-blue-dark">Info Motivator</h3>
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="<%= history_mtv_path %>">
          <div class="text-center">
            <img src="<%= asset_url('history.png') %>" alt="" class="w-100 mb-3 hvr-grow">
            <h3 class="text-blue-dark">History</h3>
          </div>
        </a>
      </div>

    </div>
  </div>
</section>

<section class="d-block d-sm-none">
  <div class="container">
    <div class="owl-carousel dashboard-slider owl-theme">
      <div class="col-md-12 position-relative">
        <% unless @notif_msg_box == 0 %>
        <div class="position-absolute d-flex align-items-center justify-content-center" style="height:50px;width:50px;background-color:#65c8d0;padding:5px;color:white;border-radius:50%;z-index:2;">
          <span><strong><%= @notif_msg_box.to_i %></strong></span>
        </div>
        <% end %>
        <a href="<%= list_box_path %>">
          <div class="text-center">
            <img src="<%= asset_url('box.png') %>" alt="" class="w-100 mb-3 hvr-grow">
            <h3 class="text-blue-dark">Box Uneg Uneg</h3>
          </div>
        </a>
      </div>
      <div class="col-md-12 position-relative">
        <% unless @notif_lv_chat == 0 %>
        <div class="position-absolute d-flex align-items-center justify-content-center" style="height:50px;width:50px;background-color:#65c8d0;padding:5px;color:white;border-radius:50%;z-index:2;">
          <span><strong><%= @notif_lv_chat.to_i %></strong></span>
        </div>
        <% end %>
        <div class="col-md-3">
          <a href="<%= list_chat_path %>">
            <div class="text-center">
              <img src="<%= asset_url('chat.png') %>" alt="" class="w-100 mb-3 hvr-grow">
              <h3 class="text-blue-dark">Chat</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-12">
        <a href="<%= mtv_info_path %>">
          <div class="text-center">
            <img src="<%= asset_url('info-motivator.png') %>" alt="" class="w-100 mb-3 hvr-grow">
            <h3 class="text-blue-dark">Info Motivator</h3>
          </div>
        </a>
      </div>
      <div class="col-md-12">
        <a href="<%= history_mtv_path %>">
          <div class="text-center">
            <img src="<%= asset_url('history.png') %>" alt="" class="w-100 mb-3 hvr-grow">
            <h3 class="text-blue-dark">History</h3>
          </div>
        </a>
      </div>
    </div>

  </div>
</section>
