<% MessageBox.where(status: "init").where.not(problem_category_id:nil).each do |x| %>
<tr>
  <td class="txt-oflo"><%= x.user.full_name %></td>
  <td class="txt-oflo"><%= x.created_at.strftime('%d-%m-%Y %T ') %></td>
  <td class="txt-oflo"><%= x.problem_category.name rescue"x" %></td>
  <td class="txt-oflo"><a href="<%= message_box_path(x.id) %>" class="btn btn-primary">Lihat</a></td>
</tr>

<% end %>
