<% @conversation.each do |x| %>
<tr>
  <td class="txt-oflo"><%= x.user.full_name %></td>
  <td class="txt-oflo"><%= x.created_at.strftime('%d-%m-%Y  %T ') %></td>
  <td class="txt-oflo"><%= x.problem_category.name rescue"" %></td>
  <td class="txt-oflo"><%= x.motivator.motivator_code rescue "belum ada motivator" %></td>

  <td class="txt-oflo">
    <span class="badge badge-danger">
      <% if x.status == "init" %>
      BELUM ADA MOTIVATOR
      <% else %>
      <%=  x.status  %>
      <%= ((Time.now - @conversation.last.messages.last.created_at) / 1.minute).round rescue "-" %>
      <% end %>
    </span>
  </td>

  <td class="txt-oflo"><a href="<%= conversation_path(x.id) %>" class="btn btn-primary">Lihat</a></td>
</tr>
<% end %>
