<% if MessageBox.where(status: "init").where.not(problem_category_id:nil).count >= 1 %>
<script type="text/javascript">
  toastr.info('Ada Box Uneg Uneg belum di buka', 'Box Uneg Uneg', {timeOut: 3000})
  toastr.options = {
    "closeButton": true,
    "debug": false,
    "newestOnTop": true,
    "progressBar": false,
    "positionClass": "toast-bottom-right",
    "preventDuplicates": 1,
    "onclick": null,
     "maxOpened": 1,
    "showDuration": "2000",
    "hideDuration": "2000",
    "timeOut": "2000",
    "extendedTimeOut": "1000",
    "showEasing": "swing",
    "hideEasing": "linear",
    "showMethod": "fadeIn",
    "hideMethod": "fadeOut"
  };

</script>

<% end %>
<% if Conversation.where(status: "init").where.not(problem_category_id:nil).count >= 1 %>
<script type="text/javascript">
  toastr.warning('Ada Chat belum db assign', 'Chat', {timeOut: 3000})
  toastr.options = {
    "closeButton": true,
    "debug": false,
    "newestOnTop": true,
    "progressBar": false,
    "positionClass": "toast-bottom-right",
    "preventDuplicates": 1,
    "onclick": null,
     "maxOpened": 1,
    "showDuration": "2000",
    "hideDuration": "2000",
    "timeOut": "2000",
    "extendedTimeOut": "1000",
    "showEasing": "swing",
    "hideEasing": "linear",
    "showMethod": "fadeIn",
    "hideMethod": "fadeOut"
  };

</script>
<% end %>
<audio autoplay loop>
  <source src="<%= asset_url('eventually.mp3') %>" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>
