<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="p-3 shadow" style="overflow-y:scroll">
          <div class="d-block mb-3">
            <div class="my-1">
              <h3><strong>Gimana caranya curhat di Hallo Arif ?</strong></h3>

<p>Atas izin dan pertolongan Sang Maha Pencipta. Hallo Arif akan membuka pelayanan Secara online kalian bisa download aplikasi Hallo Arif melalui playstore dan silahkan memilih produk yang kalian sukai.&nbsp;</p>

<h3><strong>Kapan nih kita bisa curhat di Hallo Arif ?</strong></h3>

<p>Atas izin dan pertolongan Sang Maha Pencipta. Hallo Arif &nbsp;memiliki jam oprasional layanan motivasi di jam 07.00 &ndash; 22.00 &nbsp;WIB dan kedepanya akan menerima curhatan kalian 24 jam ! keren kannn ? keren doong.<br />
Siapa aja sih yang bisa menggunakan aplikasi di Hallo Arif ?<br />
Siapa saja berhak untuk mendapat motivasi, siapa saja berhak untuk di dengar keluh kesah nya, siapa saja berhak untuk mempunyai hidup yang lebih baik, dan siapa saja berhak untuh mendekatkan diri kepada Sang Maha Pencipta. Untuk menyelesaikan semua masalah nya. So, Hallo Arif tidak mengenal usia, jabatan, jenis kelamin, dll. Kami siap menerima dan menampung semua keluh kesah serta siap memberikan motivator ke semua orang.</p>

<h3><br />
<strong>Seberapa lama kita bisa curhat ?</strong></h3>

<p>Hallo Arif memberikan waktu untuk klien curhat melalui telpon maksimal 30 menit untuk setiap sesi curhat. Tapi kalau belum puas dan mau nambah lagi, nanti motivatornya akan bertanya langsung ke klien yang masih ingin curhat.</p>

<h3><br />
<strong>Seberapa sering kita bisa curhat ?</strong></h3>

<p>Kamu boleh dan bisa curhat kapanpun, dimanapun dan sesuai dengan kebutuhan motivasi yang dibutuhkan. Karena di Hallo Arif ada Box Uneg-Uneg yang bisa menampung semua curhatan mu.&nbsp;</p>

<h3><strong>Bayar ga sih ?</strong></h3>

<p>Curhat by phone dan chat pihak Hallo Arif memberikan biaya namun biaya yang dikeluarkan masih terjangkau selain itu yang didapatkan klien Hallo Arif atas ijin Sang Maha Pencipta mendapatkan hal lain yang juga bermanfaat.</p>

<h3><strong>Gimana sih caranya daftar jadi client Hallo Arif ?&nbsp;</strong></h3>

<p>Kalian bisa download langsung aplikasi Hallo Arif, kemudia pilih <a href="https://halloarif.id/register"><u>sign up/daftar</u></a>&nbsp;dan isi kolom yang tertera ya..<br />
&nbsp;</p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
