

<button type="button" class="btn btn-default  d-none">
  Send WebPush
</button>

<% if current_user.is_human_capital? || current_user.is_admin? %>
<% if params[:chtmtv].present? %>

<script type="text/javascript">
  var settings = {
    "async": true,
    "crossDomain": true,
  "url": "https://reguler.zenziva.net/apps/smsapi.php?userkey=57z0sk&passkey=rYQFPeWHbX&nohp=082280793889&pesan=<%= URI.encode("Kepada #{User.find(params[:chtmtv])}, ada box uneg uneg yang harus km jawab") %>",
    "method": "POST",
    "headers": {
      "User-Agent": "PostmanRuntime/7.11.0",
      "Accept": "*/*",
      "Cache-Control": "no-cache",
      "Postman-Token": "558b0d17-a75b-444e-bbc7-5a368891bebe,236c0d2d-70f9-4c0c-9f2d-3bc0214cdca7",
      "Host": "reguler.zenziva.net",
      "accept-encoding": "gzip, deflate",
      "content-length": "",
      "Connection": "keep-alive",
      "cache-control": "no-cache"
    }
  }

  $.ajax(settings).done(function (response) {
    console.log(response);
  });
</script>
<% end %>

<div class="card-group">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="d-flex no-block align-items-center">
            <div>
              <i class="mdi mdi-emoticon font-20 text-muted"></i>
              <p class="font-16 m-b-5">All Clients</p>
            </div>
            <div class="ml-auto">
              <h1 class="font-light text-right"><%= @all_client.count %></h1>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="progress">
            <div class="progress-bar bg-info" role="progressbar" style="width: 100%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="d-flex no-block align-items-center">
            <div>
              <i class="mdi mdi-image font-20  text-muted"></i>
              <p class="font-16 m-b-5">New Register This Month</p>
            </div>
            <div class="ml-auto">
              <h1 class="font-light text-right"><%= @new_client.count %></h1>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: <%= @new_client.count / @all_client.count * 100 %>%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="d-flex no-block align-items-center">
            <div>
              <i class="mdi mdi-currency-eur font-20 text-muted"></i>
              <p class="font-16 m-b-5">All Box Uneg Uneg</p>
            </div>
            <div class="ml-auto">
              <h1 class="font-light text-right"><%= @message_box.count %></h1>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="progress">
            <div class="progress-bar bg-purple" role="progressbar" style="width: <%= @message_box.where.not(status: "finish").count / @message_box.count * 100  rescue "0"%>; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="d-flex no-block align-items-center">
            <div>
              <i class="mdi mdi-currency-eur font-20 text-muted"></i>
              <p class="font-16 m-b-5">Chat Motivasi</p>
            </div>
            <div class="ml-auto">
              <h1 class="font-light text-right"><%= @conversation.count %></h1>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="progress">
            <div class="progress-bar bg-purple" role="progressbar" style="width: 65%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="d-block">
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <h3>Problem Category by Box Uneg Uneg</h3>
        <div class="mt-3">
          <div id="bxung" style="height:300p;"></div>
          <script type="text/javascript">
            Morris.Bar({
              element: 'bxung',
              resize: true,
              hideHover: 'auto',
              data: [
              <% MessageBox.all.group_by{|c| c.created_at.strftime("%F")}.each do |g| %>
              {date: '<%=  g.first  %>'<% ProblemCategory.all.each do |x| %>, <%= x.name.first(5).downcase %>:'<%= g.last.map{|d| d.problem_category_id.to_i}.count(x.id) %>'<% end %>},
              <% end %>
              ],
              xkey: 'date',
              ykeys: [<% ProblemCategory.all.each do |x| %> '<%= x.name.first(5).downcase %>' <% unless ProblemCategory.last.id == x.id %>,<%end%> <% end %>],
              labels: [<% ProblemCategory.all.each do |x| %> '<%= x.name %>' <% unless ProblemCategory.last.id == x.id %>,<%end%> <% end %>]
            });
          </script>

        </div>
      </div>
      <div class="col-md-6">
        <h3>Problem Category by Chat Motivasi</h3>
        <div id="conver"></div>
        <script type="text/javascript">
          Morris.Bar({
            element: 'conver',
            resize: true,
            hideHover: 'auto',
            data: [
            <% Conversation.all.group_by{|c| c.created_at.strftime("%F")}.each do |g| %>
            {date: '<%=  g.first  %>'<% ProblemCategory.all.each do |x| %>, <%= x.name.first(5).downcase %>:'<%= g.last.map{|d| d.problem_category_id.to_i}.count(x.id) %>'<% end %>},
            <% end %>
            ],
            xkey: 'date',
            ykeys: [<% ProblemCategory.all.each do |x| %> '<%= x.name.first(5).downcase %>' <% unless ProblemCategory.last.id == x.id %>,<%end%> <% end %>],
            labels: [<% ProblemCategory.all.each do |x| %> '<%= x.name %>' <% unless ProblemCategory.last.id == x.id %>,<%end%> <% end %>]
          });
        </script>
      </div>
    </div>






  </div>
</div>

<% if current_user.is_human_capital? %>

<div class="card">
 <div class="card-body">
   <div class="d-flex align-items-center">
     <h3 class="card-title mb-0">Box Uneg Uneg Belum di Baca</h3>
   </div>
   <div class="table-responsive">
     <table class="table dta table-hover">
       <thead>
         <tr>
           <th class="border-top-0">NAME</th>
           <th class="border-top-0">DATE</th>
           <th class="border-top-0">CATEGORY</th>
           <th class="border-top-0">ACTION</th>
         </tr>
       </thead>
       <tbody id="list-msgbox">
            <%= render partial: 'list_msgbox'  %>
      </tbody>
     </table>
   </div>
 </div>
</div>
<div class="card">
 <div class="card-body">
   <div class="d-flex align-items-center">
     <h3 class="card-title mb-0">Chat Belum Di Assign</h3>
   </div>
   <div class="table-responsive">
     <table class="table  table-hover">
       <thead>
         <tr>
           <th class="border-top-0">NAME</th>
           <th class="border-top-0">DATE</th>
           <th class="border-top-0">CATEGORY</th>
           <th class="border-top-0">Motivator</th>
           <th class="border-top-0">ACTION</th>
         </tr>
       </thead>
       <tbody id="list-conver">

         <%= render partial: 'list_conversation'  %>


       </tbody>
     </table>
   </div>
 </div>
</div>
<!-- true -->
<% end %>


<div class="card">
  <div class="card-body">
    <h3>Motivator Online</h3>
    <table class="table dta table-striped">
      <thead>
        <tr>
          <th>Code Motivator</th>
          <th>Email Motivator</th>

        </tr>
      </thead>
      <tbody class="oln">
        <% @users.each do |user| %>
        <% if user.is_signed_in %>
        <tr data-id="<%= user.id %>">
          <td><%= user.motivator_code %></td>
          <td><%= user.email %></td>

        </tr>
        <% end %>

        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script type="text/javascript">
  $(document).ready((function(_this) {
    return function() {
      var addLoggenInUser, channel, pusher, removeLoggedOutUser;
      addLoggenInUser = function(user) {
        if (user.motivator_code != null) {
          $('.oln').append("<tr data-id=\"" + user.id + "\">\n            <td>" + user.motivator_code + "</td>\n            <td>" + user.email + "</td>\n          </tr>");
        }
      };
      removeLoggedOutUser = function(user) {
        user = $('tr[data-id=\'' + user.id + '\']');
        $(user).remove();
      };
      pusher = new Pusher('15a53980776b3ef247a6', {
        cluster: 'ap1',
        encrypted: true
      });
      channel = pusher.subscribe('activity');
      channel.bind('login', function(data) {
        return addLoggenInUser(data);
      });
      channel.bind('logout', function(data) {
        removeLoggedOutUser(data);
      });
    };
  })(this));

  // ---
  // generated by coffee-script 1.9.2
</script>

<div class="card">
  <div class="card-body">
    <h3>Jadwal Motivator hari Ini (<%= Time.now.strftime("%A") %>)</h3>
    <table class="table dta table-striped">
      <thead>
        <tr>
          <th>Code Motivator</th>
          <th>Last Login</th>
          <th>Total Aktifitas</th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% Schedule.where(date: Time.now.strftime("%A").to_s.downcase!).each do |sch| %>
        <tr>
          <td><%= sch.motivator.motivator_code  rescue sch.id %> </td>
          <td><%= sch.motivator.last_sign_in_at.strftime("%e %B %Y  %T ")  rescue "-"  %></td>
          <td><%= sch.motivator.messeage_boxs_motivator.count + sch.motivator.conversations_motivator.count rescue  "-" %></td>
          <td>
            <%= link_to t('.show', :default => t("helpers.links.show")),
            user_path(sch.motivator), :class => 'btn btn-default btn-xs'  rescue '' %>
            <%# link_to t('.edit', :default => t("helpers.links.edit")),
            edit_detail_motivator_path(user.detail_motivator.id), :class => 'btn btn-default btn-xs' %>
            <%# link_to t('.destroy', :default => t("helpers.links.destroy")),
            user_path(user),
            :method => :delete,
            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
            :class => 'btn btn-xs btn-danger' %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<% end %>


<% if current_user.is_finance? %>
<div class="card-group">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="d-flex no-block align-items-center">
            <div>
              <i class="mdi mdi-emoticon font-20 text-muted"></i>
              <p class="font-16 m-b-5">All Clients</p>
            </div>
            <div class="ml-auto">
              <h1 class="font-light text-right"><%= @all_client.count %></h1>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="progress">
            <div class="progress-bar bg-info" role="progressbar" style="width: 100%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="d-flex no-block align-items-center">
            <div>
              <i class="mdi mdi-image font-20  text-muted"></i>
              <p class="font-16 m-b-5">New Register This Month</p>
            </div>
            <div class="ml-auto">
              <h1 class="font-light text-right"><%= @new_client.count %></h1>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: <%= @new_client.count / @all_client.count * 100 %>%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="d-flex no-block align-items-center">
            <div>
              <i class="mdi mdi-currency-eur font-20 text-muted"></i>
              <p class="font-16 m-b-5">All Box Uneg Uneg</p>
            </div>
            <div class="ml-auto">
              <h1 class="font-light text-right"><%= @message_box.count %></h1>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="progress">
            <div class="progress-bar bg-purple" role="progressbar" style="width: <%= @message_box.where.not(status: "finish").count / @message_box.count * 100  rescue "0"%>; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="d-flex no-block align-items-center">
            <div>
              <i class="mdi mdi-currency-eur font-20 text-muted"></i>
              <p class="font-16 m-b-5">Chat Motivasi</p>
            </div>
            <div class="ml-auto">
              <h1 class="font-light text-right"><%= @conversation.count %></h1>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="progress">
            <div class="progress-bar bg-purple" role="progressbar" style="width: 65%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">

  <div class="col-lg-4 col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Campaign</h4>
        <div id="donut-example"></div>
        <!-- row -->
        <div class="row text-center text-lg-left">
          <!-- column -->
          <div class="col-4">
            <h4 class="m-b-0 font-medium"><%= @user_from_mkt / @new_client.count * 100 %>%</h4>
            <span class="text-muted">MKT</span>
          </div>
          <!-- column -->
          <div class="col-4">
            <h4 class="m-b-0 font-medium"><%= @user_from_dkt / @new_client.count * 100 %>%</h4>
            <span class="text-muted">DKT</span>
          </div>
          <!-- column -->
          <div class="col-4">
            <h4 class="m-b-0 font-medium"><%= @user_direct / @new_client.count * 100 %>%</h4>
            <span class="text-muted">Direct</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="card">
      <div class="card-body">
        <div class="page-header">
          <h1>Paket Aktif</h1>
        </div>
        <table class="table dta table-striped">
          <thead>
            <%- model_class = Package -%>
            <tr>
              <th><%= model_class.human_attribute_name(:id) %></th>
              <th><%= model_class.human_attribute_name(:name) %></th>
              <th>Pengguna</th>
              <th><%=t '.actions', :default => t("helpers.actions") %></th>
            </tr>
          </thead>
          <tbody>
            <% Package.all.each do |package| %>
            <tr>
              <td><%= link_to package.id, package_path(package) %></td>
              <td><%= package.name %></td>
              <td><%= Conversation.where(package_id: package.id).count %></td>
              <td>
                <%= link_to t('.show', :default => t("helpers.links.show")),
                package_path(package), :class => 'btn btn-default btn-xs' %>
                <%# link_to t('.edit', :default => t("helpers.links.edit")),
                edit_package_path(package), :class => 'btn btn-default btn-xs' %>
                <%# link_to t('.destroy', :default => t("helpers.links.destroy")),
                package_path(package),
                :method => :delete,
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-xs btn-danger' %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>



  </div>
</div>
<% end %>

<% if current_user.is_motivator? %>
  <%= render partial: 'dsb_mtv'  %>

<% end %>



<script type="text/javascript">
  Morris.Donut({
    element: 'donut-example',
    resize: true,
    data: [
    {label: "MKT", value: <%= @user_from_mkt %>},
    {label: "DKT", value: <%= @user_from_dkt %>},
    {label: "Direct", value: <%= @user_direct %>}
    ]
  });
</script>


<script type="text/javascript">
  $(document).ready(
  function() {
    setInterval(function() {
      $('#list-conver').load('/dashboard/partial_conver');
    }, 3000);
  });
</script>
<script type="text/javascript">
  $(document).ready(
  function() {
    setInterval(function() {
      $('#list-msgbox').load('/dashboard/partial_msgbox');
    }, 3000);
  });
</script>


<script type="text/javascript">
  $(document).ready(function() {
    $('.dta').DataTable();
  } );
</script>


<% if current_user.is_client? %>
    <%= render partial: 'dsb_client'  %>
<% end %>
<!--End of Tawk.to Script-->


<script type="text/javascript">
function sendPush(){
  getKeys(false)
}
var vapidPublicKey = new Uint8Array(<%=Base64.urlsafe_decode64($vapid_public).bytes%>);
  if (!("Notification" in window)) {                                             //1
       console.error("This browser does not support desktop notification");
     }
     // Let's check whether notification permissions have already been granted
     else if (Notification.permission === "granted") {                           //2
       console.log("Permission to receive notifications has been granted");
       getKeys()
     }
     // Otherwise, we need to ask the user for permission
     else if (Notification.permission !== 'denied') {                            //3
       Notification.requestPermission(function (permission) {
             // If the user accepts, let's create a notification
         if (permission === "granted") {                                         //4
           console.log("Permission to receive notifications has been granted");
           getKeys();
         }
       });
    }
    function getKeys(){
      navigator.serviceWorker.register('/serviceworker.js', {scope: './'})          //5
        .then(function(registration) {
          return registration.pushManager.getSubscription()
            .then(function(subscription) {
              if (subscription) {
                return subscription;
              }
              return registration.pushManager.subscribe({                           //6
                userVisibleOnly: true,
                applicationServerKey: vapidPublicKey
              });
            });
        }).then(function(subscription) {
            sendNo(subscription.toJSON())
                                             //7
        });
    }
    function sendNo(subscription){
    $.post('/sendNo?user=<%= current_user.id %>', {
        subscription: subscription,
          message: 'You clicked a button!'
       });
           //
    }
</script>
