<%= form_for @message, remote: true, format: :json  do |f| %>
<p>Tulis Balasan</p>
<div class="form-group">
  <%= f.text_area :content_reply, :class => 'form-control', rows: 5 %>
</div>
<%= f.submit "Kirim", :class => 'btn btn-primary', id:'submit-rply' %>

<script type="text/javascript">

$('#submit-rply').click(function() {
  $('#btn-cls-modal').click();
});
</script>

<% end %>
