<% if current_user.is_motivator? %>

<% end  %>

    <% if @conversation.status == "finish" %>
    <% if current_user.is_client? %>
      <% unless @conversation.status == "finish" %>
      <script type="text/javascript">
        window.location.replace("<%= finish_path(id: @conversation.id) %>");
      </script>
      <% end %>
    <% end %>
<% end %>
<% if @conversation.status == "finish" %>
<% if current_user.is_motivator? %>
  <% unless @conversation.status == "finish" %>
  <script type="text/javascript">
    window.location.replace("<%= finish_path(id: @conversation.id) %>");
  </script>
  <% end %>
<% end %>
<% end %>

<% @conversation.messages.order(created_at: :asc).each do |x| %>

<% if x.user.is_client? %>
<div class="d-block px-2">
  <div class="speech-bubble">
      <p><%= x.content.gsub(/\n/, '<br/>').html_safe %></p>
  </div>
</div>

<% unless x.content_reply.nil? %>
<div class="px-2 ml-auto" style="width:fit-content;">
  <div class="speech-bubble-mtv">
    <p><%= x.content_reply.gsub(/\n/, '<br/>').html_safe %></p>
  </div>
</div>
<% end %>

<% else %>
<div class="px-2 ml-auto" style="width:fit-content;">
  <div class="speech-bubble-mtv">
      <p><%= x.content.gsub(/\n/, '<br/>').html_safe %></p>
  </div>
</div>

<% end %>
<% end %>
