<section class="">
  <div class="text-center mb-4">
    <h3>
      Silahkan ceritakan apa yang menjadi beban atau  permasalahan sahabat. <br>
    </h3>
  </div>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="container p-3 shadow">
        <div class="text-center">
          <div class="mt-3" id="list-conver">
            <%= render partial: 'list_conversation'  %>
          </div>
        </div>
        <hr>
        <div class="my-3">
          <% if @conversation.status == "finish" %>
          <%= form_for @conversation do |f| %>



                    <div class="d-block mb-3 text-center">
                      <p>Silahkan berikan penilaian Sahabat <br> terhadap layanan kami</p>

                        <div class="row justify-content-center">
                          <div class="col-3 mb-3">
                            <img src="<%= asset_url('apatar.png') %>" alt="" class="w-100">
                          </div>
                        </div>
                        <h3><%= @conversation.motivator.motivator_code %></h3>

                      <div class="my-1">

                        <%= f.hidden_field :rating, class:" form-control rating-value",placeholder: "Komentar" %>
                        <div id="rate" class="rating m-auto "></div>
                        <span>Komentar kamu</span>
                        <%= f.text_area :reason, id: :message_content, class:" form-control shadow", placeholder: "Silahkan Tuliskan Komentar Sahabat", rows: 10 %>
                        <p>
                          Seberapa besar kemungkinan Sahabat merekomedasikan layanan kami kepada orang lain? <br>
                          1 bintang untuk tidak mungkin, 5 bintang untuk mungkin
                        </p>
                        <%= f.hidden_field :status, value: "rated" %>
                        <div id="engage" class="rating m-auto "></div>
                      </div>

                      <div class="text-right">
                        <%= f.submit 'Send', :class => 'btn-text' %>
                      </div>


            <% end %>
          <% elsif @conversation.status == "rated"  %>

            <% else %>
            <%= form_for @messagex, remote: true, format: :json  do |f| %>
              <p>Tulis Pesan</p>
              <div class="form-group">
                <%= f.text_area :content, :class => 'form-control', rows: 5, required:"true" %>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <%= f.hidden_field :conversation_id, value: @conversation.id %>
              </div>
              <%= f.submit "Kirim",:class => 'btn btn-primary', id:'submit' %>
            <% end %>
          <% end %>

        </div>
      </div>
    </div>

  </div>
</section>


<script type="text/javascript">
$(document).ready(
  function() {
    setInterval(function() {
      $('#list-conver').load('messages/partial_conver');
    }, 3000);
    $('#new_message').on('ajax:success', function(data) {
      $('#new_message')[0].reset();
  });
  });


</script>

<% if params[:cht].present? %>

<script type="text/javascript">
  var settings = {
    "async": true,
    "crossDomain": true,
    "url": "https://reguler.zenziva.net/apps/smsapi.php?userkey=57z0sk&passkey=rYQFPeWHbX&nohp=081285545703&pesan=<%= URI.encode("Hai Human Capital, ada chat baru.") %>",
    "method": "POST",
    "headers": {
      "User-Agent": "PostmanRuntime/7.11.0",
      "Accept": "*/*",
      "Cache-Control": "no-cache",
      "Postman-Token": "558b0d17-a75b-444e-bbc7-5a368891bebe,236c0d2d-70f9-4c0c-9f2d-3bc0214cdca7",
      "Host": "reguler.zenziva.net",
      "accept-encoding": "gzip, deflate",
      "content-length": "",
      "Connection": "keep-alive",
      "cache-control": "no-cache"
    }
  }

  $.ajax(settings).done(function (response) {
    console.log(response);
  });
</script>
<% end %>
