<%- model_class = Quote -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>
<div class="card">
  <div class="card-body">
    <%= render :partial => 'form' %>
  </div>
</div>
