<%- model_class = Slider -%>
<div class="card">
  <div class="card-body">
    <div class="page-header">
      <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
    </div>
    <table class="table table-striped">
      <thead>
          <th><%= model_class.human_attribute_name(:id) %></th>
          <th><%= model_class.human_attribute_name(:name) %></th>
          <th><%= model_class.human_attribute_name(:image_slider) %></th>
          <th><%= model_class.human_attribute_name(:link) %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </thead>
    <tbody>
      <% @sliders.each do |slider| %>
      <tr>
        <td><%= link_to slider.id, slider_path(slider) %></td>
        <td><%= slider.name %></td>
        <td> <img src="<%= slider.image_slider %>" alt="" width="150px"> </td>
        <td><%= slider.link %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
          slider_path(slider), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
          edit_slider_path(slider), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
          slider_path(slider),
          :method => :delete,
          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
          :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to t('.new', :default => t("helpers.links.new")),
  new_slider_path,
  :class => 'btn btn-primary' %>
</div>
</div>
