/* init, helper */
.text-blue-light{
  color: #42c7f1;
}

.text-blue-dark{
  color: #282A74;
}

.text-red{
  color: #ed1c24;
}

.text-gray{
  color: #b1b1b1;
}

.btn-primary{
  color: white;
  border: 1px solid #42c7f1;
  background-color: #42c7f1;

}

.btn-primary:hover{
  background-color: #41b1f1;
  border: 1px solid #41b1f1;
}

.pill-border{
  border-radius: 50px;
}

.btn-blue{
  background-color: #282A74;
}

.box{
  padding: 20px;
  position: relative;
  background: white;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
}


/* .bubble:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #e8e8e8;
  border-right: 10px solid transparent;
  border-top: 10px solid #e8e8e8;
  border-bottom: 10px solid transparent;
  left: 20px;
  bottom: -23px;
}

.bubble:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #fff;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
  border-bottom: 10px solid transparent;
  left: 24px;
  bottom: -13px;
} */


body, html {
  min-height: 100%;
  margin: 0;
}

body{
  font-family: 'Roboto', sans-serif;
  color: #444444;
}
h1, h2, h3{
  font-weight: 700;
}

section{
  padding: 50px 0;
}
section h2{
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 70px;
}
section h4{
  font-weight: 700;
}

/* end helper */

/* navigasi */

.navbar-brand img{
  height: 62px;
}

a:hover {
  color: #212529;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

nav{
  background: white;
}

.navbar-nav .nav-link {
  color: white;
}

.navbar-nav .active>.nav-link, .navbar-nav .nav-link:hover{
  color: #42c7f1;

}

.navbar-nav .nav-link:hover{
  color: #42c7f1;

}

.active > .nav-link, .navbar-nav .nav-link:focus,  .navbar-nav .nav-link:hover {
  color: #42c7f1;
}

.scrolled{
  background-color: white !important;
  transition: background-color 200ms linear;
}


.navbar-nav .nav-link {
  color: #282A74;
}

/* navigasi */

/* main slider */

.carousel,.carousel-inner, .carousel-item.active{
  height: 100%;
}

.carousel-fade .carousel-item {
  opacity: 0;
  transition-duration: .6s;
  transition-property: opacity;
  height: 100%;
}

.carousel-fade  .carousel-item.active,
.carousel-fade  .carousel-item-next.carousel-item-left,
.carousel-fade  .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-right {
  opacity: 0;
}

.carousel-fade  .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-prev {
  transform: translateX(0);
  transform: translate3d(0, 0, 0);
}

.bg-caption{
  background: rgba(66, 199, 241, 0.6)
}

/* main slider */

/* slider testimoni */
#slider-testimoni .carousel-indicators {
  bottom: 0;
  position: relative;
}
#slider-testimoni .carousel-indicators li{
  background: #AFAFAF;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
}

#slider-testimoni .carousel-indicators .active{
  background: rgba(175, 175, 175, 0.6);
}

/* Counter Statistic */
h3.counter-up{
  font-size: 60px;
  font-weight: 900;
}
#statistic p{
  font-size: 30px;
}

/* video */
.embed-video{
  height: 600px;
  width: 100%;
}

/* Footer */
#footer h3{
  font-size: 30px;
  margin-top: 23px;
  margin-bottom: 30px;
}
.quick-link li {
  margin-bottom: 15px;
}
.quick-link li a{
  color: #B2B2B2;
  font-size: 20px;
  margin-bottom: 15px;
}
/* modal */

#logintab{
  border: none;
}
#logintab .nav-link.active{
  border: 1px solid #42c7f1;
  border-radius: 0;
  background: #42c7f1;
  color: white;
}

#logintab .nav-link{
  border: 1px solid #42c7f1;
  border-radius: 0;
  background: white;
  color: #42c7f1;
}

#loginmodal .form-control{
  border:  1px solid #282A74;
  color: #282A74;
}

#message_box_problem_category_id{
  padding: 30px 10px;
  width: 100%;
  border: 1px solid white;
  background: white;
  margin-bottom: 30px;
}
#demo-modal .custom-control-label{
  font-size: 20px;
}


.rating{
  width: 87px;
}



.full-height-slider{
  height: 92vh !important  ;
}
#box-uneg-uneg img{
  border-radius: 20px ;
}

.bg-background{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.testimoni-slider{
  width: 170%;
  margin: auto;
  right: 37%;
  overflow: visible;

}

#footer .nav-link{
  color: white
}

.input-group-text{
  background: transparent;
  border-right: 0;
}
.pill-border .fa{
width: 10px;
text-align: center;
}

.btn-text{
  padding: 0;
background: white;
border: 0;
font-weight: 900;
font-size: 25px;
color: #282A74;

}

.speech-bubble {
	position: relative;
	background: #0066bb;
	border-radius: .4em;
  width: fit-content;
  padding: 10px;
  margin-bottom: 10px;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-right-color: #0066bb;
	border-left: 0;
	border-bottom: 0;
	margin-top: -15.5px;
	margin-left: -15px;
}

.speech-bubble p{
  color: white;
  font-weight: 300;
  margin-bottom: 3px;
  text-align: left;
}


.speech-bubble-mtv {
	position: relative;
	background: #dcf8c6;
	border-radius: .4em;
  width: fit-content;
  padding: 20px;
  margin-bottom: 10px;
}

.speech-bubble-mtv:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 31px solid transparent;
	border-left-color: #dcf8c6;
	border-right: 0;
	border-bottom: 0;
	margin-top: -15.5px;
	margin-right: -31px;
}

.speech-bubble-mtv p{
  font-weight: 300;
  margin-bottom: 3px;
  text-align: left;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 99999; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgba(0, 102, 187, 0.9);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: white;;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.vid-thumb{
  margin: 20px 0;
}

.section-video h3{
  font-family: 'Oswald', sans-serif;
  text-transform: none;
  font-size: 35px;
  font-weight: 600;
  text-transform: uppercase;
}

.frame{
  padding: 10px;
  background: whitel;
  border: 1px solid #eee;
}
