@media (max-width: 575.98px) {


  section {
    padding: 20px 0;
  }

  .embed-video{
    height: 300px;
    width: 100%;
  }
  section h2 {
    font-size: 30px;
  }

.full-height-slider {
  height: 40vh !important;
}

  nav{
    background-color: white !important;
  }

  .testimoni-slider{
    width: 100%;
    margin: 0;
    right: 0;
  }

  .navbar-brand img {
    height: 40px;
}

#footer{
  padding: 10px 0;
}
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

  nav{
    background-color: white !important;
  }

 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

  nav{
    background-color: white !important;
  }

  #statistic p{
    font-size: 20px;
  }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }
