<section style="height:100vh" class="d-flex align-items-center">
  <div class="container">
    <div class="text-center">
      <img src="<%= asset_url('logo-with-url.png') %>" alt="" class="mb-3 mw-100" >
      <p class="mb-5">
        Motivator dan Sahabat sejati siapa saja <br>
        Bisa curhat kapan saja, dimana saja
      </p>
    </div>
    <div class="row justify-content-center mb-5">
      <div class="col-md-5 ">
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="p-3 box bubble shadow-lg" >
          <%= form_for(:user, as: :user, url: registration_path(:user)) do |f| %>
          <div class="form-group mt-3">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text pill-border"><i class="fa fa-user" aria-hidden="true"></i></div>
              </div>
              <%= f.text_field :full_name, autofocus: true, autocomplete: "name", class: "form-control pill-border border-left-0", placeholder: "Nama Lengkap" %>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text pill-border"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
              </div>
              <%= f.email_field :email, autocomplete: "email", placeholder: "Email" , class: "form-control pill-border border-left-0" %>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text pill-border"><i class="fa fa-mobile" aria-hidden="true"></i></div>
              </div>
              <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone", class: "form-control pill-border border-left-0", placeholder: "Nomor Handphone" %>
            </div>
            <div class="form-group">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text pill-border"><i class="fa fa-lock" aria-hidden="true"></i></div>
                </div>
                <%= f.password_field :password, autocomplete: "new-password", class: "form-control pill-border border-left-0", placeholder: "Password" %>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text pill-border"><i class="fa fa-lock" aria-hidden="true"></i></div>
                </div>
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control pill-border border-left-0", placeholder: "Konfirmasi Password" %>
              </div>
            </div>
            <div class="form-group">
              <p>Punya Referral Code ?</p>
              <% if params[:referral_code].present? %>
              <%= f.text_field :signup_referral_code, class: "form-control pill-border", placeholder: "Kode Referral", value: params[:referral_code], style:"text-transform:uppercase" %>
              <% else %>
              <%= f.text_field :signup_referral_code, class: "form-control pill-border", placeholder: "Kode Referral", style:"text-transform:uppercase" %>
              <% end %>
            </div>

            <div class="mt-3 text-center mb-3">
              <div class="custom-control custom-checkbox mr-sm-2">
                <input type="checkbox" class="custom-control-input" id="customControlAutosizing" required>
                <label class="custom-control-label" for="customControlAutosizing">I Agree <a href="<%= user_agrement_path %>" target="_blank">User Agreement</a></label>
              </div>
            </div>

            <div class="row align-items-center">
              <div class="col">
                <a href="<%= new_user_session_path %>" class="text-gray">CANCEL</a>
              </div>
              <div class="col text-right">
                  <%= f.hidden_field :role, value: "CLT", readonly: true %>
                  <button type="submit" class="btn btn-primary pill-border btn-blue">Masuk</button>
              </div>
            </div>
            <% end %>

          </div>
        </div>


      </div>
    </div>
  </section>
