<%= form_for @article, :html => { :class => "form-horizontal article" } do |f| %>

  <% if @article.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
    <%=f.error_span(:title) %>
  </div>
  <div class="form-group">
    <%= f.label :content, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.cktext_area :content, :class => 'form-control',rows: 15 %>
    </div>
    <%=f.error_span(:content) %>
  </div>


    <div class="form-group">
      <%= f.label :article_category_id, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.select :article_category_id, ArticleCategory.all.map {|s| [s.name, s.id ]},{:include_blank => '-Choose-'}, :class=>"form-control w-100 select2"%>
      </div>
      <%=f.error_span(:article_category_id) %>
    </div>

  <div class="form-group">
    <%= f.label :cover, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.file_field :image %>
    </div>
    <%=f.error_span(:image) %>
  </div>




  <% if current_user.is_admin? %>
    <%= f.hidden_field :status, value: "pending" %>
  <% else %>
    <%= f.hidden_field :status, value: "publish" %>
  <% end %>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <% if current_user.is_admin? %>
        <%= f.submit "Request Publish", :class => 'btn btn-primary' %>
      <% else %>
        <%= f.submit "Publish", :class => 'btn btn-primary' %>
      <% end %>

      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                articles_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
