<%- model_class = Article -%>
<div class="card">
  <div class="card-body">
    <div class="page-header">
      <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
    </div>
    <%= render :partial => 'form' %>
  </div>
</div>
