<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1><%= @article.title %></h1>
        <p>Motivasi | <%= @article.created_at.strftime("%e %B %Y ") %></p>
        <div class="mt-2">
          <img src="<%= @article.image %>" alt="" class="w-100 mb-3">
          <%= @article.content.html_safe %>
        </div>
      </div>
      <div class="col-md-4">
        <h3> <u> Artikel Lainya</u></h3>
        <ul class="list-unstyled">
          <% Article.where.not(id: @article.id).limit(5).each do |x| %>
          <li class="mt-2 mb-2">
            <a href="<%= x.slug %>">
            <div class="row">
              <div class="col-md-9">
                <h5><%= x.title %></h5>
              </div>
            </div>
            </a>
          </li>
          <% end %>
        </ul>
        <hr>
        <h3> <u> Kategori</u></h3>
        <ul class="list-unstyled">
          <% ArticleCategory.all.each do |x| %>
          <li class="mt-2 mb-2">
            <a href="<%= article_category_path(x.slug) %>">
            <div class="row">
              <div class="col-md-9">
                <h5><%= x.name %></h5>
              </div>
            </div>
            </a>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>
