<%= form_for @conversation, :html => { :class => "form-horizontal conversation" } do |f| %>

  <% if @conversation.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@conversation.errors.count, "error") %> prohibited this conversation from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @conversation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :user_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :user_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:user_id) %>
  </div>
  <div class="form-group">
    <%= f.label :motivator_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :motivator_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:motivator_id) %>
  </div>
  <div class="form-group">
    <%= f.label :package_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :package_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:package_id) %>
  </div>
  <div class="form-group">
    <%= f.label :question_1, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :question_1, :class => 'form-control' %>
    </div>
    <%=f.error_span(:question_1) %>
  </div>
  <div class="form-group">
    <%= f.label :question_2, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :question_2, :class => 'form-control' %>
    </div>
    <%=f.error_span(:question_2) %>
  </div>
  <div class="form-group">
    <%= f.label :problem_category_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :problem_category_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:problem_category_id) %>
  </div>
  <div class="form-group">
    <%= f.label :status, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :status, :class => 'form-control' %>
    </div>
    <%=f.error_span(:status) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                conversations_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
