  <% Message.where(conversation_id: current_user.conversations.last).all.each do |x| %>
<div class=" m-auto">
  <div class="row justify-content-center">
    <div class="col-md-11 text-left">
      <div class="w-100 p-4 border border-info mt-2 mb-2">
        <h3 class="text-info">Curhatan Ku</h3>
        <span style="font-weight:900;font-size:14px;"><%= x.problem_category.name  rescue "" %></span>
        <p style="font-size:18px;font-weight:300;">
          <%=simple_format(x.content) %>
        </p>
        <small><%= x.created_at.strftime("%e %B %Y  %T ") rescue "" %></small>
        <h3 class="text-primary text-right">Tanggapan Motivator</h3>
        <hr>
        <% if x.content_reply == nil %>
        <h3 class="" style="font-weight:300;font-size:20px" >Menunggu Jawaban Motivator</h3>
        <% else %>
        <p style="font-size:18px;font-weight:300;">
          <%= simple_format(x.content_reply) %>
        </p>
        <small><%= x.updated_at.strftime("%e %B %Y  %T ") rescue "" %></small>
        <% if ((Time.now - x.updated_at) / 1.second).round < 3 %>
          <script type="text/javascript">
          toastr.success("Ada Balasan Dari Motivator", "")
          </script>
        <% end %>

      

        <% end %>
      </div>
    </div>

  </div>
</div>

<% end %>
