<%- model_class = Conversation -%>
<div class="page-breadcrumb">
  <div class="row">
    <div class="col-5 align-self-center">
      <h4 class="page-title">Chat Motivasi</h4>
    </div>
    <div class="col-7 align-self-center">
      <div class="d-flex align-items-center justify-content-end">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="<%= dashboard_index_path %>">Home</a>
            </li>
            <li class="breadcrumb-item"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th><%= model_class.human_attribute_name(:id) %></th>
                <th><%= model_class.human_attribute_name(:user_id) %></th>
                <th><%= model_class.human_attribute_name(:motivator_id) %></th>
                <th><%= model_class.human_attribute_name(:package_id) %></th>
                <th><%= model_class.human_attribute_name(:status) %></th>
                <th><%= model_class.human_attribute_name(:created_at) %></th>
                <th><%=t '.actions', :default => t("helpers.actions") %></th>
              </tr>
            </thead>
            <tbody>
              <% @conversations.where.not(problem_category_id: nil).each do |conversation| %>
              <tr>
                <td><%= custom_id_chat(conversation) %></td>
                <td><%= conversation.user.full_name %></td>
                <td><%= conversation.motivator.motivator_code rescue '-'%></td>
                <td><%= conversation.package.name rescue "" %></td>
                <td><%= conversation.status %></td>
                <td><%= conversation.created_at.strftime("%e %B %Y  %T ") %></td>
                <td>
                  <%= link_to t('.show', :default => t("helpers.links.show")),
                  conversation_path(conversation), :class => 'btn btn-default btn-xs' %>
                  <%# link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_conversation_path(conversation), :class => 'btn btn-default btn-xs' %>

                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $(document).ready(function() {
      $('.table').DataTable();
    } );
  </script>
