<div class="email-app">
  <!-- ============================================================== -->
  <!-- Left Part -->
  <!-- ============================================================== -->
  <div class="left-part pr-5">
    <div class="scrollable" style="height:100%;">
      <div class="d-flex no-block align-items-center mb-4">
        <div class="m-r-10"><img src="<%= asset_url('user.png') %>" alt="user" class="rounded-circle" width="45"></div>
        <div class="">
          <h5 class="m-b-0 font-16 font-medium"><%= @conversation.user.full_name %> <br> <small> ( <%= @conversation.user.email %> )</small></h5>

        </div>
      </div>
      <div class="d-block mb-3">
        <p><strong>Jenis Kelamin:</strong> <%= @conversation.user.gender %></p>
        <p><strong>Umur:</strong> <%= @conversation.user.range_age %></p>
        <p><strong>Status Menikah:</strong> <%= @conversation.user.marital_status %></p>
        <p><strong>Pekerjaan:</strong> <%= @conversation.user.occupation %></p>
        <p><strong>Kota:</strong> Jakarta</p>
      </div>
      <hr>

    </div>
  </div>
  <!-- ============================================================== -->
  <!-- Right Part  Mail detail -->
  <!-- ============================================================== -->
  <div class="right-part mail-details bg-white">
    <div class="card-body border-bottom">
      id: <strong class="m-b-0 font-16 font-medium"><%= custom_id_chat(@conversation) %></strong>
    </div>
    <div class="card-body border-bottom">
      <h4 class="m-b-0">Kategori Masalah: <%= @conversation.problem_category.name rescue"" %></h4>
    </div>
    <div class="card-body border-bottom">
      <div class="d-block mb-3">
        <p><strong>Q:</strong> APAKAH PERASAAN YANG SAHABAT RASAKAN ?</p>
        <p><strong>A: <%= @conversation.question_1 %></strong></p>
      </div>
      <hr>
      <div class="d-block mb-3">
        <p><strong>Q:</strong> APA YANG MEMBUAT ANDA   <%= @conversation.question_1 %>?</p>
        <p><strong>A: <%= @conversation.problem_category.name rescue"" %></strong></p>
      </div>
    </div>

    <div class="p-3">
      <h3>Percakapan</h3>
      <% @conversation.messages.order(created_at: :asc).each do |x| %>
    
      <% if x.user.is_client? %>
      <div class="d-block px-2">
        <div class="speech-bubble">
            <%=simple_format(x.content) %>
        </div>
      </div>

      <% unless x.content_reply.nil? %>
      <div class="px-2 ml-auto" style="width:fit-content;">
        <div class="speech-bubble-mtv">
          <%=simple_format(x.content_reply) %>
        </div>
      </div>
      <% end %>

      <% else %>
      <div class="px-2 ml-auto" style="width:fit-content;">
        <div class="speech-bubble-mtv">
            <%=simple_format(x.content) %>
        </div>
      </div>

      <% end %>
      <% end %>

    </div>

    <hr>

    <div class="p-3">
      <% if @conversation.motivator_id == nil %>
      <%= form_for @conversation, :html => { :class => "form-horizontal conversation" } do |f| %>
      <span class="mb-3 mt-3">Set Motivator</span>
      <h3>Motivator Online</h3>
      <table class="table dta table-striped">
        <thead>
          <tr>
            <th>Code Motivator</th>
            <th>Email Motivator</th>

          </tr>
        </thead>
        <tbody class="oln">
          <% User.motivator.each do |user| %>
            <% if user.is_signed_in %>
            <tr data-id="<%= user.id %>">
              <td>
                <%= user.motivator_code %>
                <p>(<%= user.detail_motivators.first.nama_panjang %> - <%= user.detail_motivators.last.problem_category.name  rescue "(belum pilih speciality)" %>)</p>
              </td>
              <td><%= user.email %></td>

            </tr>
            <% end %>

          <% end %>
        </tbody>
      </table>
      <script type="text/javascript">
      $(document).ready((function(_this) {
      return function() {
        var addLoggenInUser, channel, pusher, removeLoggedOutUser;
        addLoggenInUser = function(user) {
          if (user.motivator_code != null) {
            $('.oln').append("<tr data-id=\"" + user.id + "\">\n            <td>" + user.motivator_code + "</td>\n            <td>" + user.email + "</td>\n          </tr>");
          }
        };
        removeLoggedOutUser = function(user) {
          user = $('tr[data-id=\'' + user.id + '\']');
          $(user).remove();
        };
        pusher = new Pusher('15a53980776b3ef247a6', {
          cluster: 'ap1',
          encrypted: true
        });
        channel = pusher.subscribe('activity');
        channel.bind('login', function(data) {
          return addLoggenInUser(data);
        });
        channel.bind('logout', function(data) {
          removeLoggedOutUser(data);
        });
      };
      })(this));

      // ---
      // generated by coffee-script 1.9.2
      </script>
      <div class="row">
        <div class="col-lg-6">
            <%= f.select :motivator_id, User.motivator.map {|c| [c.motivator_code.titleize, c.id] }, :class=>"w-100 form-control select2"%>
          <%= f.hidden_field :status, value: "motivator-selected" %>
        </div>
        <div class="col-lg-2">
          <%= f.submit "pilih", :class => 'btn btn-primary' %>
        </div>
      </div>
      <% end %>

      <% else %>
      <% unless current_user.is_motivator? %>
      <%= form_for @conversation, :html => { :class => "form-horizontal conversation" } do |f| %>


      <span class="mb-3 mt-3">Ganti Motivator</span>
      <h3>Motivator Online</h3>
      <table class="table dta table-striped">
        <thead>
          <tr>
            <th>Code Motivator</th>
            <th>Email Motivator</th>

          </tr>
        </thead>
        <tbody class="oln">
          <% User.motivator.each do |user| %>
            <% if user.is_signed_in %>
            <tr data-id="<%= user.id %>">
              <td><%= user.motivator_code %></td>
              <td><%= user.email %></td>

            </tr>
            <% end %>

          <% end %>
        </tbody>
      </table>
      <script type="text/javascript">
      $(document).ready((function(_this) {
      return function() {
        var addLoggenInUser, channel, pusher, removeLoggedOutUser;
        addLoggenInUser = function(user) {
          if (user.motivator_code != null) {
            $('.oln').append("<tr data-id=\"" + user.id + "\">\n            <td>" + user.motivator_code + "</td>\n            <td>" + user.email + "</td>\n          </tr>");
          }
        };
        removeLoggedOutUser = function(user) {
          user = $('tr[data-id=\'' + user.id + '\']');
          $(user).remove();
        };
        pusher = new Pusher('15a53980776b3ef247a6', {
          cluster: 'ap1',
          encrypted: true
        });
        channel = pusher.subscribe('activity');
        channel.bind('login', function(data) {
          return addLoggenInUser(data);
        });
        channel.bind('logout', function(data) {
          removeLoggedOutUser(data);
        });
      };
      })(this));

      // ---
      // generated by coffee-script 1.9.2
      </script>
      <div class="row">
        <div class="col-lg-6">
            <%= f.select :motivator_id, User.motivator.map {|c| [c.motivator_code.titleize, c.id] }, :class=>"w-100 form-control select2"%>
          <%= f.hidden_field :status, value: "motivator-update" %>
        </div>
        <div class="col-lg-2">
          <%= f.submit "pilih", :class => 'btn btn-primary' %>
        </div>
      </div>
      <% end %>
      <% end %>

      <!-- <div class="mt-3">
        <a href="<%= messages_path(conversation_id: @conversation.id) %>" class="btn btn-primary">Lihat Percakapan</a>
      </div> -->
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $( "#conversation_motivator_id" ).select2({
    theme: "bootstrap"
  });
</script>
