<% if @user.errors.any? %>
<div id="error_expl" class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title"><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h3>
  </div>
  <div class="panel-body">
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>

<div class="card">
  <div class="card-body">
    <%= form_for @user, :html => { :class => "form-horizontal user" } do |f| %>

    <div class="mb-3">
      <h3>Data Login</h3>
    </div>

    <hr>

    <div class="form-group">
      <%= f.label :motivator_type, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.select :motivator_type, User::TYPE.map {|c| [c, c] },{},{:class=>"w-100 form-control select2"}%>
      </div>
      <%=f.error_span(:motivator_type) %>
    </div>




    <script type="text/javascript">
    $( document ).ready(function() {
      $( "#user_motivator_type" ).click( motivator_code_display );
    });
    function motivator_code_display() {

      if ($('#user_motivator_type').val() == 'MOTIVATOR EKSKLUSIF') {
        <% if @user.motivator_code == nil  %>
        $('#user_motivator_code').val('GEMILANG-0<%= '%02d' % (User.motivator.where(motivator_type: 'MOTIVATOR EKSKLUSIF').last.motivator_code.last(2).to_i + 1) rescue "01" %>');
        <% else %>
        $('#user_motivator_code').val('<%= @user.motivator_code %>');
      <% end %>
    }
      if ($('#user_motivator_type').val() == 'Motivator Inti') {
        $('#user_motivator_code').val('GEMILANG-1<%='%02d' % (User.motivator.where(motivator_type: 'Motivator Inti').last.motivator_code.last(2).to_i + 1) rescue "01"%>');
      }
      if ($('#user_motivator_type').val() == 'Motivator Jakarta') {
        $('#user_motivator_code').val('GEMILANG-2<%='%02d' % (User.motivator.where(motivator_type: 'Motivator Jakarta').last.motivator_code.last(2).to_i + 1) rescue "01"%>');
      }
      if ($('#user_motivator_type').val() == 'Motivator Metro') {
        $('#user_motivator_code').val('GEMILANG-3<%='%02d' % (User.motivator.where(motivator_type: 'Motivator Metro').last.motivator_code.last(2).to_i + 1) rescue "01"%>');
      }

    }
    </script>

    <div class="form-group">
      <%= f.label :motivator_code, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
          <% if @user.motivator_code == nil  %>
          <%= f.text_field :motivator_code, :class => 'form-control',  value:  "GEMILANG-0#{'%02d' % (User.motivator.where(motivator_type: 'MOTIVATOR EKSKLUSIF').last.motivator_code.last(2).to_i + 1)}" rescue f.text_field :motivator_code, :class => 'form-control',  value:"GEMILANG-001" %>
          <% else %>

          <%= f.text_field :motivator_code, :class => 'form-control',  value: @user.motivator_code  %>
          <% end %>
      </div>
      <%=f.error_span(:motivator_code) %>
    </div>

    <div class="form-group">
      <%= f.label :email, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :email, :class => 'form-control' %>
      </div>
      <%=f.error_span(:email) %>
    </div>

    <% if @user.new_record? %>
    <div class="form-group">
      <%= f.label :password, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.password_field :password,class:'form-control', required: true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.password_field :password_confirmation,class:'form-control', required: true %>
      </div>
    </div>

    <% end %>



  </div>
</div>

<div class="card">
  <div class="card-body">
    <h3>Detail Motivator</h3>
    <%= f.fields_for :detail_motivators,@user.detail_motivators.last do |f| %>
    <div class="form-group">
      <%= f.label :kategory_motivator, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.select :problem_category_id, ProblemCategory.all.map{|x| [x.name.titleize, x.id] },{:prompt => 'Pilih Kategori'}, {class:'custom-select', required:true} %>
      </div>
      <%=f.error_span(:problem_category_id) %>
    </div>
    <div class="form-group">
      <%= f.label :nama_panjang, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :nama_panjang, :class => 'form-control' , required: true%>
      </div>
      <%=f.error_span(:nama_panjang) %>
    </div>
    <div class="form-group">
      <%= f.label :nama_panggilan, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :nama_panggilan, :class => 'form-control' , required: true%>
      </div>
      <%=f.error_span(:nama_panggilan) %>
    </div>
    <div class="form-group">
      <%= f.label :email_pribadi, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :email_pribadi, :class => 'form-control' , required: true%>
      </div>
      <%=f.error_span(:email_pribadi) %>
    </div>
    <div class="form-group">
      <%= f.label :telpon_rumah, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :telpon_rumah, :class => 'form-control' , required: true%>
      </div>
      <%=f.error_span(:telpon_rumah) %>
    </div>
    <div class="form-group">
      <%= f.label :handphone, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :handphone, :class => 'form-control' , required: true%>
      </div>
      <%=f.error_span(:handphone) %>
    </div>
    <h5>Sesuai KTP</h5>
    <div class="pl-2">
      <div class="form-group">
        <%= f.label :alamat_rumah, :class => 'control-label col-lg-2' %>
        <div class="col-lg-10">
          <%= f.text_area :alamat_rumah, :class => 'form-control' , row: 5%>
        </div>
        <%=f.error_span(:alamat_rumah) %>
      </div>
      <div class="form-group">
        <%= f.label :region_seusai_ktp, :class => 'control-label col-lg-2' %>
        <div class="col-lg-10">
          <%= f.select :region_ktp, Indonesia.options_for_select(:province),{}, {class:'custom-select', required:true} %>
        </div>
        <%=f.error_span(:region_ktp) %>
      </div>
      <h5>Tinggal Sekarang</h5>
      <div class="pl-2">
        <div class="form-group">
          <%= f.label :alamat_tinggal_sekarang, :class => 'control-label p-3 w-100' %>
          <div class="col-lg-10">
            <%= f.text_area :tinggal_sekarang, :class => 'form-control' , required: true , row: 5%>
          </div>
          <%=f.error_span(:tinggal_sekarang) %>
        </div>
        <div class="form-group">
          <%= f.label :region_sekarang, :class => 'control-label p-3 w-100' %>
          <div class="col-lg-10">
            <%= f.select :region_ktp, Indonesia.options_for_select(:province),{}, {class:'custom-select', required:true} %>
          </div>
          <%=f.error_span(:region_sekarang) %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :no_ktp, :class => 'control-label col-lg-2' %>
        <div class="col-lg-10">
          <%= f.text_field :no_ktp, :class => 'form-control' , required: true%>
        </div>
        <%=f.error_span(:no_ktp) %>
      </div>
      <div class="form-group">
        <%= f.label :tanggal_lahir, :class => 'control-label col-lg-2' %>
        <div class="col-lg-10">
          <%= f.text_field :tanggal_lahir, :class => 'form-control' , required: true %>
        </div>
        <%=f.error_span(:tanggal_lahir) %>
      </div>
      <div class="form-group">
        <%= f.label :tempat_lahir, :class => 'control-label col-lg-2' %>
        <div class="col-lg-10">
          <%= f.text_field :tempat_lahir, :class => 'form-control' , required: true%>
        </div>
        <%=f.error_span(:tempat_lahir) %>
      </div>
      <div class="form-group">
        <%= f.label :no_kartu_keluarga, :class => 'control-label col-lg-2' %>
        <div class="col-lg-10">
          <%= f.text_field :no_kartu_keluarga, :class => 'form-control' , required: true%>
        </div>
        <%=f.error_span(:no_kartu_keluarga) %>
      </div>
      <div class="form-group">
        <%= f.label :pendidikan_terakhir, :class => 'control-label col-lg-2' %>
        <div class="col-lg-10">
          <%= f.text_field :pendidikan_terakhir, :class => 'form-control' , required: true%>
        </div>
        <%=f.error_span(:pendidikan_terakhir) %>
      </div>
      <div class="form-group">
        <%= f.label :no_ijazah, :class => 'control-label col-lg-2' %>
        <div class="col-lg-10">
          <%= f.text_field :no_ijazah, :class => 'form-control' , required: true%>
        </div>
        <%=f.error_span(:no_ijazah) %>
      </div>

      <h5>Data Bank</h5>
      <div class="pl-1">
        <div class="form-group">
          <%= f.label :nama_bank, :class => 'control-label col-lg-2' %>
          <div class="col-lg-10">
            <%= f.text_field :nama_bank, :class => 'form-control' , required: true%>
          </div>
          <%=f.error_span(:nama_bank) %>
        </div>
        <div class="form-group">
          <%= f.label :nama_pemilik_rekening, :class => 'control-label col-lg-2' %>
          <div class="col-lg-10">
            <%= f.text_field :nama_pemilik_rekening, :class => 'form-control' , required: true%>
          </div>
          <%=f.error_span(:nama_pemilik_rekening) %>
        </div>
        <div class="form-group">
          <%= f.label :no_rekening, :class => 'control-label col-lg-2' %>
          <div class="col-lg-10">
            <%= f.text_field :no_rekening, :class => 'form-control' , required: true%>
          </div>
          <%=f.error_span(:no_rekening) %>
        </div>
        <div class="form-group">
          <%= f.label :jenis_rekening, :class => 'control-label col-lg-2' %>
          <div class="col-lg-10">
            <%= f.select :jenis_rekening, User::JENISREKENING.map{|x| x.titleize },{:prompt => 'Pilih Atau Isi dengan Jenis Rekening Lainnya'}, {class:'selectize', required:true} %>
          </div>
          <%=f.error_span(:jenis_rekening) %>
        </div>
      </div>
      <h5>Kontak Darurat</h5>
      <div class="pl-2">
        <div class="row mb-3">
          <div class="col">
            <%= f.text_field :emergency_name_1, :class => 'form-control' , required: true, placeholder: "Nama Kontak Darurat 1"%>
          </div>
          <div class="col">
            <%= f.text_field :emergency_phone_1, :class => 'form-control' , required: true, placeholder: "Nomor Telpon Kontak Darurat 1"%>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <%= f.text_field :emergency_name_2, :class => 'form-control' , required: true, placeholder: "Nama Kontak Darurat 2"%>
          </div>
          <div class="col">
            <%= f.text_field :emergency_phone_2, :class => 'form-control' , required: true, placeholder: "Nomor Telpon Kontak Darurat 2"%>
          </div>
        </div>
      </div>
      <% end %>
    </div>

  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <%= f.hidden_field :role , value: "MTV" %>
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
        users_path, :class => 'btn btn-default' %>
      </div>
    </div>
  </div>
</div>

<% end %>





<script type="text/javascript">
$('.selectize').selectize({
  create: function(input) {
    return {
      value: input,
      text: input
    }
  }
});
$("#user_detail_motivators_attributes_0_tanggal_lahir").datepicker({
  dateFormat: 'yy-mm-dd',
  onSelect: function(dateText, inst) {
    $(inst).val(dateText); // Write the value in the input
  }
});

// Code below to avoid the classic date-picker

</script>
