<%- model_class = User -%>
<section>
  <div class="container">
    <div class="page-header">
      <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
    </div>
    <%= render :partial => 'form' %>
    <%= form_for @user_password, :html => { :class => "form-horizontal admin" } do |u| %>

    <% if @user_password.errors.any? %>
    <div id="error_expl" class="card card-danger">
      <div class="card-heading">
        <h3 class="card-title"><%= pluralize(@user_password.errors.count, "error") %> prohibited this admin from being saved:</h3>
      </div>
      <div class="card-body">
        <ul>
          <% @user_password.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <% end %>

    <div class="card">
      <div class="card-body">
        <div class="mb-3">
          <h3>Data Login</h3>
        </div>

        <hr>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-4 control-label">Old Password</label>
          <div class="col-sm-6">
            <%= u.password_field :current_password , :class=> 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <label for="inputPassword3" class="col-sm-4 control-label">New Password</label>
          <div class="col-sm-6">
            <%= u.password_field :password, :autocomplete => "off" , :class=> 'form-control' %><span>leave blank if you dont want to change password</span>
          </div>
        </div>

        <div class="form-group">
          <label for="inputPassword3" class="col-sm-4 control-label">Re-Type New Password</label>
          <div class="col-sm-6">
            <%= u.password_field :password_confirmation , :class=> 'form-control' %><span>leave blank if you dont want to change password</span>
          </div>
        </div>
        <div class="mt-3">
          <%= u.submit nil, :class => 'btn btn-primary', name: 'edit_password' %>
        </div>
      </div>

    </div>
  </div>
</section>
<% end %>
