<%- model_class = User -%>
<% if params[:type].present? && params[:type] == "client" %>
<div class="page-breadcrumb">
  <div class="row">
    <div class="col-5 align-self-center">
      <h4 class="page-title"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h4>
    </div>
    <div class="col-7 align-self-center">
      <div class="d-flex align-items-center justify-content-end">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="<%= dashboard_index_path %>">Home</a>
            </li>
            <li class="breadcrumb-item"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th><%= model_class.human_attribute_name(:id) %></th>
                <th><%= model_class.human_attribute_name(:full_name) %></th>
                <th>Box Uneg Uneg</th>
                <th>Live Chat</th>
                <th><%=t '.actions', :default => t("helpers.actions") %></th>
              </tr>
            </thead>
            <tbody>
              <% @users.client.each do |user| %>
              <tr>
                <td><%= link_to user.id, user_path(user) %></td>
                <td><%= user.full_name %></td>

                <td><%= MessageBox.where(user_id: user.id).count %></td>
                <td><%= Conversation.where(user_id: user.id).count %></td>
                <td>
                  <%= link_to t('.show', :default => t("helpers.links.show")),
                  user_path(user), :class => 'btn btn-default btn-xs' %>
                  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_user_path(user), :class => 'btn btn-default btn-xs' %>
                  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  user_path(user),
                  :method => :delete,
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-xs btn-danger' %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $(document).ready(function() {
      $('.table').DataTable();
    } );
  </script>


<% else %>
<div class="page-breadcrumb">
  <div class="row">
    <div class="col-5 align-self-center">
      <h4 class="page-title">MOTIVATOR</h4>
    </div>
    <div class="col-7 align-self-center">
      <div class="d-flex align-items-center justify-content-end">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="<%= dashboard_index_path %>">Home</a>
            </li>
            <li class="breadcrumb-item"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th><%= model_class.human_attribute_name(:id) %></th>
                <th>Nama Motivator</th>
                <th><%= model_class.human_attribute_name(:full_name) %></th>

                <th>Email</th>
                <th>Last Login</th>
                <th><%=t '.actions', :default => t("helpers.actions") %></th>
                <th>Rating</th>
              </tr>
            </thead>
            <tbody>
              <% @users.motivator.all.each do |user| %>
              <tr>
                <td><%= link_to user.id, user_path(user) %></td>
                <td><%= user.detail_motivators.last.nama_panjang rescue "-" %></td>
                <td><%= user.motivator_code %></td>
                <td><%= user.email %></td>
                <td><%= user.last_sign_in_at.strftime("%e %B %Y  %T ") rescue "-" %></td>
                <td>
                  <%= link_to t('.show', :default => t("helpers.links.show")),
                  user_path(user), :class => 'btn btn-default btn-xs' %>
                  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_user_path(user), :class => 'btn btn-default btn-xs' %>
                  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  user_path(user),
                  :method => :delete,
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-xs btn-danger' %>
                </td>
                <td>
                  <% a = Conversation.where(motivator_id: user.id).where.not(rating: nil).map(&:rating).sum / Conversation.where(motivator_id: user.id).where.not(rating: nil).count rescue 5 %>
                  <% b = MessageBox.where(motivator_id: user.id).where.not(rating: nil).map(&:rating).sum / MessageBox.where(motivator_id: user.id).where.not(rating: nil).count rescue 5 %>
                  <%= (a.to_f + b.to_f) /2 %>
                  <i class="fa fa-star text-warning mr-1" aria-hidden="true"></i> <p class="mb-0"></p>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


  <script type="text/javascript">
    $(document).ready(function() {
      $('.table').DataTable();
    } );
  </script>


    <%= link_to t('.new', :default => t("helpers.links.new")),
    new_user_path(type: "motivator"),
    :class => 'btn btn-primary' %>
<% end %>
