<% if @user.is_motivator? %>
<div class="card-group">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="d-flex no-block align-items-center">
            <div>
              <i class="mdi mdi-currency-eur font-20 text-muted"></i>
              <p class="font-16 m-b-5">Box Uneg Uneg</p>
            </div>
            <div class="ml-auto">
              <h1 class="font-light text-right"><%= MessageBox.where(motivator_id: @user.id).count %></h1>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="progress">
            <div class="progress-bar bg-purple" role="progressbar" style="width: <%= MessageBox.where(motivator_id: @user.id).where.not(status: "finish").count / MessageBox.where(motivator_id: @user.id) * 100  rescue "0"%>; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="d-flex no-block align-items-center">
            <div>
              <i class="mdi mdi-currency-eur font-20 text-muted"></i>
              <p class="font-16 m-b-5">Chat Motivasi</p>
            </div>
            <div class="ml-auto">
              <h1 class="font-light text-right"><%= Conversation.where(motivator_id: @user).count %></h1>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="progress">
            <div class="progress-bar bg-purple" role="progressbar" style="width: 0%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <img src="<%= asset_url('user.png') %>" alt="" class="w-100">
          <div class="text-center mt-1 mb-1">
            <a href="<%= edit_user_path(@user) %>" class="btn btn-primary" >EDIT</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-2">
              <strong>Nama</strong>
            </div>
            <div class="">
              :
            </div>
            <div class="col-md-9">
              <p>
                <%= @user.detail_motivators.last.nama_panjang %>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <strong>Phone Number</strong>
            </div>
            <div class="">
              :
            </div>
            <div class="col-md-9">
              <p>
                <%= @user.detail_motivators.last.handphone %>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <strong>Email</strong>
            </div>
            <div class="">
              :
            </div>
            <div class="col-md-9">
              <p>
                <%= @user.email %>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <strong>Email Pribadi</strong>
            </div>
            <div class="">
              :
            </div>
            <div class="col-md-9">
              <p>
                <%= @user.detail_motivators.last.email_pribadi %>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <strong>Kategory</strong>
            </div>
            <div class="">
              :
            </div>
            <div class="col-md-9">
              <p>
                <%= @user.detail_motivators.last.problem_category.name rescue '-' %>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <strong>Last Login</strong>
            </div>
            <div class="">
              :
            </div>
            <div class="col-md-9">
              <p>
                <%= @user.last_sign_in_at %>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="page-header">
            <h4>Jadwal</h4>
          </div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>date</th>
                <th>start</th>
                <th>end</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% @user.schedules.each do |schedule| %>
              <tr>
                <td><%= schedule.date.titleize %></td>
                <td><%= schedule.start.strftime('%H:%M') %></td>
                <td><%= schedule.end.strftime('%H:%M') %></td>
                <td><a href="<%= edit_schedule_path(schedule.id) %>">Ubah</a></td>
              </tr>
              <% end %>
            </tbody>
          </table>
          <a href="<%= new_schedule_path(motivator: @user.id) %>" class="btn btn-primary">Tambah</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h2><strong>Log Box Uneg Uneg Bulan Ini</strong></h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>id</th>
          <th>Client</th>
          <th>status</th>
          <th>Kategory</th>
          <th>created at</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% MessageBox.where(motivator_id: @user).each do |message_box| %>
        <tr>
          <td><%= link_to message_box.id, message_box_path(message_box) %></td>
          <td><%= message_box.user.full_name %></td>
          <td><%= message_box.status %></td>
          <td><%= message_box.problem_category.name rescue"-" %></td>
          <td><%= message_box.created_at.strftime("%e %B %Y  %T ") rescue "" %></td>
          <td>
            <%= link_to t('.show', :default => t("helpers.links.show")),
            message_box_path(message_box), :class => 'btn btn-default btn-xs' %>
            

          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h2><strong>Log Chat Motivasi Bulan Ini</strong></h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= "id".titleize %></th>
          <th><%= "user_id".titleize %></th>
          <th><%= "motivator_id".titleize %></th>
          <th><%= "package_id".titleize %></th>
          <th><%= "status".titleize %></th>
          <th><%= "created_at".titleize %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% Conversation.where(motivator_id: @user).each do |conversation| %>
        <tr>
          <td><%= link_to conversation.id, conversation_path(conversation) %></td>
          <td><%= conversation.user.full_name %></td>
          <td><%= conversation.motivator.motivator_code rescue '-'%></td>
          <td><%= conversation.package.name rescue'nil' %></td>
          <td><%= conversation.status %></td>
          <td><%= conversation.created_at.strftime("%e %B %Y  %T ") rescue "" %></td>
          <td>
            <%= link_to t('.show', :default => t("helpers.links.show")),
            conversation_path(conversation), :class => 'btn btn-default btn-xs' %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% else %>

<% if current_user.is_admin? || current_user.is_human_capital? %>

<div class="email-app">
  <!-- ============================================================== -->
  <!-- Left Part -->
  <!-- ============================================================== -->
  <div class="left-part pr-5">
    <div class="scrollable" style="height:100%;">
      <div class="d-flex no-block align-items-center mb-4">
        <div class="m-r-10"><img src="<%= asset_url('user.png') %>" alt="user" class="rounded-circle" width="45"></div>
        <div class="">
          <h5 class="m-b-0 font-16 font-medium"><%=@user.full_name %> <br> <small> ( <%=@user.email %> )</small></h5>
        </div>
      </div>
      <div class="d-block mb-3">
        <p><strong>Jenis Kelamin:</strong> <%=@user.gender %></p>
        <p><strong>Umur:</strong> <%=@user.range_age %></p>
        <p><strong>Agama:</strong> <%=@user.religion %></p>
        <p><strong>Kota:</strong> Jakarta</p>
      </div>
      <hr>

    </div>
  </div>
  <!-- ============================================================== -->
  <!-- Right Part  Mail detail -->
  <!-- ============================================================== -->
  <div class="right-part mail-details bg-white">
    <div class="card-body border-bottom">
    </div>
    <div class="card-body border-bottom">
      <div class="d-block mb-3">
        Box Uneg Uneg

      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= "id".titleize %></th>
            <th><%= "user_id".titleize %></th>
            <th><%= "motivator_id".titleize %></th>
            <th><%= "status".titleize %></th>
            <th><%= "problem_category_id".titleize %></th>
            <th><%= "created_at".titleize %></th>
            <th><%=t '.actions', :default => t("helpers.actions") %></th>
          </tr>
        </thead>
        <tbody>
          <% @user.messeage_boxs_client.each do |message_box| %>
          <tr>
            <td><%= link_to message_box.id, message_box_path(message_box) %></td>
            <td><%= message_box.user.full_name %></td>
            <% if message_box.motivator_id.nil? || message_box.motivator_id.empty? %>
            <td><span class="badge badge-danger">Belum Ada Motivator</span></td>
            <% else %>
            <td><%= message_box.motivator.motivator_code %></td>
            <% end %>
            <td><%= message_box.status %></td>
            <td><%= message_box.problem_category.name %></td>
            <td><%= message_box.created_at.strftime("%e %B %Y  %T ")  %></td>
            <td>
              <%= link_to t('.show', :default => t("helpers.links.show")),
              message_box_path(message_box), :class => 'btn btn-default btn-xs' %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <hr>
      <div class="d-block mb-3">
        Live Chat
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= "id".titleize %></th>
            <th><%= "user_id".titleize %></th>
            <th><%= "motivator_id".titleize %></th>
            <th><%= "package_id".titleize %></th>
            <th><%= "status".titleize %></th>
            <th><%= "created_at".titleize %></th>
            <th><%=t '.actions', :default => t("helpers.actions") %></th>
          </tr>
        </thead>
        <tbody>
          <% @user.conversations.each do |conversation| %>
          <tr>
            <td><%= link_to conversation.id, conversation_path(conversation) %></td>
            <td><%= conversation.user.full_name %></td>
            <td><%= conversation.motivator.motivator_code rescue '-'%></td>
            <td><%= conversation.package.name rescue'nil' %></td>
            <td><%= conversation.status %></td>
            <td><%= conversation.created_at.strftime("%e %B %Y  %T ")  %></td>
            <td>
              <%= link_to t('.show', :default => t("helpers.links.show")),
              conversation_path(conversation), :class => 'btn btn-default btn-xs' %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>


  </div>
</div>

<script type="text/javascript">
$( "#conversation_motivator_id" ).select2({
  theme: "bootstrap"
});
</script>


<% else %>

<!-- main slider -->
<section class="p-0">
  <div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="<%= asset_url('S1.png') %>" alt="" class="w-100">
      </div>
      <div class="carousel-item ">
        <img src="<%= asset_url('S2.png') %>" alt="" class="w-100">
      </div>
      <div class="carousel-item ">
        <img src="<%= asset_url('S3.png') %>" alt="" class="w-100">
      </div>
      <div class="carousel-item ">
        <img src="<%= asset_url('S4.png') %>" alt="" class="w-100">
      </div>
      <div class="carousel-item ">
        <img src="<%= asset_url('S5.png') %>" alt="" class="w-100">
      </div>
      <div class="carousel-item ">
        <img src="<%= asset_url('TESTIMONI.png') %>" alt="" class="w-100">
      </div>

    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>
<!-- main slider -->
<section class="pb-1 mt-3">
  <div class="container">
    <div class="w-75 m-auto mb-4">
      <h2 class="mb-1" style="font-size:20px;">REFER A FRIEND</h2>
      <p style='font-size:20px; font-weight:300;' >Share referral code ke 10 teman kamu, untuk mendapatkan free paket Move On</p>
      <div class="p-2 border border-info text-info m-auto mb-3" style="width:-webkit-fit-content">
        code kamu: <%= current_user.referral_code %>
      </div>
      <ul class="list-inline text-center mt-3">
        <li class="list-inline-item"><a href="#"><i class="text-dark fa fa-2x fa-facebook" aria-hidden="true"></i></a></li>
        <li class="list-inline-item"> - </li>
        <li class="list-inline-item"><a href="#"><i class="text-dark fa fa-2x fa-twitter" aria-hidden="true"></i></a></li>
        <li class="list-inline-item"> - </li>
        <li class="list-inline-item"><a href="#"><i class="text-dark fa fa-2x fa-whatsapp" aria-hidden="true"></i></a></li>
      </ul>

      <div class="mt-3 text-center">
        <p>atau melalui link berikut</p>
        <div class="p-2 border border-info bg-info text-white m-auto"  style="width:-webkit-fit-content">
          https://www.halloarif.id/register?referral_code=<%= @user.referral_code %>
        </div>
      </div>
    </div>

    <div class="d-block w-75 m-auto">
      <div class="text-right">
        <p clase=" mt-5"><%= User.where(signup_referral_code: @user.referral_code).count.to_i  %> <i class="fa fa-users" aria-hidden="true"></i></p>
      </div>
      <div class="progress  mt-1">
        <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: <%= (User.where(signup_referral_code: @user.referral_code).count.to_i ) * 10 %>%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>
</section>

<section class="pt-5 pb-0">
  <div class="container text-center">
    <% if MessageBox.where(user_id: current_user.id).last == nil  %>
    <h3>Sampaikan Curhatan kamu di box uneg uneg</h3>
    <div class="">
      <p><strong>Sisa Box Uneg Uneg Kamu</strong> <span class="badge badge-success"><%= 3 - @current_user.messeage_boxs_client.count %></span> </p>
    </div>
    <div class="fadeIn animated infinite ">
      <i class=" fa fa-arrow-down" aria-hidden="true" style="font-size:90px;"></i>
    </div>
    <div class="mt-3">
      <div class="mt-2">
        <%= form_for @message_box, :html => { :class => "form-horizontal message_box" } do |f| %>
        <div class="modal multi-step" id="demo-modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title step-1" data-step="1">Step 1</h4>
                <h4 class="modal-title step-2" data-step="2">Step 2</h4>
                <h4 class="modal-title step-3" data-step="3">Step 3</h4>
                <h4 class="modal-title step-4" data-step="4">Step 4</h4>
              </div>
              <div class="modal-body step step-1">
                <h2>APAKAH PERASAAN YANG SAHABAT RASAKAN ?</h2>
                <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                  <input type="radio" class="custom-control-input" id="sedih" name="message_box[question_1]" value="sedih" required>
                  <label class="custom-control-label" for="sedih">Sedih</label>
                </div>
                <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                  <input type="radio" class="custom-control-input" id="marah" name="message_box[question_1]" value="marah" required>
                  <label class="custom-control-label" for="marah">Marah</label>
                </div>
                <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                  <input type="radio" class="custom-control-input" id="hampa" name="message_box[question_1]" value="hampa" required>
                  <label class="custom-control-label" for="hampa">Hampa</label>
                </div>
                <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                  <input type="radio" class="custom-control-input" id="tertekan" name="message_box[question_1]" value="tertekan" required>
                  <label class="custom-control-label" for="tertekan">Tertekan</label>
                </div>
                <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                  <input type="radio" class="custom-control-input" id="stress" name="message_box[question_1]" value="stress" required>
                  <label class="custom-control-label" for="stress">Stress</label>
                </div>
                <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                  <input type="radio" class="custom-control-input" id="bahagia" name="message_box[question_1]" value="bahagia" required>
                  <label class="custom-control-label" for="bahagia">Bahagia</label>
                </div>
              </div>
              <div class="modal-body step step-2">
                <h2>APA YANG MEMBUAT ANDA  <span id="feel"> </h2>
                  <% ProblemCategory.all.each do |x| %>
                  <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                    <input type="radio" class="custom-control-input" id="<%= x.name %>" name="message_box[problem_category_id]" value="<%= x.id %>" required>
                    <label class="custom-control-label" for="<%= x.name %>"><%= x.name %></label>
                  </div>
                  <% end %>
                </div>
                <div class="modal-body step step-3">
                  <div style="display:none;" class="dtl" id="dtl-percintaan">
                    <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                      <input type="radio" class="custom-control-input" id="Orang ketiga" name="message_box[question_1]" value="Orang ketiga" required>
                      <label style="text-transform:capitalize;" class="custom-control-label" for="Orang ketiga">Orang ketiga</label>
                    </div>
                    <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                      <input type="radio" class="custom-control-input" id="posesif berlebihan" name="message_box[question_1]" value="posesif berlebihan" required>
                      <label style="text-transform:capitalize;" class="custom-control-label" for="posesif berlebihan">posesif berlebihan</label>
                    </div>
                    <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                      <input type="radio" class="custom-control-input" id="galau menentukan pilihan" name="message_box[question_1]" value="galau menentukan pilihan" required>
                      <label style="text-transform:capitalize;" class="custom-control-label" for="galau menentukan pilihan">galau menentukan pilihan</label>
                    </div>
                    <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                      <input type="radio" class="custom-control-input" id="gagal menjalin hubungan" name="message_box[question_1]" value="gagal menjalin hubungan" required>
                      <label style="text-transform:capitalize;" class="custom-control-label" for="gagal menjalin hubungan">gagal menjalin hubungan</label>
                    </div>
                    <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                      <input type="radio" class="custom-control-input" id="mencintai-orang-tidak-tepat" name="message_box[question_1]" value="mencintai orang tidak tepat" required>
                      <label style="text-transform:capitalize;" class="custom-control-label" for="mencintai-orang-tidak-tepat">mencintai orang tidak tepat</label>
                    </div>
                    <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                      <input type="radio" class="custom-control-input" id="perbedaan-pendapat" name="message_box[question_1]" value="perbedaan pendapat" required>
                      <label style="text-transform:capitalize;" class="custom-control-label" for="perbedaan-pendapat">perbedaan pendapat</label>
                    </div>
                    <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                      <input type="radio" class="custom-control-input" id="perbedaan-keyakinan" name="message_box[question_1]" value="perbedaan keyakinan" required>
                      <label style="text-transform:capitalize;" class="custom-control-label" for="perbedaan-keyakinan">perbedaan keyakinan</label>
                    </div>
                    <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                      <input type="radio" class="custom-control-input" id="jenuh" name="message_box[question_1]" value="jenuh" required>
                      <label style="text-transform:capitalize;" class="custom-control-label" for="jenuh">jenuh</label>
                    </div>
                    <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                      <input type="radio" class="custom-control-input" id="kesalah-pahaman" name="message_box[question_1]" value="kesalah pahaman" required>
                      <label style="text-transform:capitalize;" class="custom-control-label" for="kesalah-pahaman">kesalah pahaman</label>
                    </div>
                    <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                      <input type="radio" class="custom-control-input" id="pacaran-tidak-sehat" name="message_box[question_1]" value="pacaran tidak sehat" required>
                      <label style="text-transform:capitalize;" class="custom-control-label" for="pacaran-tidak-sehat">pacaran tidak sehat</label>
                    </div>
                    <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                      <input type="radio" class="custom-control-input" id="trauma-dalam-percintaan" name="message_box[question_1]" value="trauma dalam percintaan" required>
                      <label style="text-transform:capitalize;" class="custom-control-label" for="trauma-dalam-percintaan">trauma dalam percintaan</label>
                    </div>
                  </div>
                  <div style="display:none;" class="dtl" id="dtl-keuangan">
                    <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                      <input type="radio" class="custom-control-input" id="terlilit-hutang" name="message_box[question_2]" value="Terlilit hutang (#BANK, #TEMAN, #RENTENIR, #PINAJAMAN ONLINE)" required>
                      <label style="text-transform:capitalize;" class="custom-control-label" for="terlilit-hutang">Terlilit hutang (#BANK, #TEMAN, #RENTENIR, #PINAJAMAN ONLINE)</label>
                    </div>

                    <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                      <input type="radio" class="custom-control-input" id="tidak-memiliki-tabungan-atau-investasi-apapun" name="message_box[question_2]" value="Tidak memiliki tabungan atau investasi apapun" required>
                      <label style="text-transform:capitalize;" class="custom-control-label" for="tidak-memiliki-tabungan-atau-investasi-apapun">Tidak memiliki tabungan atau investasi apapun</label>
                    </div>

                    <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                      <input type="radio" class="custom-control-input" id="gagal-dalam-menjalankan-usaha" name="message_box[question_2]" value="Gagal dalam menjalankan usaha" required>
                      <label style="text-transform:capitalize;" class="custom-control-label" for="gagal-dalam-menjalankan-usaha">Gagal dalam menjalankan usaha</label>
                    </div>

                    <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                      <input type="radio" class="custom-control-input" id="bergaya-hidup-konsumtif" name="message_box[question_2]" value="Bergaya hidup konsumtif" required>
                      <label style="text-transform:capitalize;" class="custom-control-label" for="bergaya-hidup-konsumtif">Bergaya hidup konsumtif</label>
                    </div>

                    <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                      <input type="radio" class="custom-control-input" id="terlalu-banyak-keinginan" name="message_box[question_2]" value="Terlalu banyak keinginan" required>
                      <label style="text-transform:capitalize;" class="custom-control-label" for="terlalu-banyak-keinginan">Terlalu banyak keinginan</label>
                    </div>

                    <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                      <input type="radio" class="custom-control-input" id="berurusan-dengan-bank" name="message_box[question_2]" value="Berurusan dengan bank" required>
                      <label style="text-transform:capitalize;" class="custom-control-label" for="berurusan-dengan-bank">Berurusan dengan bank</label>
                    </div>

                    <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                      <input type="radio" class="custom-control-input" id="xKesulitan-memenuhi-kebutuhan-sehari-hari" name="message_box[question_2]" value="Kesulitan memenuhi kebutuhan sehari-hari" required>
                      <label style="text-transform:capitalize;" class="custom-control-label" for="xKesulitan-memenuhi-kebutuhan-sehari-hari">Kesulitan memenuhi kebutuhan sehari-hari</label>
                    </div>

                    <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                      <input type="radio" class="custom-control-input" id="biaya-pengobatan" name="message_box[question_2]" value="Biaya pengobatan" required>
                      <label style="text-transform:capitalize;" class="custom-control-label" for="biaya-pengobatan">Biaya pengobatan</label>
                    </div>
                  </div>
                  <div style="display:none;" class="dtl" id="dtl-keluarga">
                    <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                      <input type="radio" class="custom-control-input" id="orang-ketiga" name="message_box[question_2]" value="orang ketiga" required>
                      <label style="text-transform:capitalize;" class="custom-control-label" for="orang-ketiga">orang ketiga</label>
                    </div>

                    <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                      <input type="radio" class="custom-control-input" id="harta-warisan" name="message_box[question_2]" value="harta warisan" required>
                      <label style="text-transform:capitalize;" class="custom-control-label" for="harta-warisan">harta warisan</label>
                    </div>

                    <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                      <input type="radio" class="custom-control-input" id="perbedaan-pendapat" name="message_box[question_2]" value="perbedaan pendapat" required>
                      <label style="text-transform:capitalize;" class="custom-control-label" for="perbedaan-pendapat">perbedaan pendapat</label>
                    </div>

                    <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                      <input type="radio" class="custom-control-input" id="perbedaan-keyakinan" name="message_box[question_2]" value="perbedaan keyakinan" required>
                      <label style="text-transform:capitalize;" class="custom-control-label" for="perbedaan-keyakinan">perbedaan keyakinan</label>
                    </div>

                    <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                      <input type="radio" class="custom-control-input" id="pilih-kasih" name="message_box[question_2]" value="pilih kasih" required>
                      <label style="text-transform:capitalize;" class="custom-control-label" for="pilih-kasih">pilih kasih</label>
                    </div>

                    <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                      <input type="radio" class="custom-control-input" id="xpermasalahan-anak" name="message_box[question_2]" value="permasalahan anak (#kecanduan game, #pergaulan bebas, #sulit di kendalikan, # Belum dikarunia momongan)" required>
                      <label style="text-transform:capitalize;" class="custom-control-label" for="xpermasalahan-anak">permasalahan anak (#kecanduan game, #pergaulan bebas, #sulit di kendalikan, # Belum dikarunia momongan)</label>
                    </div>

                    <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                      <input type="radio" class="custom-control-input" id="xpermasalahan-orang-tua" name="message_box[question_2]" value="permasalahan orang tua (#permasalahan  mertua,  #permasalahan saudara, #misskomunikasi)" required>
                      <label style="text-transform:capitalize;" class="custom-control-label" for="xpermasalahan-orang-tua">permasalahan orang tua (#permasalahan  mertua,  #permasalahan saudara, #misskomunikasi)</label>
                    </div>

                    <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                      <input type="radio" class="custom-control-input" id="xsulit membagi waktu" name="message_box[question_2]" value="sulit membagi waktu" required>
                      <label style="text-transform:capitalize;" class="custom-control-label" for="xsulit membagi waktu">sulit membagi waktu</label>
                    </div>

                    <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                      <input type="radio" class="custom-control-input" id="xbroken home" name="message_box[question_2]" value="broken home" required>
                      <label style="text-transform:capitalize;" class="custom-control-label" for="xbroken home">broken home</label>
                    </div>

                    <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                      <input type="radio" class="custom-control-input" id="xdll" name="message_box[question_2]" value="dll" required>
                      <label style="text-transform:capitalize;" class="custom-control-label" for="xdll">dll</label>
                    </div>
                  </div>
                  <div style="display:none;" class="dtl" id="dtl-pertemanan">
                    <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                      <input type="radio" class="custom-control-input" id="misskomunikasi" name="message_box[question_2]" value="Misskomunikasi" required>
                      <label style="text-transform:capitalize;" class="custom-control-label" for="misskomunikasi">Misskomunikasi</label>
                    </div>
                    <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                      <input type="radio" class="custom-control-input" id="berbeda-pendapat" name="message_box[question_2]" value="Berbeda pendapat" required>
                      <label style="text-transform:capitalize;" class="custom-control-label" for="berbeda-pendapat">Berbeda pendapat</label>
                    </div>
                    <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                      <input type="radio" class="custom-control-input" id="terlau-perasa-sensitive" name="message_box[question_2]" value="Terlau perasa/sensitive" required>
                      <label style="text-transform:capitalize;" class="custom-control-label" for="terlau-perasa-sensitive">Terlau perasa/sensitive</label>
                    </div>
                    <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                      <input type="radio" class="custom-control-input" id="mementingkan-kepentingan-pribadi" name="message_box[question_2]" value="Mementingkan kepentingan pribadi (egois)" required>
                      <label style="text-transform:capitalize;" class="custom-control-label" for="mementingkan-kepentingan-pribadi">Mementingkan kepentingan pribadi (egois)</label>
                    </div>
                    <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                      <input type="radio" class="custom-control-input" id="bullying" name="message_box[question_2]" value="Bullying" required>
                      <label style="text-transform:capitalize;" class="custom-control-label" for="bullying">Bullying</label>
                    </div>
                  </div>
                  <div style="display:none;" class="dtl" id="dtl-studi">
                    <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                      <input type="radio" class="custom-control-input" id="pekerjaandiharapkan" name="message_box[question_2]" value="pekerjaan tidak sesuai dengan yang diharapkan" required>
                      <label style="text-transform:capitalize;" class="custom-control-label" for="pekerjaandiharapkan">pekerjaan tidak sesuai dengan yang diharapkan</label>
                    </div>

                    <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                      <input type="radio" class="custom-control-input" id="inginsampingan" name="message_box[question_2]" value="ingin memulai bisnis sampingan" required>
                      <label style="text-transform:capitalize;" class="custom-control-label" for="inginsampingan">ingin memulai bisnis sampingan</label>
                    </div>

                    <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                      <input type="radio" class="custom-control-input" id="bekerjais" name="message_box[question_2]" value="bekerja/berbisnis" required>
                      <label style="text-transform:capitalize;" class="custom-control-label" for="bekerjais">bekerja/berbisnis</label>
                    </div>

                    <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                      <input type="radio" class="custom-control-input" id="kuliahkerja" name="message_box[question_2]" value="kuliah/bekerja" required>
                      <label style="text-transform:capitalize;" class="custom-control-label" for="kuliahkerja">kuliah/bekerja</label>
                    </div>

                    <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                      <input type="radio" class="custom-control-input" id="bingungkuliah" name="message_box[question_2]" value="bingung menentukan jurusan kuliah" required>
                      <label style="text-transform:capitalize;" class="custom-control-label" for="bingungkuliah">bingung menentukan jurusan kuliah</label>
                    </div>

                    <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                      <input type="radio" class="custom-control-input" id="kesulitanbelajar" name="message_box[question_2]" value="kesulitan belajar" required>
                      <label style="text-transform:capitalize;" class="custom-control-label" for="kesulitanbelajar">kesulitan belajar</label>
                    </div>
                  </div>
                  <div style="display:none;" class="dtl" id="dtl-diri">
                    <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                      <input type="radio" class="custom-control-input" id="kelainanseksual" name="message_box[question_2]" value="Kelainan seksual" required>
                      <label style="text-transform:capitalize;" class="custom-control-label" for="kelainanseksual">Kelainan seksual</label>
                    </div>
                    <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                      <input type="radio" class="custom-control-input" id="tidakemosi" name="message_box[question_2]" value="Tidak dapat mengontrol emosi (#mudah marah, #mudah sedih)" required>
                      <label style="text-transform:capitalize;" class="custom-control-label" for="tidakemosi">Tidak dapat mengontrol emosi (#mudah marah, #mudah sedih)</label>
                    </div>
                    <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                      <input type="radio" class="custom-control-input" id="xinsomnia" name="message_box[question_2]" value="Insomnia" required>
                      <label style="text-transform:capitalize;" class="custom-control-label" for="xinsomnia">Insomnia</label>
                    </div>
                    <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                      <input type="radio" class="custom-control-input" id="xtdiri" name="message_box[question_2]" value="Tidak percaya diri" required>
                      <label style="text-transform:capitalize;" class="custom-control-label" for="xtdiri">Tidak percaya diri</label>
                    </div>
                    <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                      <input type="radio" class="custom-control-input" id="xkecemaserlebihan" name="message_box[question_2]" value="Kecemasan berlebihan" required>
                      <label style="text-transform:capitalize;" class="custom-control-label" for="xkecemaserlebihan">Kecemasan berlebihan</label>
                    </div>
                    <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                      <input type="radio" class="custom-control-input" id="xtraumasalalu" name="message_box[question_2]" value="Trauma masa lalu" required>
                      <label style="text-transform:capitalize;" class="custom-control-label" for="xtraumasalalu">Trauma masa lalu</label>
                    </div>
                    <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                      <input type="radio" class="custom-control-input" id="kecanduarlarang" name="message_box[question_2]" value="Kecanduan obat-obatan terlarang" required>
                      <label style="text-transform:capitalize;" class="custom-control-label" for="kecanduarlarang">Kecanduan obat-obatan terlarang</label>
                    </div>
                    <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                      <input type="radio" class="custom-control-input" id="xkcandugame" name="message_box[question_2]" value="Kecanduan game" required>
                      <label style="text-transform:capitalize;" class="custom-control-label" for="xkcandugame">Kecanduan game</label>
                    </div>
                    <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                      <input type="radio" class="custom-control-input" id="xTidmemilikidup" name="message_box[question_2]" value="Tidak memiliki semangat hidup" required>
                      <label style="text-transform:capitalize;" class="custom-control-label" for="xTidmemilikidup">Tidak memiliki semangat hidup</label>
                    </div>
                    <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                      <input type="radio" class="custom-control-input" id="xsuliberadaptasi" name="message_box[question_2]" value="Sulit beradaptasi" required>
                      <label style="text-transform:capitalize;" class="custom-control-label" for="xsuliberadaptasi">Sulit beradaptasi</label>
                    </div>
                  </div>
                </div>
                <div class="modal-body step step-4">
                  <h2 class="mb-0">Tuliskan Uneg Uneg Kamu :</h2>
                  <div class="form-group">
                    <%= f.text_area :message, :class => 'form-control', rows: 15, required: true%>
                  </div>
                  <div class="text-center">
                    <%= f.hidden_field :user_id, value:current_user.id %>
                    <%= f.hidden_field :motivator_id, value:nil %>
                    <%= f.hidden_field :status, value:'init' %>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-primary step step-1 step-2 step-3 step-4" data-step="1" onclick="sendEvent0()">Ulangi</button>
                  <button type="button" class="btn btn-primary step step-1" data-step="1" onclick="sendEvent1()">Continue</button>
                  <button type="button" class="btn btn-primary step step-2" data-step="2" onclick="sendEvent2()">Continue</button>
                  <button type="button" class="btn btn-primary step step-3" data-step="3" onclick="sendEvent3()">Continue</button>
                  <%= f.submit 'Kirim Curhatan', :class => 'step step-4 btn btn-primary' %>
                </div>
              </div>
            </div>
          </div>
          <% end %>
          <a href="#demo-modal" data-toggle="modal" data-target="#demo-modal">
            <img src="<%= asset_url('Box Uneg-Uneg.png') %>" alt="box uneg uneg hallo arif" class="m-auto d-block mw-100" style="width:900px;">
          </a>
        </div>
      </div>

      <% elsif current_user.messeage_boxs_client.count >= 3  %>

      <h3>Sampaikan Curhatan kamu di box uneg uneg </h3>
      <div class="">
        <p><strong>Sisa Box Uneg Uneg Kamu</strong> <span class="badge badge-success"><%= 3 - @current_user.messeage_boxs_client.count %></span> </p>
      </div>
      <div class="fadeIn animated infinite ">

        <i class=" fa fa-arrow-down" aria-hidden="true" style="font-size:90px;"></i>
      </div>
      <div class="mt-3">
        <div class="mt-2">
          <a href="<%= list_package_path %>">
            <img src="<%= asset_url('Box Uneg-Uneg.png') %>" alt="box uneg uneg hallo arif" class="m-auto d-block mw-100" style="width:900px;">
          </a>
        </div>
      </div>
      <% elsif MessageBox.where(user_id: current_user.id).last.status != "init" %>

      <h3>Sampaikan Curhatan kamu di box uneg uneg </h3>
      <div class="">
        <p><strong>Sisa Box Uneg Uneg Kamu</strong> <span class="badge badge-success"><%= 3 - @current_user.messeage_boxs_client.count %></span> </p>
      </div>
      <div class="fadeIn animated infinite ">
        <i class=" fa fa-arrow-down" aria-hidden="true" style="font-size:90px;"></i>
      </div>
      <div class="mt-3">
        <div class="mt-2">
          <%= form_for @message_box, :html => { :class => "form-horizontal message_box" } do |f| %>
          <div class="modal multi-step" id="demo-modal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title step-1" data-step="1">Step 1</h4>
                  <h4 class="modal-title step-2" data-step="2">Step 2</h4>
                  <h4 class="modal-title step-3" data-step="3">Step 3</h4>
                  <h4 class="modal-title step-4" data-step="4">Step 4</h4>
                </div>
                <div class="modal-body step step-1">
                  <h2>APAKAH PERASAAN YANG SAHABAT RASAKAN ?</h2>
                  <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                    <input type="radio" class="custom-control-input" id="sedih" name="message_box[question_1]" value="sedih" required>
                    <label class="custom-control-label" for="sedih">Sedih</label>
                  </div>
                  <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                    <input type="radio" class="custom-control-input" id="marah" name="message_box[question_1]" value="marah" required>
                    <label class="custom-control-label" for="marah">Marah</label>
                  </div>
                  <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                    <input type="radio" class="custom-control-input" id="hampa" name="message_box[question_1]" value="hampa" required>
                    <label class="custom-control-label" for="hampa">Hampa</label>
                  </div>
                  <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                    <input type="radio" class="custom-control-input" id="tertekan" name="message_box[question_1]" value="tertekan" required>
                    <label class="custom-control-label" for="tertekan">Tertekan</label>
                  </div>
                  <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                    <input type="radio" class="custom-control-input" id="stress" name="message_box[question_1]" value="stress" required>
                    <label class="custom-control-label" for="stress">Stress</label>
                  </div>
                  <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                    <input type="radio" class="custom-control-input" id="bahagia" name="message_box[question_1]" value="bahagia" required>
                    <label class="custom-control-label" for="bahagia">Bahagia</label>
                  </div>
                </div>
                <div class="modal-body step step-2">
                  <h2>APA YANG MEMBUAT ANDA  <span id="feel"> </h2>
                    <% ProblemCategory.all.each do |x| %>
                    <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                      <input type="radio" class="custom-control-input" id="<%= x.name %>" name="message_box[problem_category_id]" value="<%= x.id %>" required>
                      <label class="custom-control-label" for="<%= x.name %>"><%= x.name %></label>
                    </div>
                    <% end %>
                  </div>
                  <div class="modal-body step step-3">

                    <div style="display:none;" class="dtl" id="dtl-percintaan">
                      <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                        <input type="radio" class="custom-control-input" id="Orang ketiga" name="message_box[question_2]" value="Orang ketiga" required>
                        <label style="text-transform:capitalize;" class="custom-control-label" for="Orang ketiga">Orang ketiga</label>
                      </div>
                      <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                        <input type="radio" class="custom-control-input" id="posesif berlebihan" name="message_box[question_2]" value="posesif berlebihan" required>
                        <label style="text-transform:capitalize;" class="custom-control-label" for="posesif berlebihan">posesif berlebihan</label>
                      </div>
                      <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                        <input type="radio" class="custom-control-input" id="galau menentukan pilihan" name="message_box[question_2]" value="galau menentukan pilihan" required>
                        <label style="text-transform:capitalize;" class="custom-control-label" for="galau menentukan pilihan">galau menentukan pilihan</label>
                      </div>
                      <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                        <input type="radio" class="custom-control-input" id="gagal menjalin hubungan" name="message_box[question_2]" value="gagal menjalin hubungan" required>
                        <label style="text-transform:capitalize;" class="custom-control-label" for="gagal menjalin hubungan">gagal menjalin hubungan</label>
                      </div>
                      <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                        <input type="radio" class="custom-control-input" id="mencintai-orang-tidak-tepat" name="message_box[question_2]" value="mencintai orang tidak tepat" required>
                        <label style="text-transform:capitalize;" class="custom-control-label" for="mencintai-orang-tidak-tepat">mencintai orang tidak tepat</label>
                      </div>
                      <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                        <input type="radio" class="custom-control-input" id="perbedaan-pendapat" name="message_box[question_2]" value="perbedaan pendapat" required>
                        <label style="text-transform:capitalize;" class="custom-control-label" for="perbedaan-pendapat">perbedaan pendapat</label>
                      </div>
                      <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                        <input type="radio" class="custom-control-input" id="perbedaan-keyakinan" name="message_box[question_2]" value="perbedaan keyakinan" required>
                        <label style="text-transform:capitalize;" class="custom-control-label" for="perbedaan-keyakinan">perbedaan keyakinan</label>
                      </div>
                      <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                        <input type="radio" class="custom-control-input" id="jenuh" name="message_box[question_2]" value="jenuh" required>
                        <label style="text-transform:capitalize;" class="custom-control-label" for="jenuh">jenuh</label>
                      </div>
                      <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                        <input type="radio" class="custom-control-input" id="kesalah-pahaman" name="message_box[question_2]" value="kesalah pahaman" required>
                        <label style="text-transform:capitalize;" class="custom-control-label" for="kesalah-pahaman">kesalah pahaman</label>
                      </div>
                      <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                        <input type="radio" class="custom-control-input" id="pacaran-tidak-sehat" name="message_box[question_2]" value="pacaran tidak sehat" required>
                        <label style="text-transform:capitalize;" class="custom-control-label" for="pacaran-tidak-sehat">pacaran tidak sehat</label>
                      </div>
                      <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                        <input type="radio" class="custom-control-input" id="trauma-dalam-percintaan" name="message_box[question_2]" value="trauma dalam percintaan" required>
                        <label style="text-transform:capitalize;" class="custom-control-label" for="trauma-dalam-percintaan">trauma dalam percintaan</label>
                      </div>
                    </div>
                    <div style="display:none;" class="dtl" id="dtl-keuangan">
                      <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                        <input type="radio" class="custom-control-input" id="terlilit-hutang" name="message_box[question_2]" value="Terlilit hutang (#BANK, #TEMAN, #RENTENIR, #PINAJAMAN ONLINE)" required>
                        <label style="text-transform:capitalize;" class="custom-control-label" for="terlilit-hutang">Terlilit hutang (#BANK, #TEMAN, #RENTENIR, #PINAJAMAN ONLINE)</label>
                      </div>

                      <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                        <input type="radio" class="custom-control-input" id="tidak-memiliki-tabungan-atau-investasi-apapun" name="message_box[question_2]" value="Tidak memiliki tabungan atau investasi apapun" required>
                        <label style="text-transform:capitalize;" class="custom-control-label" for="tidak-memiliki-tabungan-atau-investasi-apapun">Tidak memiliki tabungan atau investasi apapun</label>
                      </div>

                      <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                        <input type="radio" class="custom-control-input" id="gagal-dalam-menjalankan-usaha" name="message_box[question_2]" value="Gagal dalam menjalankan usaha" required>
                        <label style="text-transform:capitalize;" class="custom-control-label" for="gagal-dalam-menjalankan-usaha">Gagal dalam menjalankan usaha</label>
                      </div>

                      <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                        <input type="radio" class="custom-control-input" id="bergaya-hidup-konsumtif" name="message_box[question_2]" value="Bergaya hidup konsumtif" required>
                        <label style="text-transform:capitalize;" class="custom-control-label" for="bergaya-hidup-konsumtif">Bergaya hidup konsumtif</label>
                      </div>

                      <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                        <input type="radio" class="custom-control-input" id="terlalu-banyak-keinginan" name="message_box[question_2]" value="Terlalu banyak keinginan" required>
                        <label style="text-transform:capitalize;" class="custom-control-label" for="terlalu-banyak-keinginan">Terlalu banyak keinginan</label>
                      </div>

                      <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                        <input type="radio" class="custom-control-input" id="berurusan-dengan-bank" name="message_box[question_2]" value="Berurusan dengan bank" required>
                        <label style="text-transform:capitalize;" class="custom-control-label" for="berurusan-dengan-bank">Berurusan dengan bank</label>
                      </div>

                      <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                        <input type="radio" class="custom-control-input" id="xKesulitan-memenuhi-kebutuhan-sehari-hari" name="message_box[question_2]" value="Kesulitan memenuhi kebutuhan sehari-hari" required>
                        <label style="text-transform:capitalize;" class="custom-control-label" for="xKesulitan-memenuhi-kebutuhan-sehari-hari">Kesulitan memenuhi kebutuhan sehari-hari</label>
                      </div>

                      <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                        <input type="radio" class="custom-control-input" id="biaya-pengobatan" name="message_box[question_2]" value="Biaya pengobatan" required>
                        <label style="text-transform:capitalize;" class="custom-control-label" for="biaya-pengobatan">Biaya pengobatan</label>
                      </div>
                    </div>
                    <div style="display:none;" class="dtl" id="dtl-keluarga">
                      <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                        <input type="radio" class="custom-control-input" id="orang-ketiga" name="message_box[question_2]" value="orang ketiga" required>
                        <label style="text-transform:capitalize;" class="custom-control-label" for="orang-ketiga">orang ketiga</label>
                      </div>

                      <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                        <input type="radio" class="custom-control-input" id="harta-warisan" name="message_box[question_2]" value="harta warisan" required>
                        <label style="text-transform:capitalize;" class="custom-control-label" for="harta-warisan">harta warisan</label>
                      </div>

                      <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                        <input type="radio" class="custom-control-input" id="perbedaan-pendapat" name="message_box[question_2]" value="perbedaan pendapat" required>
                        <label style="text-transform:capitalize;" class="custom-control-label" for="perbedaan-pendapat">perbedaan pendapat</label>
                      </div>

                      <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                        <input type="radio" class="custom-control-input" id="perbedaan-keyakinan" name="message_box[question_2]" value="perbedaan keyakinan" required>
                        <label style="text-transform:capitalize;" class="custom-control-label" for="perbedaan-keyakinan">perbedaan keyakinan</label>
                      </div>

                      <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                        <input type="radio" class="custom-control-input" id="pilih-kasih" name="message_box[question_2]" value="pilih kasih" required>
                        <label style="text-transform:capitalize;" class="custom-control-label" for="pilih-kasih">pilih kasih</label>
                      </div>

                      <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                        <input type="radio" class="custom-control-input" id="xpermasalahan-anak" name="message_box[question_2]" value="permasalahan anak (#kecanduan game, #pergaulan bebas, #sulit di kendalikan, # Belum dikarunia momongan)" required>
                        <label style="text-transform:capitalize;" class="custom-control-label" for="xpermasalahan-anak">permasalahan anak (#kecanduan game, #pergaulan bebas, #sulit di kendalikan, # Belum dikarunia momongan)</label>
                      </div>

                      <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                        <input type="radio" class="custom-control-input" id="xpermasalahan-orang-tua" name="message_box[question_2]" value="permasalahan orang tua (#permasalahan  mertua,  #permasalahan saudara, #misskomunikasi)" required>
                        <label style="text-transform:capitalize;" class="custom-control-label" for="xpermasalahan-orang-tua">permasalahan orang tua (#permasalahan  mertua,  #permasalahan saudara, #misskomunikasi)</label>
                      </div>

                      <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                        <input type="radio" class="custom-control-input" id="xsulit membagi waktu" name="message_box[question_2]" value="sulit membagi waktu" required>
                        <label style="text-transform:capitalize;" class="custom-control-label" for="xsulit membagi waktu">sulit membagi waktu</label>
                      </div>

                      <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                        <input type="radio" class="custom-control-input" id="xbroken home" name="message_box[question_2]" value="broken home" required>
                        <label style="text-transform:capitalize;" class="custom-control-label" for="xbroken home">broken home</label>
                      </div>

                      <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                        <input type="radio" class="custom-control-input" id="xdll" name="message_box[question_2]" value="dll" required>
                        <label style="text-transform:capitalize;" class="custom-control-label" for="xdll">dll</label>
                      </div>
                    </div>
                    <div style="display:none;" class="dtl" id="dtl-pertemanan">
                      <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                        <input type="radio" class="custom-control-input" id="misskomunikasi" name="message_box[question_2]" value="Misskomunikasi" required>
                        <label style="text-transform:capitalize;" class="custom-control-label" for="misskomunikasi">Misskomunikasi</label>
                      </div>
                      <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                        <input type="radio" class="custom-control-input" id="berbeda-pendapat" name="message_box[question_2]" value="Berbeda pendapat" required>
                        <label style="text-transform:capitalize;" class="custom-control-label" for="berbeda-pendapat">Berbeda pendapat</label>
                      </div>
                      <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                        <input type="radio" class="custom-control-input" id="terlau-perasa-sensitive" name="message_box[question_2]" value="Terlau perasa/sensitive" required>
                        <label style="text-transform:capitalize;" class="custom-control-label" for="terlau-perasa-sensitive">Terlau perasa/sensitive</label>
                      </div>
                      <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                        <input type="radio" class="custom-control-input" id="mementingkan-kepentingan-pribadi" name="message_box[question_2]" value="Mementingkan kepentingan pribadi (egois)" required>
                        <label style="text-transform:capitalize;" class="custom-control-label" for="mementingkan-kepentingan-pribadi">Mementingkan kepentingan pribadi (egois)</label>
                      </div>
                      <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                        <input type="radio" class="custom-control-input" id="bullying" name="message_box[question_2]" value="Bullying" required>
                        <label style="text-transform:capitalize;" class="custom-control-label" for="bullying">Bullying</label>
                      </div>
                    </div>
                    <div style="display:none;" class="dtl" id="dtl-studi">
                      <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                        <input type="radio" class="custom-control-input" id="pekerjaandiharapkan" name="message_box[question_2]" value="pekerjaan tidak sesuai dengan yang diharapkan" required>
                        <label style="text-transform:capitalize;" class="custom-control-label" for="pekerjaandiharapkan">pekerjaan tidak sesuai dengan yang diharapkan</label>
                      </div>

                      <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                        <input type="radio" class="custom-control-input" id="inginsampingan" name="message_box[question_2]" value="ingin memulai bisnis sampingan" required>
                        <label style="text-transform:capitalize;" class="custom-control-label" for="inginsampingan">ingin memulai bisnis sampingan</label>
                      </div>

                      <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                        <input type="radio" class="custom-control-input" id="bekerjais" name="message_box[question_2]" value="bekerja/berbisnis" required>
                        <label style="text-transform:capitalize;" class="custom-control-label" for="bekerjais">bekerja/berbisnis</label>
                      </div>

                      <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                        <input type="radio" class="custom-control-input" id="kuliahkerja" name="message_box[question_2]" value="kuliah/bekerja" required>
                        <label style="text-transform:capitalize;" class="custom-control-label" for="kuliahkerja">kuliah/bekerja</label>
                      </div>

                      <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                        <input type="radio" class="custom-control-input" id="bingungkuliah" name="message_box[question_2]" value="bingung menentukan jurusan kuliah" required>
                        <label style="text-transform:capitalize;" class="custom-control-label" for="bingungkuliah">bingung menentukan jurusan kuliah</label>
                      </div>

                      <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                        <input type="radio" class="custom-control-input" id="kesulitanbelajar" name="message_box[question_2]" value="kesulitan belajar" required>
                        <label style="text-transform:capitalize;" class="custom-control-label" for="kesulitanbelajar">kesulitan belajar</label>
                      </div>
                    </div>
                    <div style="display:none;" class="dtl" id="dtl-diri">
                      <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                        <input type="radio" class="custom-control-input" id="kelainanseksual" name="message_box[question_2]" value="Kelainan seksual" required>
                        <label style="text-transform:capitalize;" class="custom-control-label" for="kelainanseksual">Kelainan seksual</label>
                      </div>
                      <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                        <input type="radio" class="custom-control-input" id="tidakemosi" name="message_box[question_2]" value="Tidak dapat mengontrol emosi (#mudah marah, #mudah sedih)" required>
                        <label style="text-transform:capitalize;" class="custom-control-label" for="tidakemosi">Tidak dapat mengontrol emosi (#mudah marah, #mudah sedih)</label>
                      </div>
                      <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                        <input type="radio" class="custom-control-input" id="xinsomnia" name="message_box[question_2]" value="Insomnia" required>
                        <label style="text-transform:capitalize;" class="custom-control-label" for="xinsomnia">Insomnia</label>
                      </div>
                      <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                        <input type="radio" class="custom-control-input" id="xtdiri" name="message_box[question_2]" value="Tidak percaya diri" required>
                        <label style="text-transform:capitalize;" class="custom-control-label" for="xtdiri">Tidak percaya diri</label>
                      </div>
                      <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                        <input type="radio" class="custom-control-input" id="xkecemaserlebihan" name="message_box[question_2]" value="Kecemasan berlebihan" required>
                        <label style="text-transform:capitalize;" class="custom-control-label" for="xkecemaserlebihan">Kecemasan berlebihan</label>
                      </div>
                      <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                        <input type="radio" class="custom-control-input" id="xtraumasalalu" name="message_box[question_2]" value="Trauma masa lalu" required>
                        <label style="text-transform:capitalize;" class="custom-control-label" for="xtraumasalalu">Trauma masa lalu</label>
                      </div>
                      <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                        <input type="radio" class="custom-control-input" id="kecanduarlarang" name="message_box[question_2]" value="Kecanduan obat-obatan terlarang" required>
                        <label style="text-transform:capitalize;" class="custom-control-label" for="kecanduarlarang">Kecanduan obat-obatan terlarang</label>
                      </div>
                      <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                        <input type="radio" class="custom-control-input" id="xkcandugame" name="message_box[question_2]" value="Kecanduan game" required>
                        <label style="text-transform:capitalize;" class="custom-control-label" for="xkcandugame">Kecanduan game</label>
                      </div>
                      <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                        <input type="radio" class="custom-control-input" id="xTidmemilikidup" name="message_box[question_2]" value="Tidak memiliki semangat hidup" required>
                        <label style="text-transform:capitalize;" class="custom-control-label" for="xTidmemilikidup">Tidak memiliki semangat hidup</label>
                      </div>
                      <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                        <input type="radio" class="custom-control-input" id="xsuliberadaptasi" name="message_box[question_2]" value="Sulit beradaptasi" required>
                        <label style="text-transform:capitalize;" class="custom-control-label" for="xsuliberadaptasi">Sulit beradaptasi</label>
                      </div>
                    </div>



                  </div>
                  <div class="modal-body step step-4">
                    <h2 class="mb-0">Tuliskan Uneg Uneg Kamu :</h2>
                    <div class="form-group">
                      <%= f.text_area :message, :class => 'form-control', rows: 15, required: true %>
                    </div>
                    <div class="text-center">
                      <%= f.hidden_field :user_id, value:current_user.id %>
                      <%= f.hidden_field :motivator_id, value:nil %>
                      <%= f.hidden_field :status, value:'init' %>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary step step-1 step-2 step-3 step-4" data-step="1" onclick="sendEvent0()">Ulangi</button>
                    <button type="button" class="btn btn-primary step step-1" data-step="1" onclick="sendEvent1()">Continue</button>
                    <button type="button" class="btn btn-primary step step-2" data-step="2" onclick="sendEvent2()">Continue</button>
                    <button type="button" class="btn btn-primary step step-3" data-step="3" onclick="sendEvent3()">Continue</button>
                    <%= f.submit 'Kirim Curhatan', :class => 'step step-4 btn btn-primary' %>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
            <a href="#demo-modal" data-toggle="modal" data-target="#demo-modal">
              <img src="<%= asset_url('Box Uneg-Uneg.png') %>" alt="box uneg uneg hallo arif" class="m-auto d-block mw-100" style="width:900px;">
            </a>
          </div>
        </div>

        <% end %>
        <div class="d-block mt-4" id="message_box">
          <h4 style="font-weight:100;">History Uneg Uneg</h4>
          <%= render partial: 'message_box'  %>
        </div>
        <script type="text/javascript">
        $(document).ready(
               function() {
                setInterval(function() {
                  $('#message_box').load('/users/message_box');
              }, 3000);
          });
        </script>

        <% if MessageBox.where(user_id: current_user).count != 0 %>
        <div class="container">

        <div class=" mt-5 frm-rating" style="display:none;">
          <div class="position-relative">
            <h3>Rate Motivator</h3>
            <%= form_for MessageBox.where(user_id: current_user).last, remote: true, format: :json, :authenticity_token => true do |f| %>
            <%= f.hidden_field :rating, class:" form-control rating-value",placeholder: "Komentar" %>
            <div id="rate" class="rating "></div>
            <span>Komentar kamu</span>
            <%= f.text_area :reason, id: :message_content, class:" form-control " %>
            <div class="mt-3">
              <%= f.submit "Submit",class:"btn btn-primary btn-submit-rating" %>
            </div>
            <script type="text/javascript">
            $('.edit_message_box').submit(function() {
              this.submit();
              $('.edit_message_box').hide();
              $('.thanks').show();
              return false;
            });
            </script>
            <% end %>
            <div class="thanks" style="display:none;">
              <h3>Terima Kasih</h3>
            </div>
          </div>
        </div>

        </div>
        <% end  %>
      </div>
    </section>



    <section>
      <div class="text-center">
        <a href="<%= history_path %>" class="btn btn-primary" >Lihat Semua History Uneg Uneg</a>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="text-center mb-5">
          <h3>Layanan Motivasi Kami Lainnya</h3>
        </div>
        <div class="w-75 m-auto">
          <div class="row">
            <div class="col-md-6 mb-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Chat Motivasi</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <% if Conversation.where(user_id: @user.id).count == 0  %>
                  <a href="<%= list_package_path %>" class="btn btn-primary">Lihat Paket</a>
                  <% else %>
                  <% if Conversation.where(user_id: @user.id).last.status == "finish" %>
                  <a href="<%= list_package_path %>" class="btn btn-primary">Lihat Paket</a>
                  <% else %>
                  <a href="<%= messages_path(conversation_id: Conversation.where(user_id: @user.id).last.id) %>" class="btn btn-primary">Lihat Paket</a>
                  <% end %>
                  <% end %>
                </div>
              </div>
            </div>

            <div class="col-md-6 mb-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Call Motivasi</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Lihat Paket</a>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </section>

    <% end %>

    <% end %>
