<section style="height:100vh" class="d-flex align-items-center">
  <div class="container">
    <div class="text-center">
      <img src="<%= asset_url('logo-with-url.png') %>" alt="" class="mb-3 mw-100" >
      <p class="mb-5">
        Motivator dan Sahabat sejati siapa saja <br>
        Bisa curhat kapan saja, dimana saja
      </p>
    </div>
    <div class="row justify-content-center mb-5">
      <div class="col-md-5 ">
        <%= render "devise/shared/error_messages", resource: resource %>
        <h3>Ganti Dengan Password Baru</h3>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= f.hidden_field :reset_password_token %>

        <div class="form-group mt-3">
          <%= f.label :password, "New password" %><br />
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em><br />
          <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class:"form-control" %>
        </div>

        <div class="form-group mt-3">
          <%= f.label :password_confirmation, "Confirm new password" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" , class:"form-control" %>
        </div>

        <div class="form-group mt-3">
          <%= f.submit "Change my password", class:"btn btn-primary" %>
        </div>
        <% end %>


      </div>
    </div>
  </section>
