<section style="height:100vh" class="d-flex align-items-center">
  <div class="container">
    <div class="text-center">
      <img src="<%= asset_url('logo-with-url.png') %>" alt="" class="mb-3 mw-100" >
      <p class="mb-5">
        Motivator dan Sahabat sejati siapa saja <br>
        Bisa curhat kapan saja, dimana saja
      </p>
    </div>
    <div class="row justify-content-center mb-5">
      <div class="col-md-5 ">
        <h3>Lupa Password?</h3>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group mt-3">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder: 'email'  %>
        </div>

        <div class="actions">
          <%= f.submit "Kirimkan Instruksi Pergantian Password" ,class:" btn btn-primary" %>
        </div>
        <% end %>


      </div>
    </div>
  </section>
