<%- model_class = MessageBox -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:problem_category_id) %>:</strong></dt>
  <dd><%= @message_box.problem_category.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @message_box.user.full_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:message) %>:</strong></dt>
  <dd><%= @message_box.message %></dd>

</dl>


<%= form_for @message_box, :html => { :class => "form-horizontal message_box" } do |f| %>

  <% if @message_box.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@message_box.errors.count, "error") %> prohibited this message_box from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @message_box.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <% if current_user.is_human_capital? %>
    <span>Set Motivator</span>
    <div class="col-lg-10">
      <%= f.select :motivator_id, User.motivator.map {|c| [c.motivator_code.titleize, c.id] }, :class=>"w-100 form-control select2"%>
      <%= f.hidden_field :status, value: "motivator-selected" %>
    </div>
    <% elsif current_user.is_motivator? %>
    <div class="form-group">
      <%= f.text_area :message_reply, :class => 'form-control', rows: 15 %>
      <%= f.hidden_field :status, value: "motivator-selected" %>
      <%= f.hidden_field :status, value:'finish' %>
    </div>
    <% elsif current_user.is_admin? %>
    <span>Set Motivator</span>
    <div class="col-lg-10">
      <%= f.text_area :message_reply, :class => 'form-control', rows: 15 %>
      <%= f.select :motivator_id, User.motivator.map {|c| [c.motivator_code.titleize, c.id] }, :class=>"w-100 form-control select2"%>
      <%= f.hidden_field :status, value: "admin-control" %>

    </div>
    <% end %>

  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                message_boxes_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
<script type="text/javascript">
  $( "#message_box_motivator_id" ).select2({
    theme: "bootstrap"
  });
</script>
