<%- model_class = MessageBox -%>
<div class="page-breadcrumb">
  <div class="row">
    <div class="col-5 align-self-center">
      <h4 class="page-title">Box Uneg Uneg</h4>
    </div>
    <div class="col-7 align-self-center">
      <div class="d-flex align-items-center justify-content-end">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="<%= dashboard_index_path %>">Home</a>
            </li>
            <li class="breadcrumb-item"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th><%= model_class.human_attribute_name(:id) %></th>
                <th><%= model_class.human_attribute_name(:user_id) %></th>
                <th><%= model_class.human_attribute_name(:motivator_id) %></th>
                <th><%= model_class.human_attribute_name(:status) %></th>
                <th><%= model_class.human_attribute_name(:problem_category_id) %></th>
                <th><%= model_class.human_attribute_name(:created_at) %></th>
                <th><%=t '.actions', :default => t("helpers.actions") %></th>
              </tr>
            </thead>
            <tbody>
              <% @message_boxes.where.not(problem_category_id: nil).each do |message_box| %>
              <tr>
                <td><%= custom_id_box(message_box) %></td>
                <td><%= message_box.user.full_name %></td>
                <% if message_box.motivator_id == nil %>
                <td><span class="badge badge-danger">Belum Ada Motivator</span></td>
                <% else %>
                <td><%= message_box.motivator.motivator_code rescue"" %></td>
                <% end %>
                <td><%= message_box.status %></td>
                <td><%= message_box.problem_category.name rescue "" %></td>
                <td><%= message_box.created_at.strftime("%e %B %Y  %T ") %></td>
                <td>
                  <%= link_to t('.show', :default => t("helpers.links.show")),
                  message_box_path(message_box), :class => 'btn btn-default btn-xs' %>
                  <%# link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_message_box_path(message_box), :class => 'btn btn-default btn-xs' %>
                  <%# link_to t('.destroy', :default => t("helpers.links.destroy")),
                  message_box_path(message_box),
                  :method => :delete,
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-xs btn-danger' %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $(document).ready(function() {
      $('.table').DataTable();
    } );
  </script>
