<div class="email-app">
  <!-- ============================================================== -->
  <!-- Left Part -->
  <!-- ============================================================== -->
  <div class="left-part pr-5">
    <div class="scrollable" style="height:100%;">
      <div class="d-flex no-block align-items-center mb-4">
        <div class="m-r-10"><img src="<%= asset_url('user.png') %>" alt="user" class="rounded-circle" width="45"></div>
        <div class="">
          <h5 class="m-b-0 font-16 font-medium"><%= @message_box.user.full_name %> <br> <small> ( <%= @message_box.user.email %> )</small></h5>
        </div>
      </div>
      <div class="d-block mb-3">
        <p><strong>Jenis Kelamin:</strong> <%= @message_box.user.gender %></p>
        <p><strong>Umur:</strong> <%= @message_box.user.range_age %></p>
        <p><strong>Agama:</strong> <%= @message_box.user.religion %></p>
        <p><strong>Kota:</strong> Jakarta</p>
      </div>
      <hr>
      <div class="d-block mb-3">
        <p><strong>Q:</strong> APAKAH PERASAAN YANG SAHABAT RASAKAN ?</p>
        <p><strong>A: <%= @message_box.question_1 %></strong></p>
      </div>
      <hr>
      <div class="d-block mb-3">
        <p><strong>Q:</strong> APA YANG MEMBUAT ANDA   <%= @message_box.question_1 %>?</p>
        <p><strong>A: <%= @message_box.problem_category.name rescue"" %></strong>
          <br>
          <%= @message_box.question_2 %>
        </p>

      </div>

    </div>
  </div>
  <!-- ============================================================== -->
  <!-- Right Part  Mail detail -->
  <!-- ============================================================== -->
  <div class="right-part mail-details bg-white">
    <div class="card-body border-bottom">
      id: <strong class="m-b-0 font-16 font-medium"><%= custom_id_chat(@message_box) %></strong>
    </div>
    <div class="card-body border-bottom">
      <h4 class="m-b-0"><%= @message_box.problem_category.name rescue"" %></h4>
    </div>
    <div class="card-body border-bottom">
      <%= simple_format(@message_box.message) %>
    </div>
    <% if @message_box.message_reply.nil? &&  current_user.is_human_capital? %>
    <div class="p-3">
      <strong>Motivator Yang Telah di Pilih:</strong>
      <%= @message_box.motivator.motivator_code  rescue "Belum ada"%>
      <br><br>
      <%= form_for @message_box, :html => { :class => "form-horizontal message_box" } do |f| %>
      <h3>Motivator Online</h3>
      <table class="table dta table-striped">
        <thead>
          <tr>
            <th>Code Motivator</th>
            <th>Email Motivator</th>

          </tr>
        </thead>
        <tbody class="oln">
          <% User.motivator.each do |user| %>
            <% if user.is_signed_in %>
            <tr data-id="<%= user.id %>">
              <td>
                <%= user.motivator_code %>
                <p><%= user.detail_motivators.first.nama_panjang %></p>
              </td>
              <td><%= user.email %></td>

            </tr>
            <% end %>

          <% end %>
        </tbody>
      </table>
      <script type="text/javascript">
      $(document).ready((function(_this) {
      return function() {
        var addLoggenInUser, channel, pusher, removeLoggedOutUser;
        addLoggenInUser = function(user) {
          $('.oln').append("<tr data-id=\"" + user.id + "\">\n            <td>" + user.motivator_code + "</td>\n            <td>" + user.email + "</td>\n          </tr>");
        };
        removeLoggedOutUser = function(user) {
          user = $('tr[data-id=\'' + user.id + '\']');
          $(user).remove();
        };
        pusher = new Pusher('15a53980776b3ef247a6', {
          cluster: 'ap1',
          encrypted: true
        });
        channel = pusher.subscribe('activity');
        channel.bind('login', function(data) {
          return addLoggenInUser(data);
        });
        channel.bind('logout', function(data) {
          removeLoggedOutUser(data);
        });
      };
      })(this));

      // ---
      // generated by coffee-script 1.9.2
      </script>
      <% if @message_box.motivator_id.nil?  %>
      <span class="mb-3 mt-3">Set Motivator</span>
      <% else %>
      <span class="mb-3 mt-3">Ubah Motivator</span>
      <% end %>
      <div class="row">
        <div class="col-lg-6">
          <%= f.select :motivator_id, User.motivator.map {|c| [c.motivator_code.titleize, c.id] }, :class=>"w-100 form-control select2"%>
          <%= f.hidden_field :status, value: "motivator-selected" %>
        </div>
        <div class="col-lg-2">
          <%= f.submit "pilih", :class => 'btn btn-primary' %>
        </div>
      </div>
      <% end %>
    </div>
    <% else %>
    <% if current_user.is_motivator? %>
    <% if @message_box.message_reply == nil %>
    <div class="p-2">
      <p><strong>Buat Balasan</strong></p>
      <%= form_for @message_box, :html => { :class => "form-horizontal message_box" } do |f| %>
      <%= f.text_area :message_reply, :class => 'form-control', rows: 15 %>
      <%= f.hidden_field :status, value:'finish' %>
      <div class="mt-4">
        <%= f.submit "Balas", :class => 'btn btn-primary' %>
      </div>
      <% end %>
    </div>
    <% else %>
    <div class="p-4">
      <%= simple_format(@message_box.message_reply) rescue'Belum Ada Balasan..' %>
    </div>
    <% end %>

    <% else %>
    <div class="d-flex no-block align-items-center p-3">
      <div class="m-r-10"><img src="<%= asset_url('user.png') %>" alt="user" class="rounded-circle" width="45"></div>
      <div class="">
        <p class="mb-0"><strong>Motivator</strong></p>
        <h5 class="m-b-0 font-16 font-medium"><%= @message_box.motivator.motivator_code %></h5>
        <small><%= @message_box.motivator.detail_motivators.last.nama_panjang %></small>
      </div>

    </div>
    <div class="card-body border-bottom">
      <p><strong>Balasan Motivator</strong></p>
      <%= simple_format(@message_box.message_reply) rescue'Belum Ada Balasan..' %>
    </div>
    <% end %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $( "#message_box_motivator_id" ).select2({
    theme: "bootstrap"
  });
</script>
