<%- model_class = Package -%>
<div class="card">
  <div class="card-body">
    <div class="page-header">
      <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:id) %></th>
          <th><%= model_class.human_attribute_name(:name) %></th>
          <th><%= model_class.human_attribute_name(:description) %></th>
          <th><%= model_class.human_attribute_name(:jumlah_reply) %></th>
          <th><%= model_class.human_attribute_name(:price) %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @packages.each do |package| %>
          <tr>
            <td><%= link_to package.id, package_path(package) %></td>
            <td><%= package.name %></td>
            <td><%= package.description %></td>
            <td><%= package.duration %></td>
            <td><%= package.price %></td>
            <td>
              <%= link_to t('.show', :default => t("helpers.links.show")),
                          package_path(package), :class => 'btn btn-default btn-xs' %>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_package_path(package), :class => 'btn btn-default btn-xs' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          package_path(package),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-xs btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to t('.new', :default => t("helpers.links.new")),
                new_package_path,
                :class => 'btn btn-primary' %>

  </div>
</div>
