<%- model_class = Package -%>
<div class="card">
  <div class="card-body">
    <div class="page-header">
      <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
    </div>

    <dl class="dl-horizontal">
      <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
      <dd><%= @package.name %></dd>
      <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
      <dd><%= @package.description %></dd>
      <dt><strong><%= model_class.human_attribute_name(:duration) %>:</strong></dt>
      <dd><%= @package.duration %></dd>
      <dt><strong><%= model_class.human_attribute_name(:price) %>:</strong></dt>
      <dd><%= @package.price %></dd>
    </dl>

    <h3>Pengguna Paket</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>full name</th>
          <th>Aktivasi</th>
        </tr>
      </thead>
      <tbody>
        <% Conversation.where(package_id: @package.id).each do |conversation| %>
        <tr>
          <td><%= conversation.user.full_name rescue "" %></td>
          <td><%= conversation.created_at.strftime("%e %B %Y  %T ") rescue "" %></td>

        </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
