<%= form_for @schedule, :html => { :class => "form-horizontal schedule" } do |f| %>

  <% if @schedule.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @schedule.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :date, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select :date, Schedule::Type.map {|c| [c.first.to_s.titleize, c.last] },{},{:class=>"w-100 form-control select2"}%>
    </div>
    <%=f.error_span(:date) %>
  </div>
  <div class="form-group">
    <%= f.label :start, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :start, :class => 'form-control timed' %>
    </div>
    <%=f.error_span(:start) %>
  </div>
  <div class="form-group">
    <%= f.label :end, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :end, :class => 'form-control timed' %>
    </div>
    <%=f.error_span(:end) %>
  </div>

  <% if params[:motivator] %>
    <%= f.hidden_field :motivator_id, value: params[:motivator].to_i %>
    <% else %>
    <div class="form-group">
      <%= f.label :motivator_id, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.select :motivator_id, User.motivator.map {|c| [c.motivator_code.titleize, c.id] }, :class=>"w-100 form-control select2"%>
      </div>
      <%=f.error_span(:motivator_id) %>
    </div>
  <% end %>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                schedules_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>


<script type="text/javascript">
  $('.timed').bootstrapMaterialDatePicker({ date: false, format : 'HH:mm' });
</script>
<script type="text/javascript">
  $( "#schedule_motivator_id" ).select2({
    theme: "bootstrap"
  });
</script>
