<%- model_class = Schedule -%>
<div class="card">
  <div class="card-body">
    <div class="page-header">
      <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:date) %></th>
          <th><%= model_class.human_attribute_name(:start) %></th>
          <th><%= model_class.human_attribute_name(:end) %></th>
          <th><%= model_class.human_attribute_name(:motivator_id) %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @schedules.each do |schedule| %>
        <tr>
          <td><%= schedule.date.titleize %></td>
          <td><%= schedule.start.strftime('%H:%M') %></td>
          <td><%= schedule.end.strftime('%H:%M') %></td>
          <td><%= schedule.motivator.motivator_code rescue'' %></td>
          <td>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
            edit_schedule_path(schedule), :class => 'btn btn-default btn-xs' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
            schedule_path(schedule),
            :method => :delete,
            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
            :class => 'btn btn-xs btn-danger' %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to t('.new', :default => t("helpers.links.new")),
    new_schedule_path,
    :class => 'btn btn-primary' %>

  </div>
</div>
