<%= form_for @detail_motivator, :html => { :class => "form-horizontal detail_motivator" } do |f| %>

  <% if @detail_motivator.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@detail_motivator.errors.count, "error") %> prohibited this detail_motivator from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @detail_motivator.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nama_panjang, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :nama_panjang, :class => 'form-control' , required: true%>
    </div>
    <%=f.error_span(:nama_panjang) %>
  </div>
  <div class="form-group">
    <%= f.label :nama_panggilan, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :nama_panggilan, :class => 'form-control' , required: true%>
    </div>
    <%=f.error_span(:nama_panggilan) %>
  </div>
  <div class="form-group">
    <%= f.label :email_pribadi, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :email_pribadi, :class => 'form-control' , required: true%>
    </div>
    <%=f.error_span(:email_pribadi) %>
  </div>
  <div class="form-group">
    <%= f.label :telpon_rumah, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :telpon_rumah, :class => 'form-control' , required: true%>
    </div>
    <%=f.error_span(:telpon_rumah) %>
  </div>
  <div class="form-group">
    <%= f.label :handphone, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :handphone, :class => 'form-control' , required: true%>
    </div>
    <%=f.error_span(:handphone) %>
  </div>
  <div class="form-group">
    <%= f.label :alamat_rumah, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :alamat_rumah, :class => 'form-control' , row: 5%>
    </div>
    <%=f.error_span(:alamat_rumah) %>
  </div>
  <div class="form-group">
    <%= f.label :region_seusai_ktp, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select :region_ktp, Indonesia.options_for_select(:province),{}, {class:'custom-select', required:true} %>
    </div>
    <%=f.error_span(:region_ktp) %>
  </div>
  <div class="form-group">
    <%= f.label :alamat_tinggal_sekarang, :class => 'control-label p-3 w-100' %>
    <div class="col-lg-10">
      <%= f.text_field :tinggal_sekarang, :class => 'form-control' , required: true%>
    </div>
    <%=f.error_span(:tinggal_sekarang) %>
  </div>
  <div class="form-group">
    <%= f.label :region_sekarang, :class => 'control-label ' %>
    <div class="col-lg-10">
      <%= f.select :region_ktp, Indonesia.options_for_select(:province),{}, {class:'custom-select', required:true} %>
    </div>
    <%=f.error_span(:region_sekarang) %>
  </div>
  <div class="form-group">
    <%= f.label :no_ktp, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :no_ktp, :class => 'form-control' , required: true%>
    </div>
    <%=f.error_span(:no_ktp) %>
  </div>
  <div class="form-group">
    <%= f.label :tanggal_lahir, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :tanggal_lahir, :class => 'form-control' , required: true%>
    </div>
    <%=f.error_span(:tanggal_lahir) %>
  </div>
  <div class="form-group">
    <%= f.label :tempat_lahir, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :tempat_lahir, :class => 'form-control' , required: true%>
    </div>
    <%=f.error_span(:tempat_lahir) %>
  </div>
  <div class="form-group">
    <%= f.label :no_kartu_keluarga, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :no_kartu_keluarga, :class => 'form-control' , required: true%>
    </div>
    <%=f.error_span(:no_kartu_keluarga) %>
  </div>
  <div class="form-group">
    <%= f.label :pendidikan_terakhir, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :pendidikan_terakhir, :class => 'form-control' , required: true%>
    </div>
    <%=f.error_span(:pendidikan_terakhir) %>
  </div>
  <div class="form-group">
    <%= f.label :no_ijazah, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :no_ijazah, :class => 'form-control' , required: true%>
    </div>
    <%=f.error_span(:no_ijazah) %>
  </div>
  <div class="form-group">
    <%= f.label :pekerjaan, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <div class="d-inline-block custom-control custom-radio mr-3">
        <input type="radio" class="custom-control-input" id="swasta" name="detail_motivator[pekerjaan]" value="swasta" required>
        <label class="custom-control-label" for="swasta">Swasta</label>
      </div>
      <div class="d-inline-block custom-control custom-radio mr-3">
        <input type="radio" class="custom-control-input" id="pegawai-negeri" name="detail_motivator[pekerjaan]" value="pegawai negeri" required>
        <label class="custom-control-label" for="pegawai-negeri">Pegawai Negeri</label>
      </div>
      <div class="d-inline-block custom-control custom-radio mr-3">
        <input type="radio" class="custom-control-input" id="ABRI" name="detail_motivator[pekerjaan]" value="ABRI" required>
        <label class="custom-control-label" for="ABRI">ABRI<label>
      </div>
    </div>
    <%=f.error_span(:pekerjaan) %>
  </div>
  <div class="form-group">
    <%= f.label :nama_perusahaan, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :nama_perusahaan, :class => 'form-control' , required: true%>
    </div>
    <%=f.error_span(:nama_perusahaan) %>
  </div>
  <div class="form-group">
    <%= f.label :keahlian_khusus, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :keahlian_khusus, :class => 'form-control', placeholder: "dokter umum, bedah, saraf, montir, ahli bangunan, lainnya" %>
    </div>
    <%=f.error_span(:keahlian_khusus) %>
  </div>
  <h4>Bank</h4>
  <div class="form-group">
    <%= f.label :nama_bank, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :nama_bank, :class => 'form-control' , required: true%>
    </div>
    <%=f.error_span(:nama_bank) %>
  </div>
  <div class="form-group">
    <%= f.label :nama_pemilik_rekening, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :nama_pemilik_rekening, :class => 'form-control' , required: true%>
    </div>
    <%=f.error_span(:nama_pemilik_rekening) %>
  </div>
  <div class="form-group">
    <%= f.label :no_rekening, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :no_rekening, :class => 'form-control' , required: true%>
    </div>
    <%=f.error_span(:no_rekening) %>
  </div>
  <div class="form-group">
    <%= f.label :jenis_rekening, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :jenis_rekening, :class => 'form-control', placeholder: "dokter umum, bedah, saraf, montir, ahli bangunan, lainnya" %>
    </div>
    <%=f.error_span(:jenis_rekening) %>
  </div>
  <h4>Kontak Darurat</h4>
  <div class="form-group">
    <%= f.label :emergency_name_1, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :emergency_name_1, :class => 'form-control' , required: true%>
    </div>
    <%=f.error_span(:emergency_name_1) %>
  </div>
  <div class="form-group">
    <%= f.label :emergency_phone_1, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :emergency_phone_1, :class => 'form-control' , required: true%>
    </div>
    <%=f.error_span(:emergency_phone_1) %>
  </div>
  <div class="form-group">
    <%= f.label :emergency_name_2, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :emergency_name_2, :class => 'form-control' , required: true%>
    </div>
    <%=f.error_span(:emergency_name_2) %>
  </div>
  <div class="form-group">
    <%= f.label :emergency_phone_2, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :emergency_phone_2, :class => 'form-control' , required: true%>
    </div>
    <%=f.error_span(:emergency_phone_2) %>
  </div>
  <div class="form-group">
    <%= f.label :kategory_motivator, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <% ProblemCategory.all.each do |x| %>
      <div class=" custom-control custom-radio mr-3 text-left">
        <input type="radio" class="custom-control-input" id="<%= x.name %>" name="detail_motivator[problem_category_id]" value="<%= x.id %>" required>
        <label class="custom-control-label" for="<%= x.name %>"><%= x.name %></label>
      </div>
      <% end %>
    </div>
    <%=f.error_span(:problem_category_id) %>
  </div>


  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                detail_motivators_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
