<%- model_class = DetailMotivator -%>
<div class="page-header">
  <h1> Edit <%= @detail_motivator.user.motivator_code %></h1>
</div>
<div class="card">
  <div class="card-body">
    <%= render :partial => 'form' %>
  </div>
</div>
