<%- model_class = DetailMotivator -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:nama_panjang) %></th>
      <th><%= model_class.human_attribute_name(:nama_panggilan) %></th>
      <th><%= model_class.human_attribute_name(:email_pribadi) %></th>
      <th><%= model_class.human_attribute_name(:telpon_rumah) %></th>
      <th><%= model_class.human_attribute_name(:handphone) %></th>
      <th><%= model_class.human_attribute_name(:alamat_rumah) %></th>
      <th><%= model_class.human_attribute_name(:region_ktp) %></th>
      <th><%= model_class.human_attribute_name(:tinggal_sekarang) %></th>
      <th><%= model_class.human_attribute_name(:region_sekarang) %></th>
      <th><%= model_class.human_attribute_name(:no_ktp) %></th>
      <th><%= model_class.human_attribute_name(:tanggal_lahir) %></th>
      <th><%= model_class.human_attribute_name(:tempat_lahir) %></th>
      <th><%= model_class.human_attribute_name(:no_kartu_keluarga) %></th>
      <th><%= model_class.human_attribute_name(:pendidikan_terakhir) %></th>
      <th><%= model_class.human_attribute_name(:no_ijazah) %></th>
      <th><%= model_class.human_attribute_name(:pekerjaan) %></th>
      <th><%= model_class.human_attribute_name(:nama_perusahaan) %></th>
      <th><%= model_class.human_attribute_name(:keahlian_khusus) %></th>
      <th><%= model_class.human_attribute_name(:nama_bank) %></th>
      <th><%= model_class.human_attribute_name(:nama_pemilik_rekening) %></th>
      <th><%= model_class.human_attribute_name(:no_rekening) %></th>
      <th><%= model_class.human_attribute_name(:jenis_rekening) %></th>
      <th><%= model_class.human_attribute_name(:emergency_name_1) %></th>
      <th><%= model_class.human_attribute_name(:emergency_phone_1) %></th>
      <th><%= model_class.human_attribute_name(:emergency_name_2) %></th>
      <th><%= model_class.human_attribute_name(:emergency_phone_2) %></th>
      <th><%= model_class.human_attribute_name(:problem_category_id) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @detail_motivators.each do |detail_motivator| %>
      <tr>
        <td><%= link_to detail_motivator.id, detail_motivator_path(detail_motivator) %></td>
        <td><%= detail_motivator.nama_panjang %></td>
        <td><%= detail_motivator.nama_panggilan %></td>
        <td><%= detail_motivator.email_pribadi %></td>
        <td><%= detail_motivator.telpon_rumah %></td>
        <td><%= detail_motivator.handphone %></td>
        <td><%= detail_motivator.alamat_rumah %></td>
        <td><%= detail_motivator.region_ktp %></td>
        <td><%= detail_motivator.tinggal_sekarang %></td>
        <td><%= detail_motivator.region_sekarang %></td>
        <td><%= detail_motivator.no_ktp %></td>
        <td><%= detail_motivator.tanggal_lahir %></td>
        <td><%= detail_motivator.tempat_lahir %></td>
        <td><%= detail_motivator.no_kartu_keluarga %></td>
        <td><%= detail_motivator.pendidikan_terakhir %></td>
        <td><%= detail_motivator.no_ijazah %></td>
        <td><%= detail_motivator.pekerjaan %></td>
        <td><%= detail_motivator.nama_perusahaan %></td>
        <td><%= detail_motivator.keahlian_khusus %></td>
        <td><%= detail_motivator.nama_bank %></td>
        <td><%= detail_motivator.nama_pemilik_rekening %></td>
        <td><%= detail_motivator.no_rekening %></td>
        <td><%= detail_motivator.jenis_rekening %></td>
        <td><%= detail_motivator.emergency_name_1 %></td>
        <td><%= detail_motivator.emergency_phone_1 %></td>
        <td><%= detail_motivator.emergency_name_2 %></td>
        <td><%= detail_motivator.emergency_phone_2 %></td>
        <td><%= detail_motivator.problem_category_id %></td>
        <td><%= detail_motivator.user_id %></td>
        <td><%= detail_motivator.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      detail_motivator_path(detail_motivator), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_detail_motivator_path(detail_motivator), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      detail_motivator_path(detail_motivator),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_detail_motivator_path,
            :class => 'btn btn-primary' %>
