<%- model_class = DetailMotivator -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:nama_panjang) %>:</strong></dt>
  <dd><%= @detail_motivator.nama_panjang %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nama_panggilan) %>:</strong></dt>
  <dd><%= @detail_motivator.nama_panggilan %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email_pribadi) %>:</strong></dt>
  <dd><%= @detail_motivator.email_pribadi %></dd>
  <dt><strong><%= model_class.human_attribute_name(:telpon_rumah) %>:</strong></dt>
  <dd><%= @detail_motivator.telpon_rumah %></dd>
  <dt><strong><%= model_class.human_attribute_name(:handphone) %>:</strong></dt>
  <dd><%= @detail_motivator.handphone %></dd>
  <dt><strong><%= model_class.human_attribute_name(:alamat_rumah) %>:</strong></dt>
  <dd><%= @detail_motivator.alamat_rumah %></dd>
  <dt><strong><%= model_class.human_attribute_name(:region_ktp) %>:</strong></dt>
  <dd><%= @detail_motivator.region_ktp %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tinggal_sekarang) %>:</strong></dt>
  <dd><%= @detail_motivator.tinggal_sekarang %></dd>
  <dt><strong><%= model_class.human_attribute_name(:region_sekarang) %>:</strong></dt>
  <dd><%= @detail_motivator.region_sekarang %></dd>
  <dt><strong><%= model_class.human_attribute_name(:no_ktp) %>:</strong></dt>
  <dd><%= @detail_motivator.no_ktp %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tanggal_lahir) %>:</strong></dt>
  <dd><%= @detail_motivator.tanggal_lahir %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tempat_lahir) %>:</strong></dt>
  <dd><%= @detail_motivator.tempat_lahir %></dd>
  <dt><strong><%= model_class.human_attribute_name(:no_kartu_keluarga) %>:</strong></dt>
  <dd><%= @detail_motivator.no_kartu_keluarga %></dd>
  <dt><strong><%= model_class.human_attribute_name(:pendidikan_terakhir) %>:</strong></dt>
  <dd><%= @detail_motivator.pendidikan_terakhir %></dd>
  <dt><strong><%= model_class.human_attribute_name(:no_ijazah) %>:</strong></dt>
  <dd><%= @detail_motivator.no_ijazah %></dd>
  <dt><strong><%= model_class.human_attribute_name(:pekerjaan) %>:</strong></dt>
  <dd><%= @detail_motivator.pekerjaan %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nama_perusahaan) %>:</strong></dt>
  <dd><%= @detail_motivator.nama_perusahaan %></dd>
  <dt><strong><%= model_class.human_attribute_name(:keahlian_khusus) %>:</strong></dt>
  <dd><%= @detail_motivator.keahlian_khusus %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nama_bank) %>:</strong></dt>
  <dd><%= @detail_motivator.nama_bank %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nama_pemilik_rekening) %>:</strong></dt>
  <dd><%= @detail_motivator.nama_pemilik_rekening %></dd>
  <dt><strong><%= model_class.human_attribute_name(:no_rekening) %>:</strong></dt>
  <dd><%= @detail_motivator.no_rekening %></dd>
  <dt><strong><%= model_class.human_attribute_name(:jenis_rekening) %>:</strong></dt>
  <dd><%= @detail_motivator.jenis_rekening %></dd>
  <dt><strong><%= model_class.human_attribute_name(:emergency_name_1) %>:</strong></dt>
  <dd><%= @detail_motivator.emergency_name_1 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:emergency_phone_1) %>:</strong></dt>
  <dd><%= @detail_motivator.emergency_phone_1 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:emergency_name_2) %>:</strong></dt>
  <dd><%= @detail_motivator.emergency_name_2 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:emergency_phone_2) %>:</strong></dt>
  <dd><%= @detail_motivator.emergency_phone_2 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:problem_category_id) %>:</strong></dt>
  <dd><%= @detail_motivator.problem_category_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @detail_motivator.user_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              detail_motivators_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_detail_motivator_path(@detail_motivator), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              detail_motivator_path(@detail_motivator),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
