<% if current_user.is_motivator? %>

<% end  %>

<% if @conversation.status == "finish" %>
<% if current_user.is_client? %>
  <% unless @conversation.status == "finish" %>
  <script type="text/javascript">
    window.location.replace("<%= finish_path(id: @conversation.id) %>");
  </script>
  <% end %>
<% end %>
<% end %>
<% if @conversation.status == "finish" %>
<% if current_user.is_motivator? %>
<% unless @conversation.status == "finish"  %>
<script type="text/javascript">
window.location.replace("<%= dashboard_index_path(conversation_id: @conversation.id) %>");
</script>
<% end %>
<% end %>
<% end %>
<% @conversation.messages.order(created_at: :asc).each do |x| %>

  <% if x.user.is_client? %>
  <div class="d-block px-5">
    <div class="speech-bubble">
      <%=simple_format(x.content) %>
    </div>
  </div>
  <div class="mb-3">

    <%= link_to "Buat balasan", edit_message_path(x), remote: true, class: "btn btn-outline-warning pill-border" %>

  </div>

  <% unless x.content_reply.nil? %>
  <div class="px-2 ml-auto" style="width:fit-content;">
    <div class="speech-bubble-mtv">
      <%=simple_format(x.content_reply) %>
    </div>
  </div>
  <% end %>


  <% else %>
  <div class="px-2 ml-auto" style="width:fit-content;">
    <div class="speech-bubble-mtv">
      <%=simple_format(x.content) %>
    </div>
  </div>

  <% end %>

  <% end %>
