<section class="mt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-8 m-auto text-center">
        <h1 class="" style="color:#42c7f1;text">ABOUT US</h1>
        <p class="text-left">
          Hallo Arif adalah sebuah platform yang menghubungkan orang-orang
          yang memiliki motivasi tinggi dengan orang-orang yang sedang
          kehilangan motivasi (putus asa, galau dan stress) ataupun yang ingin
          meningkatkan motivasi diri. Layanan Motivasi telah dijalankan sejak
          tahun 2012 secara offline, baru kemudia di tahun 2017 hallo arif
          beranjak kedunia digital dalam bentuk aplikasi Motivasi dan Curhat
          online dangan para Motivatr professional yang siap bertugas. Dengan
          demikian, secara offline maupun online , tim Motivator Hallo Arif atas
          ijin Sang maha pencipta telah memiliki pengalaman memotivasi orang
          lain hingga saat ini.
        </p>
        <div class="text-right mb-3">
          <h3>Mengapa Hallo Arif?</h3>
          <p>
            Arif, atas ijin Sang maha pencipta sahabat hallo arif  didampingi para Motivator yang telah mengalami ujian dan cobaan kehidupan yang dahsyat dengan berbagai permasalahan secara real dan atas pertolongan Sang maha pencipta, Tuhan Yang Maha Kuasa, tetap bisa menghadapi semuanya dengan motivasi yang tinggi. Dengan kata lain, Motivator Pendamping Arif adalah orang-orang yang memang sudah melewati berbagai permasalahan, bukan ahli teori.

          </p>
        </div>
        <div class="text-center">
          <a href="https://halloarif.co.id/" target="_blank"  class="btn btn-primary w-50 m-auto d-block pill-border btn-blue">Selengkapnya</a>
        </div>
      </div>
    </div>

  </div>
</section>
