<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-sm-6">
        <div class="p-3 shadow" >
          <div class="d-block mb-3">
              <p><strong>Q:</strong> APAKAH PERASAAN YANG SAHABAT RASAKAN ?</p>
              <p><strong>A: <%= @conversation.question_1 rescue"" %></strong></p>
            <hr>
            <div class="d-block mb-3">
              <p><strong>Q:</strong> APA YANG MEMBUAT ANDA   <%= @conversation.question_1  rescue""%>?</p>
              <p><strong>A: <%= @conversation.problem_category.name rescue"" %></strong>
                <br>
                <%= @conversation.question_2  rescue""%>
              </p>
            </div>
            <button type="button" class=" btn-text mb-3" data-toggle="modal" data-target="#dtl-client" style="font-size:14px;">
              Lihat Detail Client
            </button>

            <!-- Modal -->
            <div class="modal fade" id="dtl-client" tabindex="-1" role="dialog" aria-labelledby="dtl-clientLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="dtl-clientLabel">Detail Client</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p><strong>Jenis Kelamin:</strong> <%= @conversation.user.gender %></p>
                    <p><strong>Umur:</strong> <%= @conversation.user.range_age %></p>
                    <p><strong>Kota:</strong> Jakarta</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <h3 style="color:gray"><%= @conversation.problem_category.name rescue "-" %></h3>

            <div class="mt-3" id="list-conver">
              <%= render partial: 'list_conversation', locals: {idx: @conversation.id.to_i}  %>
            </div>
          </div>
          <div class="my-3">
            <% if @conversation.status == "finish" or @conversation.status == "rated" %>
            <% else %>
            <%= form_for @messagex, remote: true, format: :json  do |f| %>
            <p>Tulis Pesan</p>
            <div class="form-group">
              <%= f.text_area :content, :class => 'form-control', rows: 5 %>
              <%= f.hidden_field :user_id, value: current_user.id %>
              <%= f.hidden_field :conversation_id, value: @conversation.id %>
            </div>
            <div class="d-flex justify-content-between">
              <button type="submit" name="button" data-disable-with="Saving ..." class="btn btn-primary mt-3">Submit</button>
              <a href="<%= finish_path(id:@conversation.id) %>"  onclick="return confirm('Apakah anda yakin untuk mengakhiri sesi ini?');" class="btn btn-danger mt-3">Akhiri Sesi</a>
            </div>
            <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>


  <div id="myModal"></div>

  <script type="text/javascript">
  $(document).ready(
    function() {
      setInterval(function() {
        $('#list-conver').load('pages/partial_conver?id=<%= @conversation.id %>');
      }, 3000);
      $('#new_message').on('ajax:success', function(data) {
        $('#new_message')[0].reset();
      });
    });
    function kill() {
      $('#myModal').modal('hide');
      $('.modal-backdrop').remove();
    }
    </script>
