<% if current_user.is_client? %>
<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="p-3 shadow" style="height:500px;overflow-y:scroll">
          <div class="d-block mb-3">
            <div class="my-1">
              <h3 style="color:gray"><%= @conversation.problem_category.name rescue "-" %></h3>
              <p><i><%=simple_format(@conversation.message )  rescue ""%></i></p>
              <hr>
              <p><%=simple_format(@conversation.message_reply )  rescue ""%></p>
            </div>
            <% if @conversation.message_reply == nil %>
            <div class="text-right">
              <a href="#"><i><strong> Menunggu Jawaban Motivator</strong></i></a>
            </div>
            <% else %>
            <div class="text-right">
              <a href="<%= rate_box_path(mvt: @conversation.id) %>"><i><strong> Selesai</strong></i></a>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>

<% else %>
<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="p-3 shadow" style="height:500px;overflow-y:scroll">
          <div class="d-block mb-3">
            <p><strong>Q:</strong> APAKAH PERASAAN YANG SAHABAT RASAKAN ?</p>
            <p><strong>A: <%= @conversation.question_1 rescue"" %></strong></p>
          <hr>
          <div class="d-block mb-3">
            <p><strong>Q:</strong> APA YANG MEMBUAT ANDA   <%= @conversation.question_1  rescue""%>?</p>
            <p><strong>A: <%= @conversation.problem_category.name rescue"" %></strong>
              <br>
              <%= @conversation.question_2  rescue""%>
            </p>
          </div>
          <button type="button" class=" btn-text mb-3" data-toggle="modal" data-target="#dtl-client" style="font-size:14px;">
            Lihat Detail Client
          </button>

          <!-- Modal -->
          <div class="modal fade" id="dtl-client" tabindex="-1" role="dialog" aria-labelledby="dtl-clientLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="dtl-clientLabel">Detail Client</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p><strong>Jenis Kelamin:</strong> <%= @conversation.user.gender %></p>
                  <p><strong>Umur:</strong> <%= @conversation.user.range_age %></p>
                  <p><strong>Kota:</strong> Jakarta</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <hr>

            <%= form_for @conversation, html: {class: "was-validated" } do |f| %>

            <div class="my-1">
              <h3 style="color:gray"> <%= @conversation.user.notif_id %><%= @conversation.problem_category.name rescue "-" %></h3>
              <p><i><%=simple_format(@conversation.message ) rescue "" %></i></p>
              <%= f.hidden_field :status, value:"finish" %>
              <textarea class="form-control" rows="15" required="required" name="message_box[message_reply]" id="message_box_message" placeholder="Jawab"></textarea>
            </div>

            <div class="text-right">
                <button type="submit" name="button" class="btn btn-primary mt-3" >Submit</button>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>
