<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="p-3 shadow" style="height:500px;overflow-y:scroll">
          <p>Kepada seluruh Motivator PT Hallo Arif Gemilang</p>
          <p><span style="font-weight: 400;"><span style="font-weight: 400;">&nbsp;</span></span></p>
          <p><strong>LATAR BELAKANG DAN VISI MISI PERUSAHAAN</strong></p>
          <p><span style="font-weight: 400;">Sebuah platform online yang terinspirasi dari seorang anak bernama ARIF RAFSAN JANI yang atas pemberian ALLAH SWT, memiliki talenta yang tinggi dan motivasi hidup yang tinggi. Dengan izin ALLAH SWT, Tuhan Yang Maha Esa, Arif dan team siap memberikan motivasi bagi setiap orang yang mengalami permasalahan kekurangan motivasi dan kehilangan semangat hidup. </span></p>
          <p><span style="font-weight: 400;">Visi perusahaan adalah menjadi wadah utama berbentuk komunitas yang berisi orang-orang yang senantiasa berpikir positif dengan selalu mengandalkan dan menyerahkan kehidupan kepada Tuhan Allah SWT Sang Pencipta.</span></p>
          <p><span style="font-weight: 400;">Misi perusahaan adalah menyebarkan sebanyak mungkin motivasi-motivasi bagi keberlangsungan hidup kemanusiaan tidak hanya skala nasional tetapi internasional. </span></p>
          <p><span style="font-weight: 400;">Pedoman perilaku motivator (&ldquo;Code of conduct&rdquo;) memuat diantaranya prinsip-prinsip yang dijunjung tinggi oleh Perusahaan, yaitu: transparan, bertanggung jawab, independen, dan wajar dengan mengedepankan etika bisnis dalam pelaksanaan pekerjaan di lingkungan Perusahaan, agar setiap personil mampu bersikap dan berperilaku yang pantas dalam melaksanakan pekerjaan baik untuk kepentingan di dalam maupun di luar Perusahaan. &nbsp;</span></p>
          <p><span style="font-weight: 400;">Sebagai pedoman yang bersifat dinamis mengikuti perkembangan Perusahaan dan kebutuhan pelanggan, Code of Conduct bagi Motivator ini akan dikaji secara berkala dan berkelanjutan sesuai dengan dinamika lingkungan dan bisnis yang terjadi. </span></p>
          <p><span style="font-weight: 400;">Dengan komitmen bersama, PT Hallo Arif Gemilang akan terus maju, berkembang dan membawa keberkahan bagi setiap individu yang menjadi bagian aktif pencapaian visi misi Perusahaan.</span></p>
          <p><span style="font-weight: 400;"><span style="font-weight: 400;">&nbsp;</span></span></p>
          <p><strong>TUJUAN DAN MANFAAT CODE OF CONDUCT</strong></p>
          <ol>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Sebagai petunjuk praktis dan pedoman perilaku bagi seluruh insan dan personil yang ada dalam satu wadah PT Hallo Arif Gemilang yang wajib dipatuhi dalam melakukan interaksi dengan semua pihak dalam rangka mengembangkan hubungan yang baik antara Perusahaan, Pekerja dan Pelanggan</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Mengidentifikasi nilai-nilai, prinsip-prinsip dan standar etika yang selaras dengan Visi dan Misi Perusahaan.</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Mewujudkan perilaku yang baik sesuai dengan standar etika yang berlaku bagi seluruh motivator.</span></li>
          </ol>
          <p><span style="font-weight: 400;">Code of Conduct bagi Motivator ini diharapkan mampu menuntun Motivator yang tergabung dalam PT Hallo Arif Gemilang untuk dapat bekerja dengan maksimal yaitu:</span></p>
          <ol>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Working with Passion</span></li>
          </ol>
          <p><span style="font-weight: 400;">Bekerja dengan motivasi dan antusiasme tinggi dan dapat menikmati pekerjaannya sebagai media yang di ridho-i oleh Tuhan Allah SWT membawa keberkahan bagi banyak orang yang kehilangan motivasi dan semangat hidup.</span></p>
          <ol>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Working with Love</span></li>
          </ol>
          <p><span style="font-weight: 400;">Bekerja dengan tulus ikhlas dan rasa cinta untuk berusaha melakukan yang terbaik dan lebih baik lagi dalam melakukan pelayanan kepada banyak orang yang membutuhkan motivasi.</span></p>
          <p><span style="font-weight: 400;"><span style="font-weight: 400;">&nbsp;</span></span></p>
          <p><span style="font-weight: 400;">Code of Conduct bagi Motivator ini menjadi panduan bagi:</span></p>
          <ol>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Semua Motivator terdaftar di PT Hallo Arif Gemilang</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Semua Client Relation yang secara khusus menjadi penghubung antara Klien dengan Motivator</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Departemen Human Capital dan Departemen Operasional </span></li>
          </ol>
          <p><span style="font-weight: 400;"><span style="font-weight: 400;">&nbsp;</span></span></p>
          <p><strong>ISTILAH &ndash; ISTILAH YANG DIGUNAKAN</strong></p>
          <p><span style="font-weight: 400;">Pada Code of Conduct ini terdapat beberapa istilah yang digunakan, yaitu antara lain:</span></p>
          <ul>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Hallo Arif yaitu PT Hallo Arif Gemilang yang merupakan identitas perusahaan</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Motivator yang merupakan personil yang bekerja sebagai pemberi pelayanan kepada Klien yang membutuhkan motivasi</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Klien yang merupakan individu yang membutuhkan motivasi dengan menghubungi Hallo Arif melalui Aplikasi </span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Aplikasi Hallo Arif merupakan platform online yang digunakan untuk membantu proses pemberian layanan motivasi</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Client Relations merupakan personil yang bekerja sebagai media penghubung komunikasi antara motivator dan klien. </span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Human Capital merupakan Departemen yang menaungi seluruh motivator Hallo Arif yang telah terdaftar dan terverifikasi</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Penghargaan yaitu berupa pembayaran atas jasa pelayanan yang diberikan dalam melaksanakan tugas pelayanan motivasi kepada Klien yang diberikan Perusahaan kepada motivator sesuai dengan level yang ditentukan.</span></li>
          </ul>
          <p><span style="font-weight: 400;"><span style="font-weight: 400;"><br /><br /></span></span></p>
          <p><strong>PEDOMAN PERILAKU</strong></p>
          <p><span style="font-weight: 400;">Hallo Arif memegang komitmen pada standar etika dan perilaku bisnis tertinggi yang meliputi hubungan Hallo Arif dengan seluruh Klien, Vendor / Supplier, Pegawai, jajaran Direksi, Investor, Pihak Pemerintahan, dan komunitas masyarakat yang menjadi pasar tersebar bagi Hallo Arif. Seluruh Motivator Hallo Arif harus beroperasi sesuai dengan kebijakan dan prosedur yang konsisten yang ditentukan pada Code of Conduct ini.</span></p>
          <p><span style="font-weight: 400;">Adapun pedoman perilaku bagi Motivator Hallo Arif, yaitu sebagai berikut:</span></p>
          <ol>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Hubungan dengan sesama Motivator</span></li>
          </ol>
          <ol>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Setiap Motivator tidak dilayakkan untuk ingin saling mengetahui kondisi dan keadaan penerimaan penghargaan yang diberikan oleh Hallo Arif kepada setiap Motivator.</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Setiap Motivator wajib saling memberikan support dan semangat kepada rekan sesama Motivator untuk terus aktif memberikan pelayanan motivasi kepada Klien Hallo Arif</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Setiap Motivator wajib senantiasa memperhatikan dan melaksanakan komitmen kerja yang telah disanggupinya dan sedapat mungkin mencari pengganti Motivator lain untuk menggantikan pekerjaannya</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Setiap Motivator diharapkan untuk dapat melatih kemampuan Komunikasi dan penanganan permasalahan keluhan Klien dengan mengikuti sesi-sesi belajar / training yang ditentukan oleh Hallo Arif dan mendorong rekan sesama motivator untuk dapat aktif dalam setiap sesi belajar. </span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Setiap Motivator dapat saling membantu dalam menjalin hubungan kerjasama dengan baik terutama dengan internal perusahaan sehingga identifikasi atas setiap permasalahan yang mungkin timbul dapat dicegah. </span></li>
          </ol>
          <ol>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Hubungan dengan Pegawai Hallo Arif</span></li>
          </ol>
          <ol>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Setiap Motivator wajib menjalin hubungan baik dengan setiap Pegawai Hallo Arif dan berperan serta aktif dalam kegiatan operasional perusahaan dengan mematuhi peraturan-peraturan perusahaan yang ditetapkan</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Setiap Motivator wajib membangun kerjasama yang tinggi dengan setiap Personil Client Relations sebagai penghubung antara Motivator dengan Klien</span></li>
          </ol>
          <ol>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Hubungan dengan Klien</span></li>
          </ol>
          <ol>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Setiap Motivator tidak diperbolehkan untuk bertatap muka dengan Klien tanpa sepengetahuan Human Capital dan Client Relations Departemen di Hallo Arif. </span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Setiap Motivator wajib menjaga kerahasiaan keluhan Klien dan tidak menyebarluaskannya kepada pihak lain yang tidak bertanggung jawab</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Setiap Motivator dilarang untuk memperkenalkan dirinya secara pribadi kepada Klien tanpa sepengetahuan Human Capital dan Client Relations Departemen di Hallo Arif. </span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Setiap Motivator dilarang untuk memberikan solusi-solusi yang bertentangan dengan hal-hal positif berdasarkan logika berpikir normal manusia dan menjanjikan suatu hal yang melampaui batas keTuhanan Yang Maha Esa</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Setiap Motivator dilarang menawarkan barang dagangan ataupun Jasa yang di jual selain memberikan pelayanan motivasi kepada Klien.</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Setiap Motivator tidak diperbolehkan secara sengaja berusaha menjalin hubungan komunikasi percintaan dengan Klien.</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Setiap Motivator wajib menjaga perilaku dan sikap dalam mengucapkan sesuatu dan menyampaikan motivasi kepada Klien dengan memperhatikan gaya bahasa dan penggunaan istilah-istilah bahasa gaul yang kurang sopan.</span></li>
          </ol>
          <ol>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Hubungan dengan Pihak Lain dan Komunitas Masyarakat</span></li>
          </ol>
          <ol>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Setiap Motivator dilarang untuk menolak memberikan pelayanan motivasi kepada pihak lain atau komunitas masyarakat tertentu tanpa sepengetahuan Human Capital Departemen dan Client Relations Departemen. </span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Setiap Motivator diwajibkan untuk mampu membawa nama baik Hallo Arif baik sebagai Perusahaan tempat bekerja juga sebagai komunitas yang ingin menyebarkan nilai-nilai keperdulian sosial yang tinggi terhadap permasalahan masyarakat pada umumnya.</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Setiap Motivator wajib memperkenalkan Hallo Arif kepada masyarakat melalui sikap dan perilaku terpuji dan menjunjung tinggi nilai-nilai kemanusiaan. </span></li>
          </ol>
          <p><span style="font-weight: 400;"><span style="font-weight: 400;"><br /><br /></span></span></p>
          <p><strong>KEPATUHAN HUKUM DAN BENTURAN KEPENTINGAN</strong></p>
          <p><span style="font-weight: 400;">Setiap Motivator wajib patuh terhadap ketentuan hukum dan peraturan perundang-undangan yang berlaku serta peraturan dan kebijakan yang ditetapkan perusahaan. Untuk itu setiap motivator dilarang:</span></p>
          <ol>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Tidak mematuhi hukum, peraturan perundang-undangan dan peraturan Perusahaan Hallo Arif sehingga mengakibatkan kerugian.</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Melakukan kelalaian pelaksanaan kebijakan dan prosedur yang berpotensi merugikan dirinya sendiri, rekan kerja dan Perusahaan.</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Membujuk, menghasut dan memprovokasi rekan kerja, Pimpinan, atau bawahan untuk melakukan suatu hal dan tindakan yang bertentangan dengan hukum, peraturan perundang-undangan dan peraturan Perusahaan Hallo Arif. </span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Melakukan kelalaian yang merugikan dirinya sendiri dan Perusahaan</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Memperdagangkan suatu barang atau jasa serupa tanpa seijin Pimpinan Hallo Arif dan sepengetahuan Human Capital Departemen.</span></li>
          </ol>
          <p><span style="font-weight: 400;"><span style="font-weight: 400;">&nbsp;</span></span></p>
          <p><span style="font-weight: 400;">Setiap Motivator bertanggung jawab untuk memastikan bahwa kepentingan Pribadi di luar pekerjaan tidak mengganggu kewajibannya terhadap Perusahaan. Setiap Motivator wajib segera menyampaikan kepada Perusahaan apabila ada kondisi yang memiliki potensi terjadinya benturan kepentingan dengan Perusahaan yang dapat mempengaruhi pengambilan keputusan.</span></p>
          <p><span style="font-weight: 400;">Bentuk benturan kepentingan sangat beragam, untuk itu setiap Motivator diharapkan menggunakan pertimbangan akal sehat dalam menilai apakah suatu keadaan dapat memacu terjadinya benturan kepentingan sehingga jika hal ini terjadi, setiap Motivator dapat berkonsultasi dengan Pimpinan Hallo Arif untuk menghindari keragu-raguan. </span></p>
          <p><span style="font-weight: 400;">Setiap Motivator dilarang:</span></p>
          <ol>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Melakukan investasi pada pihak lain yang berpotensi menimbulkan benturan kepentingan</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Membentuk perkumpulan / organisasi formal yang tidak resmi / dilarang oleh peraturan perundang-undangan, tanpa sepengetahuan dan ijin tertulis dari Perusahaan Hallo Arif</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Memiliki jabatan di perusahaan lain tanpa memberitahukan kepada Perusahaan Hallo Arif mengenai jabatan tersebut. </span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Memberikan perlakukan khusus kepada seorang Klien tertentu tanpa sepengetahuan dari Human Capital Departemen dan Client Relations</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Menyalahgunakan jabatannya sebagai Motivator Hallo Arif dengan menjual atau melakukan pengambilan hutang kepada pihak ketiga tanpa sepengetahuan Human Capital Departemen</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Mencari keuntungan pribadi dengan menggunakan fasilitas perusahaan. </span></li>
          </ol>
          <p><span style="font-weight: 400;"><span style="font-weight: 400;"><br /><br /></span></span></p>
          <p><strong>SIKAP PROFESIONAL</strong></p>
          <p><span style="font-weight: 400;">Setiap Motivator Hallo Arif dituntut untuk wajib bersikap professional dalam melaksanakan tugas pekerjaannya dalam pencapaian visi dan misi bersama Hallo Arif. Oleh karena itu dalam berinteraksi dengan sesama rekan kerja dapat saling percaya, tulus, ikhlas, solid dan bersinergi. </span></p>
          <p><span style="font-weight: 400;">Sikap professional dalam standar etika mencerminkan komitmen seluruh Motivator Hallo Arif untuk melakukan hal yang benar, termasuk menghormati orang lain. </span></p>
          <p><span style="font-weight: 400;">Tanggung Jawab Pemimpin:</span></p>
          <ol>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Menjadi panutan (role model) yang baik dalam tindakan, tutur kata, bersikap adil dan terbuka</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Mendukung dan menjunjung pelaksanaan pekerjaan berdasarkan nilai-nilai etika yang benar</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Tidak memanfaatkan posisi jabatan untuk kepentingan pribadi, kelompok maupun pihak lain</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Memiliki integritas, loyalitas dan dedikasi yang tinggi untuk kemajuan anggota teamnya dan Perusahaan</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Memperhatikan pencapaian kinerja setiap anggota team yang berada dibawah pengawasannya. </span></li>
          </ol>
          <p><span style="font-weight: 400;"><span style="font-weight: 400;">&nbsp;</span></span></p>
          <p><span style="font-weight: 400;">Tanggung Jawab Anggota Team:</span></p>
          <ol>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Bersikap hormat dan santun kepada Pimpinan team-nya </span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Tidak melakukan tindakan diluar kewenangannya tanpa menerima instruksi maupun arahan dari Pimpinan team-nya terlebih dahulu</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Berinteraksi dengan baik kepada sesama rekan kerja, Pimpinan dan Perusahaan</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Taat dan patuh menjalankan komitmen atas kehadirannya pada jam-jam kerja yang sudah disanggupinya</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Mematuhi setiap ketentuan dan peraturan yang diatur oleh Perusahaan. </span></li>
          </ol>
          <p><span style="font-weight: 400;"><span style="font-weight: 400;">&nbsp;</span></span></p>
          <p><span style="font-weight: 400;">Setiap Motivator wajib dan mampu mencapai sikap professional yaitu dalam hal, antara lain:</span></p>
          <ol>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Berani Mengungkapkan Masalah</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Menghindari Diskriminasi </span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Kesempatan untuk Meningkatan Karir yang sama dengan rekan kerja lainnya</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Bebas Narkotika dan Obat-obatan Terlarang</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Saling Menghargai satu sama lain</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Menjaga Rahasia Perusahaan</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Menjaga Citra Perusahaan dan dirinya sendiri</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Berani bertanggung jawab terhadap setiap keputusan yang diambilnya. </span></li>
          </ol>
          <p><span style="font-weight: 400;"><span style="font-weight: 400;"><br /><br /></span></span></p>
          <p><strong>PRINSIP DASAR PELAKSANAAN ETIKA</strong></p>
          <ol>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Code of Conduct ini berlaku bagi seluruh Motivator Hallo Arif</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Direktur Utama sebagai penanggung jawab pelaksana tata kelola manajemen dan peraturan perusahaan memastikan pemahaman dan implementasi Code of Conduct Motivator ini bersama dengan Human Capital Departemen.</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Motivator dapat mengajukan pertanyaan mengenai hal-hal dalam Code of Conduct ini yang meragukan atau belum dapat dipahami oleh Motivator dengan mengajukan pertanyaan yang baik secara lisan dan tertulis kepada Human Capital Departemen.</span></li>
          </ol>
          <p><span style="font-weight: 400;"><span style="font-weight: 400;">&nbsp;</span></span></p>
          <p><strong>SOSIALISASI</strong></p>
          <p><span style="font-weight: 400;">Sosialisasi merupakan tahapan penting untuk memperjelas terlaksananya setiap ketentuan yang diatur dalam Code of Conduct ini secara efektif dan menyeluruh dengan memperhatikan hal-hal sebagai berikut:</span></p>
          <ol>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Membangun komitmen seluruh Motivator Hallo Arif</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Mensosialisasikan Code of Conduct dalam program training bagi Motivator secara berkala</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Mengembangkan Code of Conduct dan melakukan perubahan-perubahan jika diperlukan untuk menyesuaikan dengan kondisi bisnis yang dinamis</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Melengkapi peraturan perusahaan dengan sanksi atas pelanggaran yang terjadi dengan membangun system untuk memantau penerapan Code of Conduct. </span></li>
          </ol>
          <p><span style="font-weight: 400;"><span style="font-weight: 400;">&nbsp;</span></span></p>
          <p><strong>PELAPORAN PELANGGARAN</strong></p>
          <p><span style="font-weight: 400;">Pelaporan atas pelanggaran standar etika pada Code of Conduct dapat disampaikan kepada Human Capital Departemen baik secara langsung / lisan maupun secara tertulis melalui email atau surat. </span></p>
          <p><span style="font-weight: 400;"><span style="font-weight: 400;">&nbsp;</span></span></p>
          <p><strong>SANKSI ATAS PELANGGARAN</strong></p>
          <ol>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Pelanggaran terhadap Code of Conduct ini akan ditindaklanjuti oleh Perusahaan Hallo Arif secara tegas dan konsisten.</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Setiap Motivator diminta untuk sesegera mungkin menginformasikan jika terjadi pelanggaran atau terdapat dugaan terjadinya pelanggaran standar etika dalam lingkungan kerja.</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Human Capital Departemen berhak memberikan pernyataan terkait terjadi atau tidak terjadinya pelanggaran Code of Conduct melalui proses penilaian pelanggaran.</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Setiap pelanggaran atas Code of Conduct ini yang terbukti terjadi, akan diberikan sanksi berdasarkan peraturan perusahaan.</span></li>
          </ol>
          <p><span style="font-weight: 400;"><span style="font-weight: 400;"><br /><br /></span></span></p>
          <p><strong>PENERIMAAN PENGHARGAAN</strong></p>
          <ol>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Setiap Motivator yang telah terdaftar dan diverifikasi oleh Hallo Arif dan telah bekerja dalam memberikan layanan motivasi kepada Klien baik secara Offline maupun Online via Aplikasi Hallo Arif akan menerima penghargaan dalam bentuk uang. </span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Uang yang diterima ditentukan nilai dan jumlahnya sesuai dengan level jabatan Motivator yang tertera pada Perjanjian Kerja Motivator, dimana setiap jumlah yang telah disampaikan merupakan kesepakatan bersama antara Motivator dan Perusahaan</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Uang sebagai penghargaan atas kinerja yang diberikan oleh Motivator akan ditransfer ke Rekening Bank Motivator dengan mengikuti ketentuan yang diatur oleh Departemen Keuangan Perusahaan Hallo Arif dan terhadap hal ini tidak dapat diganggu gugat</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Nilai uang penghargaan yang diterima akan di rinci oleh Departemen Keuangan sehingga tidak ada perhitungan tersembunyi</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Penghargaan dalam bentuk uang sepenuhnya merupakan hak bagi Motivator yang diberikan oleh Perusahaan berdasarkan kinerja, loyalitas, dedikasi dan pencapaian Motivator dalam memberikan pelayanan motivasi kepada Klien.</span></li>
          </ol>
          <p><span style="font-weight: 400;"><span style="font-weight: 400;"><br /><br /></span></span></p>
          <p><strong>LEMBAR PERNYATAAN KEPATUHAN</strong></p>
          <p><span style="font-weight: 400;">Setiap Motivator wajib bersedia untuk menandatangani lembar pernyataan kepatuhan sebelum mulai bekerja sebagai Motivator Hallo Arif. </span></p>
          <p><span style="font-weight: 400;">Lembar pernyataan kepatuhan merupakan identitas mutlak Motivator Hallo Arif sebagai indikator penerapan Code of Conduct Motivator dalam melaksanakan pekerjaannya dalam memberikan pelayanan motivasi kepada Klien. </span></p>
          <p><span style="font-weight: 400;">Lembar pernyataan kepatuhan akan diperbaharui setiap kali Motivator akan dipromosikan untuk naik level jabatan, ataupun terdapat perubahan signifikan yang dilakukan pada Code of Conduct Motivator ini. </span></p>
        </div>
        <div class="text-center mt-3">
          <small class="text-blue-dark">
            By clicking on "Agree" below you are agreeing to the <br>
            <strong>Code of Conduct</strong> above and <strong>the Privacy Police</strong>
          </small>
        </div>
        <div class="row mt-5">
          <div class="col">
            <a href="#" class="text-blue-dark" style="font-size:25px;">
              Don't Agree
            </a>
          </div>
          <div class="col text-right">
            <a href="<%= dashboard_path %>" class="text-blue-dark" style="font-size:25px;">
              <strong>Agree</strong>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
