<section class="mt-3">

  <div class="container">
    <div class="row">
      <div class="col-md-6">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3965.7946746399944!2d106.80739641476956!3d-6.290695795447038!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f1fa599ef523%3A0xce4d3f317f5ed3f4!2sMenara+165%2C+Jl.+Tahi+Bonar+Simatupang%2C+RT.3%2FRW.3%2C+Cilandak+Tim.%2C+Ps.+Minggu%2C+Kota+Jakarta+Selatan%2C+Daerah+Khusus+Ibukota+Jakarta+12560!5e0!3m2!1sen!2sid!4v1553477467733" width="100%" height="650" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
        <div class="col-md-6 m-auto">
          <h2 style="" class="mb-2">HEAD OFFICE</h2>
          <p>
          Menara 165 Lantai 12A, Jl. TB Simatupang Raya, Jakarta Selatan, Indonesia  <br>
            </p><div class="row">
              <div class="col-2">
                <b>Phone</b>
              </div>
              <div class="ml-1">
                :
              </div>
              <div class="col text-left">
                 (021) 2940 665
              </div>
            </div>

            <div class="row">
              <div class="col-2">
                <b>Inquiry</b>
              </div>
              <div class="ml-1">
                :
              </div>
              <div class="col text-left">
                 <u><a href="mailto:info@halloarif.co.id"></a>info@halloarif.co.id</u>
              </div>
            </div>


          <p></p>
          <h3 style=";text-transform:uppercase">Send Message</h3>
          <hr>
          <form>
            <p><span style="color:red;">*</span> Input Required</p>
            <div class="row">

              <div class="col-md-6">
                <div class="form-group">
                  <label class="upper" for="fullname">Full Name <span style="color:red;">*</span></label>
                  <input class="form-control required" placeholder="Enter Full Name" type="text" name="contact[fullname]" id="contact_fullname" required="">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="upper" for="email">Email <span style="color:red;">*</span></label>
                  <input class="form-control required" placeholder="Enter Your E-Mail" type="text" name="contact[email]" id="contact_email" required="">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="upper" for="subject">Subject <span style="color:red;">*</span></label>
                  <input class="form-control required" placeholder="Enter Message/Question Subject" type="text" name="contact[subject]" id="contact_subject" required="">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="upper" for="">Message/Question <span style="color:red;">*</span></label>
                  <textarea class="form-control required" row="3" name="contact[message]" id="contact_message" required=""></textarea>
                </div>
              </div>
            </div>
            <input type="submit" value="Submit" class="btn btn-dark d-block" style="display: none;">
          </form>
        </div>
    </div>
  </div>
</section>
