<% if params[:clt].present? %>
<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="p-3 shadow">
          <p class="text-blue-light">TERIMAKASIH TELAH MENGHUBUNGI HALLO ARIF. MOHON DITUNGGU RESPON DARI MOTIVATOR KAMI.</p>
          </div>
        </div>
      </div>

      <div class="text-center mt-5">
        <a href="<%= dashboard_index_path %>" class="text-gray"><i>NEXT</i></a>
      </div>
    </div>
  </section>
<% end %>

<% if params[:hct].present? %>
<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="p-3 shadow">
          <p class="text-blue-light">Motivator Berhasil di pilih.</p>
          </div>
        </div>
      </div>

      <div class="text-center mt-5">
        <a href="<%= dashboard_index_path %>" class="text-gray"><i>NEXT</i></a>
      </div>
    </div>
  </section>
<% end %>

<% if params[:mtv].present? %>
<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="p-3 shadow">
          <p class="text-blue-light">Data Berhasil diupdate.</p>
          </div>
        </div>
      </div>

      <div class="text-center mt-5">
        <a href="<%= dashboard_index_path %>" class="text-gray"><i>NEXT</i></a>
      </div>
    </div>
  </section>
<% end %>

<% if params[:fns].present? %>
<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="p-3 shadow">
          <p class="text-blue-light">Terimakasih telah mempercayakan
            Hallo Arif sebagai sahabatmu.
            Semoga Sang Maha Pencipta
            senantiasa menuntun, menjaga,
            membimbing, dan memberikan
            jalan hidup yang terbaik untuk
            kita semuanya.
            AMIN
</p>
          </div>
        </div>
      </div>

      <div class="text-center mt-5">
        <a href="<%= dashboard_index_path %>" class="text-gray"><i>NEXT</i></a>
      </div>
    </div>
  </section>
<% end %>


  <% if params[:hct].present? %>
  <% x = MessageBox.find(params[:hct])  %>
  <script type="text/javascript">
    var settings = {
      "async": true,
      "crossDomain": true,
      "url": "https://reguler.zenziva.net/apps/smsapi.php?userkey=57z0sk&passkey=rYQFPeWHbX&nohp=082280793889&pesan=<%= URI.encode("Kepada #{x.motivator.motivator_code}, ada box uneg uneg yang harus km jawab") %>",
      "method": "POST",
      "headers": {
        "User-Agent": "PostmanRuntime/7.11.0",
        "Accept": "*/*",
        "Cache-Control": "no-cache",
        "Postman-Token": "558b0d17-a75b-444e-bbc7-5a368891bebe,236c0d2d-70f9-4c0c-9f2d-3bc0214cdca7",
        "Host": "reguler.zenziva.net",
        "accept-encoding": "gzip, deflate",
        "content-length": "",
        "Connection": "keep-alive",
        "cache-control": "no-cache"
      }
    }

    $.ajax(settings).done(function (response) {
      console.log(response);
    });
  </script>
  <% end %>

<% if params[:mtv].present? %>
<% x = MessageBox.find(params[:mtv])  %>
<script type="text/javascript">
  var settings = {
    "async": true,
    "crossDomain": true,
    "url": "https://reguler.zenziva.net/apps/smsapi.php?userkey=57z0sk&passkey=rYQFPeWHbX&nohp=<%= x.user.phone_number %>&pesan=<%= URI.encode("kepada #{x.user.full_name}, ada Balasan dari Motivator") %>",
    "method": "POST",
    "headers": {
      "User-Agent": "PostmanRuntime/7.11.0",
      "Accept": "*/*",
      "Cache-Control": "no-cache",
      "Postman-Token": "558b0d17-a75b-444e-bbc7-5a368891bebe,236c0d2d-70f9-4c0c-9f2d-3bc0214cdca7",
      "Host": "reguler.zenziva.net",
      "accept-encoding": "gzip, deflate",
      "content-length": "",
      "Connection": "keep-alive",
      "cache-control": "no-cache"
    }
  }

  $.ajax(settings).done(function (response) {
    console.log(response);
  });
</script>
<% end %>

<% if params[:clt].present? %>

<script type="text/javascript">
  var settings = {
    "async": true,
    "crossDomain": true,
    "url": "https://reguler.zenziva.net/apps/smsapi.php?userkey=57z0sk&passkey=rYQFPeWHbX&nohp=082280793889&pesan=<%= URI.encode("Hai Human Capital, ada box uneg uneg baru.") %>",
    "method": "POST",
    "headers": {
      "User-Agent": "PostmanRuntime/7.11.0",
      "Accept": "*/*",
      "Cache-Control": "no-cache",
      "Postman-Token": "558b0d17-a75b-444e-bbc7-5a368891bebe,236c0d2d-70f9-4c0c-9f2d-3bc0214cdca7",
      "Host": "reguler.zenziva.net",
      "accept-encoding": "gzip, deflate",
      "content-length": "",
      "Connection": "keep-alive",
      "cache-control": "no-cache"
    }
  }

  $.ajax(settings).done(function (response) {
    console.log(response);
  });
</script>
<script type="text/javascript">
  var settings = {
    "async": true,
    "crossDomain": true,
    "url": "https://reguler.zenziva.net/apps/smsapi.php?userkey=57z0sk&passkey=rYQFPeWHbX&nohp=082316840378&pesan=<%= URI.encode("Hai Human Capital, ada box uneg uneg baru.") %>",
    "method": "POST",
    "headers": {
      "User-Agent": "PostmanRuntime/7.11.0",
      "Accept": "*/*",
      "Cache-Control": "no-cache",
      "Postman-Token": "558b0d17-a75b-444e-bbc7-5a368891bebe,236c0d2d-70f9-4c0c-9f2d-3bc0214cdca7",
      "Host": "reguler.zenziva.net",
      "accept-encoding": "gzip, deflate",
      "content-length": "",
      "Connection": "keep-alive",
      "cache-control": "no-cache"
    }
  }

  $.ajax(settings).done(function (response) {
    console.log(response);
  });
</script>
<% end %>
