<% if params[:box_uneg].present? %>
<% MessageBox.where(id: params[:box_uneg]).where(user_id:current_user).order(created_at: :desc).limit(1).each do |x| %>
<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="p-3 shadow" style="height:500px;overflow-y:scroll">
          <div class="d-block mb-3">
            <div class="my-1">
              <h3 style="color:gray"><%= x.problem_category.name rescue "-" %></h3>
              <p><i><%= x.message rescue "" %></i></p>
              <hr>
              <p><%= x.message_reply %></p>
            </div>
            <% if x.message_reply == nil %>
            <div class="text-right">
              <a href="#"><i><strong> Menunggu Jawaban Motivator</strong></i></a>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <% end %>
  <% else %>
  <section>
    <div class="container">
      <h1>History Uneg Uneg</h1>
      <hr>
      <div class="mt-4">
        <h3>Box Uneg Uneg</h3>
        <div class="table-responsive">
          <table class="table table-striped">
          <thead>
            <tr>
              <th><%= "No Tiket".titleize %></th>
              <th><%= "kategori masalah".titleize %></th>
              <th><%= "motivator_id".titleize %></th>
              <th><%= "status".titleize %></th>
              <th><%= "created_at".titleize %></th>
              <th><%=t '.actions', :default => t("helpers.actions") %></th>
            </tr>
          </thead>
          <tbody>
            <% @message_boxes.each do |message_box| %>
            <tr>

              <td><%= custom_id_box(message_box) %></td>
              <td><%= message_box.problem_category.name rescue " -" %></td>
              <% if message_box.motivator_id == nil %>
              <td><span class="badge badge-danger">Belum Ada Motivator</span></td>
              <% else %>
              <td><%= message_box.motivator.motivator_code %></td>
              <% end %>
              <td><%= message_box.status %></td>
              <td><%= message_box.created_at.strftime("%e %B %Y  %T ") rescue "" %></td>
              <td>
                <%= link_to "Lihat",
                history_path(box_uneg: message_box), :class => 'btn btn-primary btn-xs' %>

              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
        </div>
      </div>
      <hr>
      <div class="mt-4">
        <h3>Chat Motivasi</h3>
        <div class="table-responsive">
          <table class="table table-striped">
          <thead>
            <tr>
              <th><%= "No Tiket".titleize %></th>
              <th><%= "kategori masalah".titleize %></th>
              <th><%= "motivator_id".titleize %></th>
              <th><%= "package_id".titleize %></th>
              <th><%= "created_at".titleize %></th>
              <th><%=t '.actions', :default => t("helpers.actions") %></th>
            </tr>
          </thead>
          <tbody>
            <% @conversations.each do |conversation| %>
            <tr>
              <td><%= custom_id_chat(conversation) %></td>
              <td><%= conversation.problem_category.name rescue '-'%></td>
              <td><%= conversation.motivator.motivator_code rescue '-'%></td>
              <td><%= conversation.package.name rescue "" %></td>
              <td><%= conversation.created_at.strftime("%e %B %Y  %T ") rescue "" %></td>
              <td>
                <%= link_to t('.show', :default => t("helpers.links.show")),
                messages_path(conversation_id: conversation), :class => 'btn btn-primary btn-xs' %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
        </div>
      </div>
      <hr>

    </div>
  </section>

<% end %>
