<!-- main slider -->
<section class="p-0 h-100">
  <div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class=" d-flex justify-content-end align-items-center full-height-slider" style="background-image: url('<%= asset_url('bg-slider-1.png') %>');background-position:center center;background-size:cover; position: relative;height: 100%; " >
          <div class="container-fluid">
            <div class="row justify-content-end">
              <div class="col-md-5">
                <h2 class="text-warning mb-2">
                  Jangan Diam!!! <br> Curhat Sekarang
                </h2>
                <h5 class="text-light mb-2">Download  Aplikasi Halloarif disini:</h5>
                <div class="row">
                  <div class="col-3">
                    <a href="https://play.google.com/store/apps/details?id=id.halloarif.app&hl=en" class="d-block" target="_blank">
                      <img src="<%= asset_url('hallo arif on google store.png') %>" alt="" class="w-100">
                    </a>
                  </div>
                  <div class="col-3">
                    <a href="https://play.google.com/store/apps/details?id=id.halloarif.app&hl=en" class="d-block" target="_blank">
                      <img src="<%= asset_url('qr goole play 1.png') %>" alt=""class="w-100">
                    </a>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- main slider -->


<!-- box uneq uneg -->
<section class="position-relative d-none d-md-block" style="background-color:#f7f7f7;min-height:70vh;" id="box-uneg-uneg">
  <div class="position-absolute d-flex w-100" style="top:-60px;z-index:1">
    <div class="container">
      <div class="w-75 ml-auto mr-auto mb-5 pb-5">
        <a href="/login"class="d-block">
          <div class="d-block box-image " >
            <img src="<%= asset_url('boxxx.jpg') %>" alt="box uneg uneg logo" class="w-100 hvr-grow">
          </div>
        </a>
      </div>
      <div class="text-center mt-5">
        <h2>Tumpahkan Segala Keluh Kesah, Emosi, Sedih, Perasaan Tak Menentu, Dan Pikiran Yang Kalut.</h2>
      </div>
    </div>
  </div>
</section>

<section class="position-relative d-block d-sm-none" style="background-color:#f7f7f7;" id="box-uneg-uneg">
  <div class=" d-flex w-100" style="top:-60px;z-index:1">
    <div class="container">
      <div class="w-75 ml-auto mr-auto mb-3">
        <a href="/login"class="d-block">
          <div class="d-block box-image " >
            <img src="<%= asset_url('Box Uneg-Uneg0.png') %>" alt="box uneg uneg logo" class="w-100 hvr-grow">
          </div>
        </a>
      </div>
      <div class="text-center ">
        <h2>Tumpahkan Segala Keluh Kesah, Emosi, Sedih, Perasaan Tak Menentu, Dan Pikiran Yang Kalut.</h2>
      </div>
    </div>
  </div>
</section>
<!-- box uneg uneg -->

<!-- qoutes -->
<section style="background-color:#0066bb" id="quote">
  <div class="container">
    <div class="text-center mb-5">
      <h2 class="text-warning mb-2">QUOTES</h2>
      <p class="text-white">KUMPULAN CERITA MOTIVASI</p>
    </div>
    <div class="row mb-10" id="all-feed">

          </div>
  </div>
</section>
<!-- qoutes -->

<section class="section-video">
    <div class="container">
      <div class="d-block">

      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="d-md-none d-sm-block">
            <div class="heading-section no-border">
              <h2 class="mb-3">Videos</h2>
            </div>
          </div>
          <div class="video_case">
            <iframe width="100%" height="470" src="https://www.youtube.com/embed/<%= YoutubeID.from(@video.first.youtube_url) %>" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-md-4 d-md-block d-none">
          <div class="heading-section no-border">
            <h2 class="mb-0"><a href="https://www.youtube.com/channel/UCzvMLugHnN0wix5-lHWLoZw">MOTIVADIO</a></h2>
          </div>
          <div class="list-video"  style="height:100%;max-height: 414px;">
            <% @video.all.each_with_index do |x, i| %>
            <div class="vid-thumb">
              <a href="https://www.youtube.com/embed/<%= YoutubeID.from(x.youtube_url) %>" class="video-<%= i %>" title="" >
                <img src="https://img.youtube.com/vi/<%= YoutubeID.from(x.youtube_url) %>/hqdefault.jpg" alt="" class="w-100"/>
              </a>
            </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="d-block">

      </div>
    </div>
  </section>

<!--articles  -->
<section  style="background-color:#f7f7f7;" id="article">
  <div class="container">
    <div class="text-center mb-5">
      <h2 class="text-warning mb-2">ARTIKEL</h2>
    </div>
    <div class="row">
      <% Article.where(status: "publish").limit(6).order(created_at: :desc).each do |x| %>
      <div class="col-md-4 mb-5">
        <div class="card w-100">
          <img class="card-img-top" src="<%= x.image %>" alt="<%= x.title %>">
          <div class="card-body">
            <h5 class="card-title"><%= x.title %></h5>
            <a href="<%= article_path(x.slug) %>" class="btn btn-primary w-100">Selengkapnya</a>
          </div>
        </div>
      </div>
      <% end %>

      <div class="text-center w-100">
        <a href="<%= allstory_path %>" class="btn btn-outline-primary" >Semua Artikel</a>
      </div>
    </div>
  </div>
</section>
<!-- articles -->

<section  class="bg-background d-flex align-items-center" style="background-image:url('<%= asset_url('motivator-bg.png') %>');background-color: #0066bb;min-height:75vh;">
  <div class="container">
    <div class="text-center mb-5">
      <h2 class="text-warning mb-2">MOTIVATOR</h2>
      <p class="text-white">Profesional Mentor Hallo arif</p>
    </div>
    <div class="text-center text-light">
      <div class="w-75 m-auto">
        <p style="font-size:20px; mb-3">
          Perjalanan hidup mereka tidak umum. Ujian dan cobaan datang silih berganti. Kehidupan mereka seperti Jet Coaster, Turun-Naik secara Drastis.
          <br><br>
          Mereka di kehendaki Sang Maha Pencipta menjadi Sahabat dan Motivator. Siapa saja dan dimana saja mereka pribadi-pribadi yang diberi Sang Maha Pencipta diri yang kuat, Pikiran yang positif dan memiliki keyakinan yang tinggi kepada Sang Maha Pencipta.
          <br><br>
          Mereka ada disini, di Halloarif dengan segenap hati atas izin Sang Maha Pencipta, hadir menjadi motivator dan sahabat sejati anda serta bisa dipercaya.
        </p>
        <div class="text-center">
          <a href="http://bit.ly/CalonMotivatorHA" target="_blank"  class="btn btn-primary w-50 m-auto d-block pill-border btn-blue">Selengkapnya</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container" style="overflow:hidden;">
    <div class="mb-5 text-center">
      <h2 class="text-warning mb-2">KATA MEREKA</h2>
      <p class="">Mereka Yang Telah Menggunakan Hallo Arif</p>
    </div>
    <div class="owl-carousel testimoni-slider owl-theme">
      <% Testimony.all.each do |x| %>
      <div class="py-5 px-2 ">
        <div class="card border-0 bx-testi" style="    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;">
          <div class="card-body text-center ">
            <p class="card-text p-4"><%= x.content %></p>
            <p><strong>- Anonymous</strong> </p>
          </div>
        </div>
      </div>
      <% end %>

    </div>
  </div>
</section>


<!--Start of Tawk.to Script-->
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5af94e865f7cdf4f05342bb9/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>

<!--End of Tawk.to Script-->
