<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <img src="<%= asset_url('intro.png') %>" alt=""class="w-100">
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-3">
        <img src="<%= asset_url('heart.png') %>" alt="" class="w-100">
      </div>
    </div>
    <div class="text-center mt-5">
      <a href="<%= dashboard_index_path %>" class="text-gray"><i>NEXT</i></a>
    </div>
  </div>
</section>
