<% if current_user.is_client? %>
<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="p-3 shadow" style="height:500px;overflow-y:scroll">
          <div class="d-block mb-3">
            <p class="text-blue-dark" style="font-size: 20px;">List Chat Yang Masih Aktif</p>
            <% @box.each do |x| %>
              <div class="row">
                <div class="col-8">
                  <%= x.problem_category.name rescue"" %>
                </div>
                <div class="col-4">
                  <a href="<%= answer_chat_path(id: x.id) %>" class="btn-text">Lihat</a>
                </div>
              </div>
              <hr>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
<% else %>
<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="p-3 shadow" style="height:500px;overflow-y:scroll">
          <div class="d-block mb-3">
            <p class="text-blue-dark" style="font-size: 20px;">List Box Uneg Uneg Yang Belum Di Jawab</p>
            <% @box.each do |x| %>
              <div class="row">
                <div class="col-8">
                  <%= x.problem_category.name rescue"" %>
                </div>
                <div class="col-4">
                  <a href="<%= answer_chat_path(id: x.id) %>" class="btn-text">Jawab</a>
                </div>
              </div>
              <hr>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>
