<section>
  <div class="container">
    <div class="text-center mt-3 mb-3 text-center">
      <h1>Pilih Paket</h1>
    </div>
    <div class="owl-carousel pckg-slider owl-theme">
      <% @packages.each do |x| %>
      <div class="">
        <div class="card text-center w-100 border border-info">
          <div class="card-body">
            <h2 class="card-title" style="font-size:20px;"><%= x.name %></h2>
            <p class="card-text"><%= x.description %></p>
            <h3 class="card-text">Rp.<%= x.price %></h3>
            <a href="<%= init_payment_path(packages_id: x.id) %>" class="btn btn-primary w-75 m-auto d-block pill-border btn-blue">Beli Paket</a>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>
