<% if current_user.is_client? %>
<section>
  <div class="container">
    <div id="infomotivator" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <% Biodatum.all.each_with_index do |x,i| %>

        <div class="carousel-item <% if i == 0 %>active<% end %>">
          <div class="w-50 m-auto">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-2">
                    <img src="<%= x.avatar %>" class="mw-100" alt="">
                  </div>
                  <div class="col-md-8">
                    <dd> <h3 style="font-size: 25px;"Range Umur: <%= x.age_range %></h3></dd>
                    <dd> <h4 style="font-size: 20px;font-weight:700">Jenis Kelamin: <%= x.gender %></h4></dd>
                    <dd> <h4 style="font-size: 20px;font-weight:700">Pekerjaan:  <%= x.occupation %></h4></dd>
                    <dd> <h4 style="font-size: 20px;font-weight:700"> Story:</h4>
                      <p><%= x.story.gsub(/\n/, '<br/>').html_safe %></p>
                    </dd>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <a class="carousel-control-prev" href="#infomotivator" role="button" data-slide="prev">
        <i class="fa fa-chevron-left text-info" aria-hidden="true"></i>
      </a>
      <a class="carousel-control-next" href="#infomotivator" role="button" data-slide="next">
        <i class="fa fa-chevron-right text-info" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</section>

<% else %>
<section>
  <div class="container">
    <div class="card">
      <div class="card-body">
        <div class="container">
          <div class="row">
            <div class="col-md-10">
              <div class="row">
                <div class="col-2">
                  <strong>Nama</strong>
                </div>
                <div class="">
                  :
                </div>
                <div class="col-md-9">
                  <p>
                    <%= current_user.detail_motivators.last.nama_panjang %>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-2">
                  <strong>Phone Number</strong>
                </div>
                <div class="">
                  :
                </div>
                <div class="col-md-9">
                  <p>
                    <%= current_user.detail_motivators.last.handphone %>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-2">
                  <strong>Email</strong>
                </div>
                <div class="">
                  :
                </div>
                <div class="col-md-9">
                  <p>
                    <%= current_user.email %>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-2">
                  <strong>Email Pribadi</strong>
                </div>
                <div class="">
                  :
                </div>
                <div class="col-md-9">
                  <p>
                    <%= current_user.detail_motivators.last.email_pribadi %>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-2">
                  <strong>Kategory</strong>
                </div>
                <div class="">
                  :
                </div>
                <div class="col-md-9">
                  <p>
                    <%= current_user.detail_motivators.last.problem_category.name rescue '-' %>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-2">
                  <strong>Last Login</strong>
                </div>
                <div class="">
                  :
                </div>
                <div class="col-md-9">
                  <p>
                    <%= current_user.last_sign_in_at %>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <h3>Rating</h3>
              <% a = Conversation.where(motivator_id: current_user.id).where.not(rating: nil).map(&:rating).sum / Conversation.where(motivator_id: current_user.id).where.not(rating: nil).count rescue 5 %>
              <% b = MessageBox.where(motivator_id: current_user.id).where.not(rating: nil).map(&:rating).sum / MessageBox.where(motivator_id: current_user.id).where.not(rating: nil).count rescue 5 %>
              <h3><strong><%= (a.to_f + b.to_f) /2 %></strong> <i class="fa fa-star text-warning mr-1" aria-hidden="true"></i> <p class="mb-0"></p></h3>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="card">
      <div class="card-body">

        <% if params[:sch].present? %>
        <% if Schedule.exists?(params[:sch].to_i) %>

            <%= form_for  Schedule.find(params[:sch]), :html => { :class => "form-horizontal schedule" } do |f| %>

            <div class="form-group">
              <%= f.label :date, :class => 'control-label col-lg-2' %>
              <div class="col-lg-10">
                <%= f.select :date, Schedule::Type.map {|c| [c.first.to_s.titleize, c.last] },{},{:class=>"w-100 form-control select2"}%>
              </div>
              <%=f.error_span(:date) %>
            </div>
            <div class="form-group">
              <%= f.label :start, :class => 'control-label col-lg-2' %>
              <div class="col-lg-10">
                <%= f.time_field :start, :class => 'form-control timed' %>
              </div>
              <%=f.error_span(:start) %>
            </div>
            <div class="form-group">
              <%= f.label :end, :class => 'control-label col-lg-2' %>
              <div class="col-lg-10">
                <%= f.time_field :end, :class => 'form-control timed' %>
              </div>
              <%=f.error_span(:end) %>
            </div>

            <%= f.hidden_field :motivator_id, value: current_user.id %>


            <div class="form-group">
              <div class="col-lg-offset-2 col-lg-10">
                <%= f.submit nil, :class => 'btn btn-primary' %>
                <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                mtv_info_path, :class => 'btn btn-default' %>
              </div>
            </div>





          <% end %>
          <% else %>
          <%= form_for @schedule, :html => { :class => "form-horizontal schedule" } do |f| %>

          <div class="form-group">
            <%= f.label :date, :class => 'control-label col-lg-2' %>
            <div class="col-lg-10">
              <%= f.select :date, Schedule::Type.map {|c| [c.first.to_s.titleize, c.last] },{},{:class=>"w-100 form-control select2"}%>
            </div>
            <%=f.error_span(:date) %>
          </div>
          <div class="form-group">
            <%= f.label :start, :class => 'control-label col-lg-2' %>
            <div class="col-lg-10">
              <%= f.time_field :start, :class => 'form-control timed' %>
            </div>
            <%=f.error_span(:start) %>
          </div>
          <div class="form-group">
            <%= f.label :end, :class => 'control-label col-lg-2' %>
            <div class="col-lg-10">
              <%= f.time_field :end, :class => 'form-control timed' %>
            </div>
            <%=f.error_span(:end) %>
          </div>

          <%= f.hidden_field :motivator_id, value: current_user.id %>


          <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
              <%= f.submit nil, :class => 'btn btn-primary' %>
              <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
              mtv_info_path, :class => 'btn btn-default' %>
            </div>
          </div>


        <% end %>

        <% end %>

      <% elsif params[:sch] == "new" %>

        <% else %>

        <div class="page-header">
          <h4>Jadwal </h4>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>date</th>
              <th>start</th>
              <th>end</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% current_user.schedules.each do |schedule| %>
            <tr>
              <td><%= schedule.date.titleize %></td>
              <td><%= schedule.start.strftime('%H:%M') rescue "" %></td>
              <td><%= schedule.end.strftime('%H:%M') rescue "" %></td>
              <td><a href="<%= mtv_info_path(sch: schedule.id) %>">Ubah</a></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <a href="<%= mtv_info_path(sch: "new") %>" class="btn btn-primary">Tambah</a>

        <% end %>
      </div>
    </div>
  </div>
</section>
<% end %>
