<section>
  <div class="container">
    <div class="text-center mt-3 mb-3 text-center">
      <h1>Paket <%= @payment.package.name %></h1>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-body text-center">
            <p><strong><%= @payment.package.description  %></strong></p>
            <p>Harga: Rp.<%= @payment.package.price %></p>
            <hr>
            <% if @payment.promo_code.nil? ||@payment.promo_code == "" %>
            <p>Masukan Kode Promo yang Anda Dapat Dari Marketing Kami</p>
             <%= form_tag({controller: "payments", action: "validate_promo_code"}, method: "get", class: "nifty_form") %>
              <%= hidden_field_tag 'payment_id', @payment.id %>
               <%= text_field_tag :promo_code, "", class: "form-control mb-3", style:"text-transform:uppercase;" %>
               <%= submit_tag 'Submit Kode Promo', :class => 'btn btn-primary' do %>
             <% end %>
            <% else %>
            <div class="text-center">
              <h3><strong>Kode Promo: <%= @payment.promo_code %></strong></h3>
            </div>
            <% end %>
            <div class='cart'>
              <!-- some other codes -->
              <%= hidden_field_tag 'snap_token', @snap_token %>
              <div class="w-50 m-auto" style="margin-top:30px !important">
                  <a href='#' class='order-button btn btn-primary w-75 m-auto d-block pill-border btn-blue m-auto'>Order</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
