<section>
  <div class="container">
    <div class="text-center">
      <h1>Pembayaran Berhasil</h1>
      <a href="<%= before_conversation_path(:question_1) %>" class="btn btn-primary">Mulai Chat Motivasi</a>
    </div>
  </div>
</section>
