<%= form_for current_user, :html => { :class => "form-horizontal user" } do |f| %>
<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="p-3 shadow" style="height:500px;overflow-y:scroll">
          <div class="d-block mb-3">
            <p class="mb-0"><strong>Darimana Anda Mengetahui Aplikasi Ini?:</strong></p>
            <%= f.select :register_source, User::SOURCE.map{|x| x.titleize },{:prompt => 'Pilih Atau Isi dengan Sumber Lainnya'}, {class:'selectize', required:true} %>
          </div>
          <div class="d-block mb-3">
            <p class="mb-0"><strong>Usia:</strong></p>
            <div class="d-inline-block custom-control custom-radio mr-3">
              <input type="radio" class="custom-control-input" id="sd" name="user[range_age]" value="6 - 12" required>
              <label class="custom-control-label" for="sd">6 - 12</label>
            </div>
            <div class="d-inline-block custom-control custom-radio mr-3">
              <input type="radio" class="custom-control-input" id="smp" name="user[range_age]" value="13 - 16" required>
              <label class="custom-control-label" for="smp">13 - 16</label>
            </div>
            <div class="d-inline-block custom-control custom-radio mr-3">
              <input type="radio" class="custom-control-input" id="sma" name="user[range_age]" value="17 - 20" required>
              <label class="custom-control-label" for="sma">17 - 20</label>
            </div>
            <div class="d-inline-block custom-control custom-radio mr-3">
              <input type="radio" class="custom-control-input" id="mhs" name="user[range_age]" value="21 - 27" required>
              <label class="custom-control-label" for="mhs">21 - 27</label>
            </div>
            <div class="d-inline-block custom-control custom-radio ">
              <input type="radio" class="custom-control-input" id="Pekerja" name="user[range_age]" value=" > 28" required>
              <label class="custom-control-label" for="Pekerja">> 28 </label>
            </div>
          </div>
          <div class="d-block mb-3">
            <p class="mb-0"><strong>Jenis Kelamin</strong></p>
            <div class="d-inline-block custom-control custom-radio mr-3">
              <input type="radio" class="custom-control-input" id="gndr-lk" name="user[gender]" value="Laki-laki" required>
              <label class="custom-control-label" for="gndr-lk">Laki-laki</label>
            </div>
            <div class="d-inline-block custom-control custom-radio ">
              <input type="radio" class="custom-control-input" id="gndr-pr" name="user[gender]" value="Perempuan" required>
              <label class="custom-control-label" for="gndr-pr">Perempuan<label>
              </div>
            </div>
            <div class="d-block mb-3">
              <p class="mb-0"><strong>Status Menikah:</strong></p>
              <div class="d-inline-block custom-control custom-radio mr-3">
                <input type="radio" class="custom-control-input" id="menikah" name="user[marital_status]" value="menikah" required>
                <label class="custom-control-label" for="menikah">Menikah</label>
              </div>
              <div class="d-inline-block custom-control custom-radio mr-3">
                <input type="radio" class="custom-control-input" id="belum menikah" name="user[marital_status]" value="belum menikah" required>
                <label class="custom-control-label" for="belum menikah">Belum Menikah</label>
              </div>
            </div>
            <div class="d-block mb-3">
              <p class="mb-0"><strong>Pekerjaan</strong></p>
              <div class="d-inline-block custom-control custom-radio mr-3">
                <input type="radio" class="custom-control-input" id="pns" name="user[occupation]" value="Pegawai Negeri" required>
                <label class="custom-control-label" for="pns">Pegawai Negeri</label>
              </div>
              <div class="d-inline-block custom-control custom-radio mr-3">
                <input type="radio" class="custom-control-input" id="ks" name="user[occupation]" value="Karyawan Swasta" required>
                <label class="custom-control-label" for="ks">Karyawan Swasta<label>
                </div>
                <div class="d-inline-block custom-control custom-radio ">
                  <input type="radio" class="custom-control-input" id="lainnya" name="user[occupation]" value="Lainnya" required>
                  <label class="custom-control-label" for="lainnya">Lainnya<label>
                  </div>
                </div>
                <div class="d-block mb-3">
                  <p class="mb-0"><strong>Provinsi</strong></p>
                  <div class="form-group">
                    <%= f.collection_select :province_id, Province.order(:name), :code , :name, style: "display:block;include_blank: true", :prompt => "Select Provinsi", class: 'form-control' %>
                  </div>
                </div>
                <div class="d-block mb-3">
                  <p class="mb-0"><strong>Kota</strong></p>
                  <div class="form-group">
                    <%= f.grouped_collection_select :city_id, Province.order(:name), :regencies, :name, :id , :name, style: "width:275px;display:block", :prompt => "Select Area", required: true, class: 'form-control' %>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="mt-3 text-center">
            <h2 class="text-blue-dark mb-2">QUESIONER</h2>
          </div>
          <div class="mt-5">
            <div class="row">
              <div class="col">
                <a href="dashboard_path" class="text-blue-dark" style="font-size:25px;">
                  Cancel
                </a>
              </div>
              <div class="col text-right">
                <%= f.submit 'Submit', :class => 'btn-text' %>
              </div>
            </div>
          </div>
        </div>
      </section>

      <script type="text/javascript">
        var locations;
        var areas;
        $('#user_city_id').attr('required', 'required');
        $('#property_area_id').attr('required', 'required');
        areas = $('#property_area_id').html();
        locations = $('#user_city_id').html();

        $('#user_province_id').change(function () {
          var region,
          escaped_region,
          options;
          region = $('#user_province_id :selected').text();
          escaped_region = region.replace(/([ #;&,.+*~\':"!^$[\]()=>|\/@])/g, '\\$1');
          options = $(locations).filter("optgroup[label=" + escaped_region + "]").html();
          if (options) {
            $('#user_city_id').html(options);
            return $('#user_city_id').removeAttr("disabled");

          } else {
            $('#user_city_id').empty();
            return $('#user_city_id').attr('required', 'required');
            return $('#property_area_id').addClass("hide");

          }

        });
      </script>
<% end %>
