<%= form_for @conversation do |f| %>

<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="p-3 shadow" style="height:500px;overflow-y:scroll">
          <div class="d-block mb-3 text-center">
            <p>Silahkan berikan penilaian Sahabat <br> terhadap layanan kami</p>

              <div class="row justify-content-center">
                <div class="col-3 mb-3">
                  <img src="<%= asset_url('apatar.png') %>" alt="" class="w-100">
                </div>
              </div>
              <h3><%= @conversation.motivator.motivator_code %></h3>

            <div class="my-1">

              <%= f.hidden_field :rating, class:" form-control rating-value",placeholder: "Komentar" %>
              <div id="rate" class="rating m-auto "></div>
              <span>Komentar kamu</span>
              <%= f.text_area :reason, id: :message_content, class:" form-control shadow", placeholder: "Silahkan Tuliskan Komentar Sahabat", rows: 10 %>
              <p>
                Seberapa besar kemungkinan Sahabat merekomedasikan layanan kami kepada orang lain? <br>
                1 bintang untuk tidak mungkin, 5 bintang untuk mungkin
              </p>
              <%= f.hidden_field :engage, class:" form-control engage-value" %>
              <%= f.hidden_field :status, value: "rated" %>
              <div id="engage" class="rating m-auto "></div>
            </div>

            <div class="text-right">
              <%= f.submit 'Send', :class => 'btn-text' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <% end %>
