<%= form_for @testimony, :html => { :class => "form-horizontal testimony" } do |f| %>

  <% if @testimony.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@testimony.errors.count, "error") %> prohibited this testimony from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @testimony.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :content, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :content, :class => 'form-control' %>
    </div>
    <%=f.error_span(:content) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                testimonies_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
