<%- model_class = Testimony -%>
<div class="card">
  <div class="card-body">
    <div class="page-header">
      <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:id) %></th>
          <th><%= model_class.human_attribute_name(:content) %></th>
          <th><%= model_class.human_attribute_name(:created_at) %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @testimonies.each do |testimony| %>
        <tr>
          <td><%= link_to testimony.id, testimony_path(testimony) %></td>
          <td><%= testimony.content %></td>
          <td><%=l testimony.created_at %></td>
          <td>
            <%= link_to t('.show', :default => t("helpers.links.show")),
            testimony_path(testimony), :class => 'btn btn-default btn-xs' %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
            edit_testimony_path(testimony), :class => 'btn btn-default btn-xs' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
            testimony_path(testimony),
            :method => :delete,
            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
            :class => 'btn btn-xs btn-danger' %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to t('.new', :default => t("helpers.links.new")),
    new_testimony_path,
    :class => 'btn btn-primary' %>
  </div>
</div>
:class => 'btn btn-primary' %>
