<section class="mt-3">
  <div class="container">
    <div class="w-75 m-auto border border-info shadow p-4">
      <div class="text-center">
        <h3>Mohon Lengkapi Data Berikut ini</h3>
      </div>
      <% if @user.errors.any? %>
      <div class="error_messages">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <%= form_for @user, html: {class: "was-validated" }, :url => wizard_path, :method => :put do |f| %>
      <div class="d-block mb-3">
        <p class="mb-0"><strong>Darimana Anda Mengetahui Aplikasi Ini?:</strong></p>
        <%= f.select :register_source, User::SOURCE.map{|x| x.titleize },{:prompt => 'Pilih Atau Isi dengan Sumber Lainnya'}, {class:'selectize', required:true} %>
      </div>
      <div class="d-block mb-3">

        <p class="mb-0"><strong>Usia:</strong></p>
        <div class="d-inline-block custom-control custom-radio mr-3">
          <input type="radio" class="custom-control-input" id="sd" name="user[range_age]" value="6 - 12" required>
          <label class="custom-control-label" for="sd">6 - 12</label>
        </div>
        <div class="d-inline-block custom-control custom-radio mr-3">
          <input type="radio" class="custom-control-input" id="smp" name="user[range_age]" value="13 - 16" required>
          <label class="custom-control-label" for="smp">13 - 16</label>
        </div>
        <div class="d-inline-block custom-control custom-radio mr-3">
          <input type="radio" class="custom-control-input" id="sma" name="user[range_age]" value="17 - 20" required>
          <label class="custom-control-label" for="sma">17 - 20</label>
        </div>
        <div class="d-inline-block custom-control custom-radio mr-3">
          <input type="radio" class="custom-control-input" id="mhs" name="user[range_age]" value="21 - 27" required>
          <label class="custom-control-label" for="mhs">21 - 27</label>
        </div>
        <div class="d-inline-block custom-control custom-radio ">
          <input type="radio" class="custom-control-input" id="Pekerja" name="user[range_age]" value=" > 28" required>
          <label class="custom-control-label" for="Pekerja">> 28 </label>
        </div>
      </div>
      <div class="d-block mb-3">
        <p class="mb-0"><strong>Jenis Kelamin</strong></p>
        <div class="d-inline-block custom-control custom-radio mr-3">
          <input type="radio" class="custom-control-input" id="gndr-lk" name="user[gender]" value="Laki-laki" required>
          <label class="custom-control-label" for="gndr-lk">Laki-laki</label>
        </div>
        <div class="d-inline-block custom-control custom-radio ">
          <input type="radio" class="custom-control-input" id="gndr-pr" name="user[gender]" value="Perempuan" required>
          <label class="custom-control-label" for="gndr-pr">Perempuan<label>
          </div>
        </div>
        <div class="d-block mb-3">
          <p class="mb-0"><strong>Status Menikah:</strong></p>
          <div class="d-inline-block custom-control custom-radio mr-3">
            <input type="radio" class="custom-control-input" id="menikah" name="user[marital_status]" value="menikah" required>
            <label class="custom-control-label" for="menikah">Menikah</label>
          </div>
          <div class="d-inline-block custom-control custom-radio mr-3">
            <input type="radio" class="custom-control-input" id="belum menikah" name="user[marital_status]" value="belum menikah" required>
            <label class="custom-control-label" for="belum menikah">Belum Menikah</label>
          </div>
        </div>

        <%= f.submit 'Next', :class => 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </section>

  <script type="text/javascript">

  // Code below to avoid the classic date-picker

  </script>
