<section class="mt-3">
  <div class="container">
    <div class="w-75 m-auto border border-info shadow p-4">
      <div class="text-center">
        <h3>Mohon Lengkapi Data Berikut ini</h3>
      </div>
      <% if @user.errors.any? %>
      <div class="error_messages">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <%= form_for @user, html: {class: "was-validated" }, :url => wizard_path, :method => :put do |f| %>
      <div class="d-block mb-3">
        <p class="mb-0"><strong>Profession</strong></p>
        <div class="d-inline-block custom-control custom-radio mr-3">
          <input type="radio" class="custom-control-input" id="pns" name="user[occupation]" value="Pegawai Negeri" required>
          <label class="custom-control-label" for="pns">Pegawai Negeri</label>
        </div>
        <div class="d-inline-block custom-control custom-radio mr-3">
          <input type="radio" class="custom-control-input" id="ks" name="user[occupation]" value="Karyawan Swasta" required>
          <label class="custom-control-label" for="ks">Karyawan Swasta<label>
          </div>
          <div class="d-inline-block custom-control custom-radio ">
            <input type="radio" class="custom-control-input" id="lainnya" name="user[occupation]" value="Lainnya" required>
            <label class="custom-control-label" for="lainnya">Lainnya<label>
            </div>
          </div>
          <div class="d-block mb-3">
            <p class="mb-0"><strong>Provinsi</strong></p>
            <div class="form-group">
              <%= f.collection_select :province_id, Province.order(:name), :code , :name, style: "display:block;include_blank: true", :prompt => "Select Provinsi", class: 'form-control' %>
            </div>
          </div>
          <div class="d-block mb-3">
            <p class="mb-0"><strong>Kota</strong></p>
            <div class="form-group">
              <%= f.grouped_collection_select :city_id, Province.order(:name), :regencies, :name, :id , :name, style: "width:275px;display:block", :prompt => "Select Area", required: true, class: 'form-control' %>
            </div>
          </div>
          <%= f.submit 'Next', :class => 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </section>

    <script type="text/javascript">
    var locations;
    var areas;
    $('#user_city_id').attr('required', 'required');
    $('#property_area_id').attr('required', 'required');
    areas = $('#property_area_id').html();
    locations = $('#user_city_id').html();

    $('#user_province_id').change(function () {
      var region,
      escaped_region,
      options;
      region = $('#user_province_id :selected').text();
      escaped_region = region.replace(/([ #;&,.+*~\':"!^$[\]()=>|\/@])/g, '\\$1');
      options = $(locations).filter("optgroup[label=" + escaped_region + "]").html();
      if (options) {
        $('#user_city_id').html(options);
        return $('#user_city_id').removeAttr("disabled");

      } else {
        $('#user_city_id').empty();
        return $('#user_city_id').attr('required', 'required');
        return $('#property_area_id').addClass("hide");

      }

    });
    </script>
