<section style="height:100vh" class="d-flex align-items-center">
  <div class="container">
    <div class="text-center">
      <img src="<%= asset_url('logo-with-url.png') %>" alt="" class="mb-3 mw-100" >
      <p class="mb-5">
        Motivator dan Sahabat sejati siapa saja <br>
        Bisa curhat kapan saja, dimana saja
      </p>
    </div>
    <div class="row justify-content-center mb-5">
      <div class="col-md-5 ">
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="p-3 box bubble shadow-lg" >
          <%= form_for(:user, as: :user, url: session_path(:user)) do |f| %>
          <div class="form-group mt-3">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text pill-border"><i class="fa fa-user" aria-hidden="true"></i></div>
              </div>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control border-left-0 pill-border", placeholder: 'email'  %>
            </div>
          </div>
          <div class="form-group mt-3 mb-3">
            <div class="input-group mb-2" id="show_hide_password">
              <div class="input-group-prepend">
                <div class="input-group-text pill-border"><i class="fa fa-lock" aria-hidden="true"></i></div>
              </div>
              <%= f.password_field :password, autocomplete: "current-password", class:"form-control border-left-0 border-right-0 pill-border", placeholder:'password' %>
              <div class=" input-group-text input-group-addon" style="border-left: 0;
    border-radius: 0;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-right: 1px solid #ced4da">
                <a href="javascript:void(0)"><i id="eye" class="fa fa-eye-slash" aria-hidden="true"></i></a>
              </div>
            </div>

          </div>
          <% if devise_mapping.rememberable? %>
          <div class="d-block text-center">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
          <div class="d-block text-center mt-3 mb-3">
            <%= link_to "lupa password?", new_user_password_path , class:"text-gray" %><br />
          </div>
          <% end %>
          <div class="d-block mt-2">
            <button type="submit" class="btn btn-primary w-75 m-auto d-block pill-border btn-blue">Masuk</button>
          </div>
        </div>
        <% end %>

      </div>
    </div>

    <div class="text-center">
      <a href="<%= new_user_registration_path %>" class="text-gray">
        daftar akun baru?
      </a>
    </div>
  </div>
</section>
