<%= form_for @promo, :html => { :class => "form-horizontal promo" } do |f| %>

  <% if @promo.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@promo.errors.count, "error") %> prohibited this promo from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @promo.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :code, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :code, :class => 'form-control' %>
    </div>
    <%=f.error_span(:code) %>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :description, :class => 'form-control', row: 5 %>
    </div>
    <%=f.error_span(:description) %>
  </div>
  <div class="form-group">
    <%= f.label :discount,'Discount %', :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :discount, :class => 'form-control' %>
    </div>
    <%=f.error_span(:discount) %>
  </div>
  <div class="form-group">
    <%= f.label :limit, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :limit, :class => 'form-control' %>
    </div>
    <%=f.error_span(:limit) %>
  </div>
  <div class="form-group">
    <%= f.label :status, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <div class="custom-control custom-switch">

        <!-- Default checked -->
      <div class="custom-control custom-switch">
        <%= f.check_box :status , class: "custom-control-input"%>
        <label class="custom-control-label" for="promo_status">Aktif</label>
      </div>
      </div>
    </div>
    <%=f.error_span(:status) %>
  </div>
  <div class="form-group">
    <%= f.label :promo_type, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select :promo_type, Promo::Type.map {|c| [c.to_s.titleize, c] },{},{:class=>"w-100 form-control select2"}%>
    </div>
    <%=f.error_span(:promo_type) %>
  </div>
  <div class="form-group">
    <div class="row mb-3">
      <div class="col">
        <%= f.date_field :start_date, :class => 'form-control' %>
      </div>
      <div class="col">
        <%= f.date_field :end_date, :class => 'form-control' %>
      </div>
    </div>
  </div>


  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                promos_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>



<script type="text/javascript">
  $("input[type=date]").datepicker({
  dateFormat: 'yy-mm-dd',
  onSelect: function(dateText, inst) {
    $(inst).val(dateText); // Write the value in the input
  }
});

// Code below to avoid the classic date-picker

</script>
