<%- model_class = Promo -%>
<div class="page-breadcrumb">
  <div class="row">
    <div class="col-5 align-self-center">

    </div>
    <div class="col-7 align-self-center">
      <div class="d-flex align-items-center justify-content-end">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="<%= dashboard_index_path %>">Home</a>
            </li>
            <li class="breadcrumb-item"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h1 class="page-title">Kode Promo</h1>
          <table class="table table-striped">
            <thead>
              <tr>
                <th><%= model_class.human_attribute_name(:id) %></th>
                <th><%= model_class.human_attribute_name(:name) %></th>
                <th><%= model_class.human_attribute_name(:code) %></th>
                <th><%= model_class.human_attribute_name(:limit) %></th>
                <th>Total User</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th><%=t '.actions', :default => t("helpers.actions") %></th>
              </tr>
            </thead>
            <tbody>
              <% @promos.each do |promo| %>
              <tr>
                <td><%= link_to promo.id, promo_path(promo) %></td>
                <td><%= promo.name %></td>
                <td><%= promo.code %></td>
                <td><%= promo.limit %></td>
                <td><%= User.where(signup_referral_code: promo.code).count + Payment.where(promo_code: promo.code).count %></td>
                <td><%=promo.start_date.strftime("%e %B %Y  %T ") rescue "" %></td>
                <td><%=promo.end_date.strftime("%e %B %Y  %T ") rescue "" %></td>
                <td>
                  <%= link_to t('.show', :default => t("helpers.links.show")),
                  promo_path(promo), :class => 'btn btn-default btn-xs' %>
                  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_promo_path(promo), :class => 'btn btn-default btn-xs' %>
                  <%# link_to t('.destroy', :default => t("helpers.links.destroy")),
                  promo_path(promo),
                  :method => :delete,
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-xs btn-danger' %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <%= link_to t('.new', :default => t("helpers.links.new")),
  new_promo_path,
  :class => 'btn btn-primary' %>
