<div class="card">
  <div class="card-body">
    <%- model_class = Promo -%>
    <div class="page-header">
      <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
    </div>

    <dl class="dl-horizontal">
      <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
      <dd><%= @promo.name %></dd>
      <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
      <dd><%= @promo.description %></dd>
      <dt><strong><%= model_class.human_attribute_name(:discount) %>:</strong></dt>
      <dd><%= @promo.discount %></dd>
      <dt><strong><%= model_class.human_attribute_name(:limit ) %>:</strong></dt>
      <dd><%= @promo.limit %></dd>
    </dl>
    <h1>Pengguna Promo</h1>
    <% if @promo.promo_type == 'promo-code' %>
    <table  class="table table-striped">
      <thead>
        <tr>
          <th>User</th>
          <th>Package</th>
          <th>Tanggal</th>
        </tr>
      </thead>

      <tbody>
        <% Payment.where(promo_code: @promo.code).each do |payment| %>
          <tr>
            <td><%= payment.user.full_name rescue "" %></td>
            <td><%= payment.package.name rescue "" %></td>
            <td><%= payment.created_at rescue "" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% else %>
    <h3>User Register With this Code</h3>
    <ul>
      <% User.where(signup_referral_code: @promo.code).each do |x| %>
      <li> <a href="#"> <%= x.full_name %> - <%= x.email %> </a></li>
      <% end %>
    </ul>

    <% end %>
  </div>
</div>
