<%= form_with(model: payment, local: true) do |form| %>
  <% if payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :payment_user_id %>
  </div>

  <div class="field">
    <%= form.label :package_id %>
    <%= form.text_field :package_id, id: :payment_package_id %>
  </div>

  <div class="field">
    <%= form.label :promo_id %>
    <%= form.text_field :promo_id, id: :payment_promo_id %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :payment_status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
