<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @payment.user_id %>
</p>

<p>
  <strong>Package:</strong>
  <%= @payment.package_id %>
</p>

<p>
  <strong>Promo:</strong>
  <%= @payment.promo_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @payment.status %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
