<%= form_with(model: notification_datum, local: true) do |form| %>
  <% if notification_datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(notification_datum.errors.count, "error") %> prohibited this notification_datum from being saved:</h2>

      <ul>
      <% notification_datum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :endpoint %>
    <%= form.text_field :endpoint, id: :notification_datum_endpoint %>
  </div>

  <div class="field">
    <%= form.label :p256dh_key %>
    <%= form.text_field :p256dh_key, id: :notification_datum_p256dh_key %>
  </div>

  <div class="field">
    <%= form.label :auth_key %>
    <%= form.text_field :auth_key, id: :notification_datum_auth_key %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
