<p id="notice"><%= notice %></p>

<h1>Notification Data</h1>

<table>
  <thead>
    <tr>
      <th>Endpoint</th>
      <th>P256dh key</th>
      <th>Auth key</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notification_data.each do |notification_datum| %>
      <tr>
        <td><%= notification_datum.endpoint %></td>
        <td><%= notification_datum.p256dh_key %></td>
        <td><%= notification_datum.auth_key %></td>
        <td><%= link_to 'Show', notification_datum %></td>
        <td><%= link_to 'Edit', edit_notification_datum_path(notification_datum) %></td>
        <td><%= link_to 'Destroy', notification_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Notification Datum', new_notification_datum_path %>
