<p id="notice"><%= notice %></p>

<p>
  <strong>Endpoint:</strong>
  <%= @notification_datum.endpoint %>
</p>

<p>
  <strong>P256dh key:</strong>
  <%= @notification_datum.p256dh_key %>
</p>

<p>
  <strong>Auth key:</strong>
  <%= @notification_datum.auth_key %>
</p>

<%= link_to 'Edit', edit_notification_datum_path(@notification_datum) %> |
<%= link_to 'Back', notification_data_path %>
