<%= form_for @biodatum, :html => { :class => "form-horizontal biodatum" } do |f| %>

  <% if @biodatum.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@biodatum.errors.count, "error") %> prohibited this biodatum from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @biodatum.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
<style media="screen">
  .avatars > input{
  display: none;
}

.avatars > input + img{
  cursor: pointer;
  border: 2px solid transparent;
}

.avatars > input:checked + img{
  border: 2px solid red;
}
</style>
<div class="d-flex">
  <label class="avatars">
    <input type="radio" name="biodatum[avatar]" value="<%= asset_url("ap-1.png") %>" />
    <img src="<%= asset_url("ap-1.png") %>" alt=""/>
  </label>

  <label class="avatars">
    <input type="radio" name="biodatum[avatar]" value="<%= asset_url("ap-2.png") %>"/>
    <img src="<%= asset_url("ap-2.png") %>" alt=""/>
  </label>

  <label class="avatars">
    <input type="radio"name="biodatum[avatar]" value="<%= asset_url("ap-3.png") %>"/>
    <img src="<%= asset_url("ap-3.png") %>" alt=""/>
  </label>

  <label class="avatars">
    <input type="radio" name="biodatum[avatar]" value="<%= asset_url("ap-4.png") %>"/>
    <img src="<%= asset_url("ap-4.png") %>" alt=""/>
  </label>

</div>
  <div class="form-group">
    <%= f.label :gender, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :gender, :class => 'form-control' %>
    </div>
    <%=f.error_span(:gender) %>
  </div>
  <div class="form-group">
    <%= f.label :age_range, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :age_range, :class => 'form-control' %>
    </div>
    <%=f.error_span(:age_range) %>
  </div>
  <div class="form-group">
    <%= f.label :occupation, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :occupation, :class => 'form-control' %>
    </div>
    <%=f.error_span(:occupation) %>
  </div>
  <div class="form-group">
    <%= f.label :story, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :story, :class => 'form-control', rows: 10 %>
    </div>
    <%=f.error_span(:story) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                biodata_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
