<%- model_class = Biodatum -%>
<div class="card">
  <div class="card-body">
    <div class="page-header">
      <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:age_range) %></th>
      <th><%= model_class.human_attribute_name(:gender) %></th>
      <th><%= model_class.human_attribute_name(:occupation) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @biodata.each do |biodatum| %>
      <tr>
        <td><%= link_to biodatum.id, biodatum_path(biodatum) %></td>
        <td><%= biodatum.age_range %></td>
        <td><%= biodatum.gender %></td>
        <td><%= biodatum.occupation %></td>
        <td><%=l biodatum.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      biodatum_path(biodatum), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_biodatum_path(biodatum), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      biodatum_path(biodatum),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
              </table>

              <%= link_to t('.new', :default => t("helpers.links.new")),
                        new_biodatum_path,
                        :class => 'btn btn-primary' %>

                          </div>
                        </div>
