<%- model_class = Biodatum -%>


<div class="row justify-content-center">
    <div class="col-md-6">
      <div class="page-header">
        <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-2">
              <img src="<%= @biodatum.avatar %>" class="mw-100" alt="">
            </div>
            <div class="col-md-8">
              <dd> <h3 style="font-size: 25px;"Range Umur: <%= @biodatum.age_range %></h3></dd>
              <dd> <h4 style="font-size: 20px;font-weight:700">Jenis Kelamin: <%= @biodatum.gender %></h4></dd>
              <dd> <h4 style="font-size: 20px;font-weight:700">Pekerjaan:  <%= @biodatum.occupation %></h4></dd>
              <dd> <h4 style="font-size: 20px;font-weight:700"> Story:</h4>
                <p><%= @biodatum.story.gsub(/\n/, '<br/>').html_safe %></p>
              </dd>
            </div>
          </div>

        </div>
      </div>
      <div class="mt-3">

        <%= link_to t('.back', :default => t("helpers.links.back")),
        biodata_path, :class => 'btn btn-default'  %>
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
        edit_biodatum_path(@biodatum), :class => 'btn btn-default' %>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
        biodatum_path(@biodatum),
        :method => 'delete',
        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
        :class => 'btn btn-danger' %>
      </div>

    </div>
</div>
