<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="p-3 shadow" style="height:500px;overflow-y:scroll">
          <div class="d-block mb-3">
            <%= form_for @conversation, html: {class: "was-validated" }, :url => wizard_path, :method => :put do |f| %>
            <div class="text-center">
              <p class="text-blue-dark"><i>Silahkan ceritakan apa yang menjadibeban/permasalahan sahabat</i></p>
            </div>

            <div class="my-5">
              <textarea class="form-control" rows="15" required="required" name="conversation[message]" id="message_box_message"></textarea>
            </div>

            <div class="text-right">
              <%= f.submit 'Submit', :class => 'btn-text' %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
