<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="p-3 shadow" style="height:500px;overflow-y:scroll">
          <div class="d-block mb-3">
            <div class="text-center">
              <h2 class="text-blue-dark" style="text-transform: uppercase;">Ada Apa Dengan <%= @conversation.problem_category.name %> Anda ?</h2>
            </div>
            <%= form_for @conversation, html: {class: "was-validated" }, :url => wizard_path, :method => :put do |f| %>
            <% if @conversation.problem_category_id == 1 %>
            <div style=""  id="dtl-percintaan">
              <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                <input type="radio" class="custom-control-input" id="Orang ketiga" name="conversation[question_2]" value="Orang ketiga" required>
                <label style="text-transform:capitalize;" class="custom-control-label" for="Orang ketiga">Orang ketiga</label>
              </div>
              <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                <input type="radio" class="custom-control-input" id="posesif berlebihan" name="conversation[question_2]" value="posesif berlebihan" required>
                <label style="text-transform:capitalize;" class="custom-control-label" for="posesif berlebihan">posesif berlebihan</label>
              </div>
              <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                <input type="radio" class="custom-control-input" id="galau menentukan pilihan" name="conversation[question_2]" value="galau menentukan pilihan" required>
                <label style="text-transform:capitalize;" class="custom-control-label" for="galau menentukan pilihan">galau menentukan pilihan</label>
              </div>
              <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                <input type="radio" class="custom-control-input" id="gagal menjalin hubungan" name="conversation[question_2]" value="gagal menjalin hubungan" required>
                <label style="text-transform:capitalize;" class="custom-control-label" for="gagal menjalin hubungan">gagal menjalin hubungan</label>
              </div>
              <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                <input type="radio" class="custom-control-input" id="mencintai-orang-tidak-tepat" name="conversation[question_2]" value="mencintai orang tidak tepat" required>
                <label style="text-transform:capitalize;" class="custom-control-label" for="mencintai-orang-tidak-tepat">mencintai orang tidak tepat</label>
              </div>
              <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                <input type="radio" class="custom-control-input" id="perbedaan-pendapat" name="conversation[question_2]" value="perbedaan pendapat" required>
                <label style="text-transform:capitalize;" class="custom-control-label" for="perbedaan-pendapat">perbedaan pendapat</label>
              </div>
              <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                <input type="radio" class="custom-control-input" id="perbedaan-keyakinan" name="conversation[question_2]" value="perbedaan keyakinan" required>
                <label style="text-transform:capitalize;" class="custom-control-label" for="perbedaan-keyakinan">perbedaan keyakinan</label>
              </div>
              <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                <input type="radio" class="custom-control-input" id="jenuh" name="conversation[question_2]" value="jenuh" required>
                <label style="text-transform:capitalize;" class="custom-control-label" for="jenuh">jenuh</label>
              </div>
              <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                <input type="radio" class="custom-control-input" id="kesalah-pahaman" name="conversation[question_2]" value="kesalah pahaman" required>
                <label style="text-transform:capitalize;" class="custom-control-label" for="kesalah-pahaman">kesalah pahaman</label>
              </div>
              <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                <input type="radio" class="custom-control-input" id="pacaran-tidak-sehat" name="conversation[question_2]" value="pacaran tidak sehat" required>
                <label style="text-transform:capitalize;" class="custom-control-label" for="pacaran-tidak-sehat">pacaran tidak sehat</label>
              </div>
              <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                <input type="radio" class="custom-control-input" id="trauma-dalam-percintaan" name="conversation[question_2]" value="trauma dalam percintaan" required>
                <label style="text-transform:capitalize;" class="custom-control-label" for="trauma-dalam-percintaan">trauma dalam percintaan</label>
              </div>
            </div>
            <% elsif @conversation.problem_category_id == 2 %>
            <div style=""  id="dtl-keuangan">
              <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                <input type="radio" class="custom-control-input" id="terlilit-hutang" name="conversation[question_2]" value="Terlilit hutang (#BANK, #TEMAN, #RENTENIR, #PINAJAMAN ONLINE)" required>
                <label style="text-transform:capitalize;" class="custom-control-label" for="terlilit-hutang">Terlilit hutang (#BANK, #TEMAN, #RENTENIR, #PINAJAMAN ONLINE)</label>
              </div>

              <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                <input type="radio" class="custom-control-input" id="tidak-memiliki-tabungan-atau-investasi-apapun" name="conversation[question_2]" value="Tidak memiliki tabungan atau investasi apapun" required>
                <label style="text-transform:capitalize;" class="custom-control-label" for="tidak-memiliki-tabungan-atau-investasi-apapun">Tidak memiliki tabungan atau investasi apapun</label>
              </div>

              <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                <input type="radio" class="custom-control-input" id="gagal-dalam-menjalankan-usaha" name="conversation[question_2]" value="Gagal dalam menjalankan usaha" required>
                <label style="text-transform:capitalize;" class="custom-control-label" for="gagal-dalam-menjalankan-usaha">Gagal dalam menjalankan usaha</label>
              </div>

              <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                <input type="radio" class="custom-control-input" id="bergaya-hidup-konsumtif" name="conversation[question_2]" value="Bergaya hidup konsumtif" required>
                <label style="text-transform:capitalize;" class="custom-control-label" for="bergaya-hidup-konsumtif">Bergaya hidup konsumtif</label>
              </div>

              <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                <input type="radio" class="custom-control-input" id="terlalu-banyak-keinginan" name="conversation[question_2]" value="Terlalu banyak keinginan" required>
                <label style="text-transform:capitalize;" class="custom-control-label" for="terlalu-banyak-keinginan">Terlalu banyak keinginan</label>
              </div>

              <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                <input type="radio" class="custom-control-input" id="berurusan-dengan-bank" name="conversation[question_2]" value="Berurusan dengan bank" required>
                <label style="text-transform:capitalize;" class="custom-control-label" for="berurusan-dengan-bank">Berurusan dengan bank</label>
              </div>

              <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                <input type="radio" class="custom-control-input" id="xKesulitan-memenuhi-kebutuhan-sehari-hari" name="conversation[question_2]" value="Kesulitan memenuhi kebutuhan sehari-hari" required>
                <label style="text-transform:capitalize;" class="custom-control-label" for="xKesulitan-memenuhi-kebutuhan-sehari-hari">Kesulitan memenuhi kebutuhan sehari-hari</label>
              </div>

              <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                <input type="radio" class="custom-control-input" id="biaya-pengobatan" name="conversation[question_2]" value="Biaya pengobatan" required>
                <label style="text-transform:capitalize;" class="custom-control-label" for="biaya-pengobatan">Biaya pengobatan</label>
              </div>
            </div>
            <% elsif @conversation.problem_category_id == 3 %>
            <div style=""  id="dtl-keluarga">
              <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                <input type="radio" class="custom-control-input" id="orang-ketiga" name="conversation[question_2]" value="orang ketiga" required>
                <label style="text-transform:capitalize;" class="custom-control-label" for="orang-ketiga">orang ketiga</label>
              </div>

              <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                <input type="radio" class="custom-control-input" id="harta-warisan" name="conversation[question_2]" value="harta warisan" required>
                <label style="text-transform:capitalize;" class="custom-control-label" for="harta-warisan">harta warisan</label>
              </div>

              <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                <input type="radio" class="custom-control-input" id="perbedaan-pendapat" name="conversation[question_2]" value="perbedaan pendapat" required>
                <label style="text-transform:capitalize;" class="custom-control-label" for="perbedaan-pendapat">perbedaan pendapat</label>
              </div>

              <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                <input type="radio" class="custom-control-input" id="perbedaan-keyakinan" name="conversation[question_2]" value="perbedaan keyakinan" required>
                <label style="text-transform:capitalize;" class="custom-control-label" for="perbedaan-keyakinan">perbedaan keyakinan</label>
              </div>

              <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                <input type="radio" class="custom-control-input" id="pilih-kasih" name="conversation[question_2]" value="pilih kasih" required>
                <label style="text-transform:capitalize;" class="custom-control-label" for="pilih-kasih">pilih kasih</label>
              </div>

              <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                <input type="radio" class="custom-control-input" id="xpermasalahan-anak" name="conversation[question_2]" value="permasalahan anak (#kecanduan game, #pergaulan bebas, #sulit di kendalikan, # Belum dikarunia momongan)" required>
                <label style="text-transform:capitalize;" class="custom-control-label" for="xpermasalahan-anak">permasalahan anak (#kecanduan game, #pergaulan bebas, #sulit di kendalikan, # Belum dikarunia momongan)</label>
              </div>

              <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                <input type="radio" class="custom-control-input" id="xpermasalahan-orang-tua" name="conversation[question_2]" value="permasalahan orang tua (#permasalahan  mertua,  #permasalahan saudara, #misskomunikasi)" required>
                <label style="text-transform:capitalize;" class="custom-control-label" for="xpermasalahan-orang-tua">permasalahan orang tua (#permasalahan  mertua,  #permasalahan saudara, #misskomunikasi)</label>
              </div>

              <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                <input type="radio" class="custom-control-input" id="xsulit membagi waktu" name="conversation[question_2]" value="sulit membagi waktu" required>
                <label style="text-transform:capitalize;" class="custom-control-label" for="xsulit membagi waktu">sulit membagi waktu</label>
              </div>

              <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                <input type="radio" class="custom-control-input" id="xbroken home" name="conversation[question_2]" value="broken home" required>
                <label style="text-transform:capitalize;" class="custom-control-label" for="xbroken home">broken home</label>
              </div>

              <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                <input type="radio" class="custom-control-input" id="xdll" name="conversation[question_2]" value="dll" required>
                <label style="text-transform:capitalize;" class="custom-control-label" for="xdll">dll</label>
              </div>
            </div>
            <% elsif @conversation.problem_category_id == 4 %>
            <div style=""  id="dtl-pertemanan">
              <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                <input type="radio" class="custom-control-input" id="misskomunikasi" name="conversation[question_2]" value="Misskomunikasi" required>
                <label style="text-transform:capitalize;" class="custom-control-label" for="misskomunikasi">Misskomunikasi</label>
              </div>
              <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                <input type="radio" class="custom-control-input" id="berbeda-pendapat" name="conversation[question_2]" value="Berbeda pendapat" required>
                <label style="text-transform:capitalize;" class="custom-control-label" for="berbeda-pendapat">Berbeda pendapat</label>
              </div>
              <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                <input type="radio" class="custom-control-input" id="terlau-perasa-sensitive" name="conversation[question_2]" value="Terlau perasa/sensitive" required>
                <label style="text-transform:capitalize;" class="custom-control-label" for="terlau-perasa-sensitive">Terlau perasa/sensitive</label>
              </div>
              <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                <input type="radio" class="custom-control-input" id="mementingkan-kepentingan-pribadi" name="conversation[question_2]" value="Mementingkan kepentingan pribadi (egois)" required>
                <label style="text-transform:capitalize;" class="custom-control-label" for="mementingkan-kepentingan-pribadi">Mementingkan kepentingan pribadi (egois)</label>
              </div>
              <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                <input type="radio" class="custom-control-input" id="bullying" name="conversation[question_2]" value="Bullying" required>
                <label style="text-transform:capitalize;" class="custom-control-label" for="bullying">Bullying</label>
              </div>
            </div>
            <% elsif @conversation.problem_category_id == 6 %>
            <div style=""  id="dtl-studi">
              <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                <input type="radio" class="custom-control-input" id="pekerjaandiharapkan" name="conversation[question_2]" value="pekerjaan tidak sesuai dengan yang diharapkan" required>
                <label style="text-transform:capitalize;" class="custom-control-label" for="pekerjaandiharapkan">pekerjaan tidak sesuai dengan yang diharapkan</label>
              </div>

              <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                <input type="radio" class="custom-control-input" id="inginsampingan" name="conversation[question_2]" value="ingin memulai bisnis sampingan" required>
                <label style="text-transform:capitalize;" class="custom-control-label" for="inginsampingan">ingin memulai bisnis sampingan</label>
              </div>

              <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                <input type="radio" class="custom-control-input" id="bekerjais" name="conversation[question_2]" value="bekerja/berbisnis" required>
                <label style="text-transform:capitalize;" class="custom-control-label" for="bekerjais">bekerja/berbisnis</label>
              </div>

              <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                <input type="radio" class="custom-control-input" id="kuliahkerja" name="conversation[question_2]" value="kuliah/bekerja" required>
                <label style="text-transform:capitalize;" class="custom-control-label" for="kuliahkerja">kuliah/bekerja</label>
              </div>

              <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                <input type="radio" class="custom-control-input" id="bingungkuliah" name="conversation[question_2]" value="bingung menentukan jurusan kuliah" required>
                <label style="text-transform:capitalize;" class="custom-control-label" for="bingungkuliah">bingung menentukan jurusan kuliah</label>
              </div>

              <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                <input type="radio" class="custom-control-input" id="kesulitanbelajar" name="conversation[question_2]" value="kesulitan belajar" required>
                <label style="text-transform:capitalize;" class="custom-control-label" for="kesulitanbelajar">kesulitan belajar</label>
              </div>
            </div>
            <% elsif @conversation.problem_category_id == 5 %>
            <div style=""  id="dtl-diri">
              <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                <input type="radio" class="custom-control-input" id="kelainanseksual" name="conversation[question_2]" value="Kelainan seksual" required>
                <label style="text-transform:capitalize;" class="custom-control-label" for="kelainanseksual">Kelainan seksual</label>
              </div>
              <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                <input type="radio" class="custom-control-input" id="tidakemosi" name="conversation[question_2]" value="Tidak dapat mengontrol emosi (#mudah marah, #mudah sedih)" required>
                <label style="text-transform:capitalize;" class="custom-control-label" for="tidakemosi">Tidak dapat mengontrol emosi (#mudah marah, #mudah sedih)</label>
              </div>
              <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                <input type="radio" class="custom-control-input" id="xinsomnia" name="conversation[question_2]" value="Insomnia" required>
                <label style="text-transform:capitalize;" class="custom-control-label" for="xinsomnia">Insomnia</label>
              </div>
              <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                <input type="radio" class="custom-control-input" id="xtdiri" name="conversation[question_2]" value="Tidak percaya diri" required>
                <label style="text-transform:capitalize;" class="custom-control-label" for="xtdiri">Tidak percaya diri</label>
              </div>
              <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                <input type="radio" class="custom-control-input" id="xkecemaserlebihan" name="conversation[question_2]" value="Kecemasan berlebihan" required>
                <label style="text-transform:capitalize;" class="custom-control-label" for="xkecemaserlebihan">Kecemasan berlebihan</label>
              </div>
              <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                <input type="radio" class="custom-control-input" id="xtraumasalalu" name="conversation[question_2]" value="Trauma masa lalu" required>
                <label style="text-transform:capitalize;" class="custom-control-label" for="xtraumasalalu">Trauma masa lalu</label>
              </div>
              <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                <input type="radio" class="custom-control-input" id="kecanduarlarang" name="conversation[question_2]" value="Kecanduan obat-obatan terlarang" required>
                <label style="text-transform:capitalize;" class="custom-control-label" for="kecanduarlarang">Kecanduan obat-obatan terlarang</label>
              </div>
              <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                <input type="radio" class="custom-control-input" id="xkcandugame" name="conversation[question_2]" value="Kecanduan game" required>
                <label style="text-transform:capitalize;" class="custom-control-label" for="xkcandugame">Kecanduan game</label>
              </div>
              <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                <input type="radio" class="custom-control-input" id="xTidmemilikidup" name="conversation[question_2]" value="Tidak memiliki semangat hidup" required>
                <label style="text-transform:capitalize;" class="custom-control-label" for="xTidmemilikidup">Tidak memiliki semangat hidup</label>
              </div>
              <div class=" pl-5 custom-control custom-radio mr-3 text-left">
                <input type="radio" class="custom-control-input" id="xsuliberadaptasi" name="conversation[question_2]" value="Sulit beradaptasi" required>
                <label style="text-transform:capitalize;" class="custom-control-label" for="xsuliberadaptasi">Sulit beradaptasi</label>
              </div>
            </div>
            <% end %>

          </div>
          <div class="text-right mt-3">
            <%= f.submit 'Pertanyaan Berikutnya', :class => 'btn-text' %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
