<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="p-3 shadow" style="height:500px;overflow-y:scroll">
          <div class="d-block mb-3">
            <%= form_for @conversation, html: {class: "was-validated" }, :url => wizard_path, :method => :put do |f| %>
            <div class="text-center">
              <h2 class="text-blue-dark">APAKAH PERASAAN YANG SAHABAT RASAKAN ?</h2>
            </div>

            <div class="my-5">
              <select class="custom-select" name="conversation[question_1]">
                <option value="sedih">Sedih</option>
                <option value="marah">Marah</option>
                <option value="hampa">Hampa</option>
                <option value="tertekan">Tertekan</option>
                <option value="stress">Stress</option>
                <option value="bahagia">Bahagia</option>
              </select>
            </div>

            <div class="text-right">
              <%= f.submit 'Pertanyaan Berikutnya', :class => 'btn-text' %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
