/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require public/bootstrap.min
 *= require font-awesome
 *= require bootstrap-datetimepicker
 *= require admin/bootstrap-switch.min
 *= require admin/dragula.min
 *= require admin/dropify
 *= require admin/dataTables.bootstrap4
 *= require admin/bootstrap-material-datetimepicker
 *= require select2
 *= require select2-bootstrap
 *= require selectize
 *= require selectize.bootstrap3
 *= require morris
 *= require toastr
 *= require admin/style
 */

 section{
   padding: 40px 0;
 }
  .select2-container {
    width: 100% !important;
  }
