<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td>
      <table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
        <tr>
          <td align="center" bgcolor="white" style="padding: 20px 0 20px 0;">
            <img src="https://www.halloarif.id/assets/Hallo-Arif-Gemilang.png"  width="300" alt="Logo halloarif" style="display: block;">
          </td>
        </tr>
        <tr>
          <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;font-family: Arial, sans-serif;">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td style="padding: 20px 0 20px 0;">
                <b>Hai <%= @resource.full_name %>,</b>
                <p>Terima kasih, akun aplikasi sahabat di Hallo Arif telah dapat digunakan.<br>
                  <br>KLIK LINK VERIFIKASI BERIKUT <a href="<%= confirmation_url(@resource, confirmation_token: @token) %>"><%= confirmation_url(@resource, confirmation_token: @token) %></a> <br><br>
                  Segera pilih salah satu paket layanan motivasi yang sobat butuhkan dengan cara mengklik link berikut atau cek produk dalam aplikasi kami</p>

                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td bgcolor="#42c7f1" style="padding: 30px 30px 30px 30px;">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td style="color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;">
                  &reg; Hallo Arif<br/>
                  <a href="#" style="color: #ffffff;"><font color="#ffffff">Subscribe</font></a> to Hallo Arif's newsletter
                </td>
                <td align="right">
                  <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td>
                        <a href="http://www.twitter.com/">
                        <img src="images/tw.gif" alt="Twitter" width="38" height="38" style="display: block;" border="0" />
                        </a>
                      </td>
                      <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
                      <td>
                        <a href="http://www.twitter.com/">
                        <img src="images/fb.gif" alt="Facebook" width="38" height="38" style="display: block;" border="0" />
                        </a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
