<!--articles  -->
<section  style="background-color:#f7f7f7;" id="article">
  <div class="container">
    <div class="text-center mb-5">
      <h2 class="text-warning mb-2"><%= @article_category.name %></h2>
    </div>
    <div class="row">
      <% @articles.each do |x| %>
      <div class="col-md-4 mb-5">
        <div class="card w-100">
          <img class="card-img-top" src="<%= x.image %>" alt="<%= x.title %>">
          <div class="card-body">
            <h5 class="card-title"><%= x.title %></h5>
            <a href="<%= article_path(x.slug) %>" class="btn btn-primary w-100">Selengkapnya</a>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="mt-3">
      <div class="text-center">
          <%= paginate @articles, theme: 'twitter-bootstrap-4' %>
      </div>
    </div>
  </div>
</section>
<!-- articles -->
