<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Hallo Arif Dashboard</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "admin", :media => "all" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.default.min.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <%= javascript_include_tag "admin" %>
    <%=  javascript_include_tag Ckeditor.cdn_url %>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" charset="utf-8"></script>
    <script src="https://js.pusher.com/4.4/pusher.min.js"></script>
  </head>
  <body>
    <div class="preloader">
      <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
      </div>
    </div>
    <div id="main-wrapper">
      <header class="topbar">
        <nav class="navbar top-navbar navbar-expand-md navbar-dark">
          <div class="navbar-header">
            <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)">
              <i class="ti-menu ti-close"></i>
            </a>
            <div class="navbar-brand">
              <a href="<%= root_path %>" class="logo">
                <!-- Logo text -->
                <span class="logo-text">
                  <!-- dark Logo text -->
                  Hallo Arif
                </span>
              </a>
            </div>
            <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <i class="ti-more"></i>
            </a>
          </div>
          <div class="navbar-collapse collapse" id="navbarSupportedContent">
            <ul class="navbar-nav float-left mr-auto">
            </ul>
            <ul class="navbar-nav float-right">
              <% if current_user.is_motivator? %>
              <li clas="nav-item ">
                <a href="#" class="nav-link d-flex align-items-center h-100">
                  <i class="fa fa-star text-warning mr-1" aria-hidden="true"></i>
                  <h3 class="text-dark mb-0">
                    <% a = Conversation.where(motivator_id: current_user.id).where.not(rating: nil).map(&:rating).sum / Conversation.where(motivator_id: current_user.id).where.not(rating: nil).count rescue"5" %>
                    <% b = MessageBox.where(motivator_id: current_user.id).where.not(rating: nil).map(&:rating).sum / MessageBox.where(motivator_id: current_user.id).where.not(rating: nil).count rescue '5' %>
                    <%= (a.to_f + b.to_f) /2 %>
                  </h3>
                </a>
              </li>
              <% end %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle waves-effect waves-dark pro-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: black;">
                  <%= image_tag("user.png", :alt => "rss feed", class: '', width: '40') %>
                  <span class="m-l-5 font-medium d-none d-sm-inline-block"><%= current_user.full_name %> <i class="fa fa-chevron-down"></i></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right user-dd animated flipInY">
                  <span class="with-arrow">
                    <span class="bg-primary"></span>
                  </span>
                  <div class="d-flex no-block align-items-center p-3 bg-primary text-white m-b-10">
                    <div class="">
                      <%= image_tag("user.png", :alt => "rss feed", class: '', width: '40') %>
                    </div>
                    <div class="ml-3">
                      <h4 class="mb-0"><%= current_user.full_name rescue '-' %></h4>
                      <p class="mb-0"><%= current_user.email %></p>
                    </div>
                  </div>

                  <div class="dropdown-cog"></div>
                  <div class="dropdown-divider"></div>
                  <%= link_to destroy_user_session_path,:class => 'dropdown-item', :method => :delete do %>
                    <i class="fa fa-power-off mr-3 ml-3"></i> Logout</a>
                  <% end %>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <aside class="left-sidebar">
        <div class="scroll-sidebar mw-100 px-5">
          <nav class="sidebar-nav">
            <ul id="sidebarnav">
              <li class="sidebar-item">
                <a class="sidebar-link waves-effect waves-dark" href="<%= dashboard_index_path %>">
                  <i class="fa fa-dashboard"></i>
                  <span class="hide-menu">Dashboard </span>
                </a>
              </li>
              <% if current_user.is_human_capital? %>
              <div id="list-notif"></div>
              <li class="sidebar-item">
                <a class="sidebar-link waves-effect waves-dark" href="<%= message_boxes_path %>">
                  <i class="fa fa-database"></i>
                  <span class="hide-menu">Box Uneg Uneg</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link waves-effect waves-dark" href="<%= conversations_path %>">
                  <i class="fa fa-database"></i>
                  <span class="hide-menu">Live Chat</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                  <i class="fa fa-database"></i>
                  <span class="hide-menu">User</span>
                </a>
                <ul aria-expanded="false" class="collapse  first-level">
                  <li class="sidebar-item"><a href="<%= users_path(type:'client') %>" data-method="get" class="sidebar-link"><i class="fa fa-th-list"></i><span class="hide-menu"> Client </span></a></li>
                  <li class="sidebar-item"><a href="<%= users_path(type: 'motivator') %>" class="sidebar-link"><i class="fa fa-th-list"></i><span class="hide-menu"> Motivator </span></a></li>
                </ul>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link waves-effect waves-dark" href="<%= testimonies_path %>">
                  <i class="fa fa-database"></i>
                  <span class="hide-menu">Testimoni</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                  <i class="fa fa-database"></i>
                  <span class="hide-menu">Article</span>
                </a>
                <ul aria-expanded="false" class="collapse  first-level">
                  <li class="sidebar-item"><a href="<%= articles_path(status:'pending') %>" data-method="get" class="sidebar-link"><i class="fa fa-th-list"></i><span class="hide-menu"> Pending Article </span></a></li>
                  <li class="sidebar-item"><a href="<%= articles_path %>" class="sidebar-link"><i class="fa fa-th-list"></i><span class="hide-menu"> All Article </span></a></li>
                </ul>
              </li>
              <li class="sidebar-item">
                  <a class="sidebar-link waves-effect waves-dark" href="<%= videos_path %>" >
                  <i class="fa fa-database"></i>
                  <span class="hide-menu">Video</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link waves-effect waves-dark" href="<%= biodata_path %>">
                  <i class="fa fa-database"></i>
                  <span class="hide-menu">Biodata Motivator</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link waves-effect waves-dark" href="<%= schedules_path %>">
                  <i class="fa fa-database"></i>
                  <span class="hide-menu">Jadwal Motivator</span>
                </a>
              </li>
              <% end %>
               <% if current_user.is_admin? %>
               <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark" href="<%= articles_path %>"><i class="fa fa-database"></i><span class="hide-menu">Artikel</span></a>
               </li>
               <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark" href="<%= sliders_path %>"><i class="fa fa-database"></i><span class="hide-menu">Slider</span></a>
               </li>
               <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark" href="<%= quotes_path %>"><i class="fa fa-database"></i><span class="hide-menu">Quote</span></a>
               </li>
               <% end %>
              <% if current_user.is_finance? %>
              <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark" href="<%= packages_path %>"><i class="fa fa-database"></i><span class="hide-menu">Packages</span></a>
              </li>
              <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark" href="<%= promos_path %>"><i class="fa fa-database"></i><span class="hide-menu">Promo</span></a>
              </li>
              <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark" href="https://account.midtrans.com/login" target="_blank"><i class="fa fa-money"></i><span class="hide-menu">Midtrans</span></a>
              </li>
              <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark" href="https://ibank.bni.co.id/" target="_blank"><i class="fa fa-credit-card-alt"></i><span class="hide-menu">BNI INTERNET BANKING</span></a>
              </li>
              <% end %>
              <% if current_user.is_motivator? %>
              <li class="sidebar-item">
                <a class="sidebar-link waves-effect waves-dark" href="<%= message_boxes_path %>">
                  <i class="fa fa-database"></i>
                  <span class="hide-menu">Box Uneg Uneg</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link waves-effect waves-dark" href="<%= conversations_path %>">
                  <i class="fa fa-database"></i>
                  <span class="hide-menu">Live Chat</span>
                </a>
              </li>
              <% end %>
            </ul>
          </nav>
        </div>
      </aside>
      <div class="page-wrapper pt-5 pb-5">
          <div class="container">
            <%= yield %>
          </div>
      </div>
      <footer class="footer text-center">
        All Rights Reserved by PT.Hallo Arif
      </footer>
    </div>


    <script>
    	function sendPush(){
    		getKeys(false)
    	}
    var vapidPublicKey = new Uint8Array(<%=Base64.urlsafe_decode64($vapid_public).bytes%>);
    function checkNotifs(obj){
       if (!("Notification" in window)) {                                             //1
            console.error("This browser does not support desktop notification");
          }
          // Let's check whether notification permissions have already been granted
          else if (Notification.permission === "granted") {                           //2
            console.log("Permission to receive notifications has been granted");
            getKeys()
          }
          // Otherwise, we need to ask the user for permission
          else if (Notification.permission !== 'denied') {                            //3
            Notification.requestPermission(function (permission) {
                  // If the user accepts, let's create a notification
              if (permission === "granted") {                                         //4
                console.log("Permission to receive notifications has been granted");
                getKeys();
              }
            });
         }
    }
      function getKeys(){
        navigator.serviceWorker.register('/serviceworker.js', {scope: './'})          //5
          .then(function(registration) {
            return registration.pushManager.getSubscription()
              .then(function(subscription) {
                if (subscription) {
                  return subscription;
                }
                return registration.pushManager.subscribe({                           //6
                  userVisibleOnly: true,
                  applicationServerKey: vapidPublicKey
                });
              });
          }).then(function(subscription) {
          		sendNo(subscription.toJSON())
                                               //7
          });
      }
      function sendNo(subscription){
    	$.post('/sendNo', {
        	subscription: subscription,
            message: 'You clicked a button!'
         });
      }
    </script>
    <%- unless flash.empty? %>
    <script type="text/javascript">
    <%- flash.each do |f| %>
    <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'success') %>
    toastr['<%= type %>']('<%= f[1] %>');
    <%- end %>
    toastr.options = {
      "closeButton": true,
      "debug": false,
      "newestOnTop": false,
      "progressBar": true,
      "positionClass": "toast-top-right",
      "preventDuplicates": false,
      "showDuration": "500",
      "hideDuration": "1000",
      "timeOut": "5000",
      "extendedTimeOut": "1000",
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut"
    }
    </script>
    <%- end %>

    <script type="text/javascript">
      $(document).ready(
      function() {
        setInterval(function() {
          $('#list-notif').load('<%= dashboard_partial_notif_path %>');
        }, 3000);
      });
    </script>
  </body>
</html>
