<!DOCTYPE html>
<html lang="id">
<head>
  <%= csrf_meta_tags %>
  <%= display_meta_tags %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <link rel="manifest" href="/manifest.json" />

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <!-- animate css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
  <!-- lightbox -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.6/jquery.fancybox.css">

  <!-- Font -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,900&display=swap" rel="stylesheet">
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight.js"></script>
  <!-- lightbox  -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
  <!-- hover -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.2.0/jquery.countdown.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
  <script src="https://js.pusher.com/4.4/pusher.min.js"></script>
  <script type="text/javascript"
  src="https://app.midtrans.com/snap/snap.js"
  data-client-key="Mid-client-pzOXwyveYJr6a9v7"></script>
  <script>


  var pusher = new Pusher('15a53980776b3ef247a6', {
    cluster: 'ap1',
    forceTLS: true
  });

  var channel = pusher.subscribe('my-channel');
  channel.bind('my-event', function(data) {
    alert(JSON.stringify(data));
  });
  </script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122595951-1"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-122595951-1');
</script>

<link rel="manifest" href="/manifest.json" />
<meta name="apple-mobile-web-app-capable" content="yes"></head>

<body>
  <!-- navigation -->
  <nav class="navbar navbar-expand-lg sticky-top scrolled shadow">
    <div class="container">
      <a class="navbar-brand d-none d-lg-block" href="<%= gotoid(action_name) %>#home"><img src="<%= asset_url('Hallo-Arif-Gemilang.png') %>" alt=""> </a>
      <div class="d-flex justify-content-between align-content-center" id="logo-position">

        <button class="navbar-toggler" type="button" onclick="openNav()">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
        <a class="navbar-brand d-xs-block d-md-block d-lg-none" href="<%= root_path %>"><img src="<%= asset_url('Hallo-Arif-Gemilang.png') %>" alt=""></a>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto" id="navbar">
          <% if user_signed_in? %>
          <li class="nav-item">
            <a class="nav-link" href="<%= dashboard_index_path %>">Box Uneg - Uneg </a>
          </li>
          <% else %>
          <li class="nav-item">
            <a class="nav-link" href="<%= gotoid(action_name) %>#box-uneg-uneg">Box Uneg - Uneg </a>
          </li>
          <% end  %>

          <li class="nav-item">
            <a class="nav-link" href="<%= gotoid(action_name) %>#quote">Quote</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= gotoid(action_name) %>#article">Story</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.youtube.com/channel/UCzvMLugHnN0wix5-lHWLoZw" target="_blank">Motivadio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= about_path %>">Tentang kami</a>
          </li>

        </ul>
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
          <li class="nav-item position-relative">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Hai, <%= current_user.full_name %><%= current_user.motivator_code %>
            </a>
            <div class="dropdown-menu w-100" aria-labelledby="navbarDropdown">
              <% if current_user.is_client? %>
              <a class="dropdown-item" href="<%= dashboard_index_path %>">Profile</a>
              <% else %>
              <a class="dropdown-item" href="<%= dashboard_index_path %>">Profile</a>
              <% end %>
              <div class="dropdown-divider"></div>
              <%= link_to('Keluar', destroy_user_session_path, method: :delete, class: "dropdown-item") %>
            </div>
          </li>
          <% else %>
          <li class="nav-item">
            <a href="<%= new_user_session_path %>" class="btn btn-primary">
              Masuk
            </a>
          </li>

          <% end %>

        </ul>

      </div>
    </div>
  </nav>
  <!-- navigation -->

  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>


    <% if user_signed_in? %>
    <a href="#">
      Hai, <%= current_user.full_name %> <%= current_user.motivator_code %>
    </a>

    <a href="<%= dashboard_index_path %>">Box Uneg - Uneg </a>

    <% else %>

    <a href="<%= gotoid(action_name) %>#box-uneg-uneg">Box Uneg - Uneg </a>

    <% end  %>


    <a href="<%= gotoid(action_name) %>#quote">Quote</a>


    <a href="<%= gotoid(action_name) %>#article">Story</a>


    <a href="https://www.youtube.com/channel/UCzvMLugHnN0wix5-lHWLoZw" target="_blank">Motivadio</a>


    <a href="<%= about_path %>">Tentang kami</a>

    <% if user_signed_in? %>
    <a class="dropdown-item" href="<%= dashboard_index_path %>">Profile</a>
    <hr style="border: 1px solid white">
    <%= link_to('<i class="fa fa-sign-out" aria-hidden="true"></i> Keluar'.html_safe, destroy_user_session_path, method: :delete, class: "dropdown-item") %>
    <% else %>
    <hr style="border: 1px solid white">
    <a href="<%= new_user_session_path %>" >
      <i class="fa fa-sign-in" aria-hidden="true"></i> LOGIN
    </a>
    <% end %>

  </div>

  <%= yield %>

  <!-- footer  -->
  <section id="footer" class="mb-0" style="background-color:#0066bb;

  <% if action_name == "index" && controller_name =="pages" %>
  padding-top:200px;margin-top:-170px;
  <% end %>
  ">
  <div class="">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link " href="https://www.facebook.com/halloarif.id/" target="_blank">
          <i class="fa fa-facebook-official" aria-hidden="true"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.instagram.com/halloarif.id/" target="_blank">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://twitter.com/BoxUneg" target="_blank">
          <i class="fa fa-twitter-square" aria-hidden="true"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="https://www.youtube.com/channel/UCzvMLugHnN0wix5-lHWLoZw" target="_blank">
          <i class="fa fa-youtube-square" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </div>
</section>
<!-- footer  -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.0/jquery.waypoints.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dot/1.1.2/doT.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
<%= javascript_include_tag 'application' %>
<%- unless flash.empty? %>
<script type="text/javascript">
<%- flash.each do |f| %>
<% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'success') %>
toastr['<%= type %>']('<%= f[1] %>');
<%- end %>
toastr.options = {
  "closeButton": true,
  "debug": false,
  "newestOnTop": false,
  "progressBar": true,
  "positionClass": "toast-top-right",
  "preventDuplicates": false,
  "showDuration": "500",
  "hideDuration": "1000",
  "timeOut": "5000",
  "extendedTimeOut": "1000",
  "showEasing": "swing",
  "hideEasing": "linear",
  "showMethod": "fadeIn",
  "hideMethod": "fadeOut"
}
</script>
<%- end %>

<script type="text/javascript">
$( document ).ready(function() {
  if ($('.rating-value').val() == 0) {
    $('.btn-submit-rating').attr("disabled", true);
  };
  $(".rating").rate({
    selected_symbol_type: 'fontawesome_star',
    max_value: 5,
    step_size: 1,
    update_input_field_name: $(".rating-value"),
  });
  $(".rating").on("change", function(ev, data){

    $('.btn-submit-rating').attr("disabled", false);
  });
});
</script>

<script type="text/javascript">

if ($('.engage-value').val() == 0) {
  $('.btn-submit-engage').attr("disabled", true);
};
$(".engage").rate({
  selected_symbol_type: 'fontawesome_star',
  max_value: 5,
  step_size: 1,
  update_input_field_name: $(".engage-value"),
});
$(".engage").on("change", function(ev, data){

  $('.btn-submit-engage').attr("disabled", false);
});

</script>

</body>
</html>
